<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>&ndash;&gt;-->
        <!---->
      <!--</div>-->
      <div class="job-seeker-sign-in-form">
        <div class="header-title">
          <h4 class="modal-title align-center" id="myModalLabel" translate="signInTechTalent"></h4>
          <p class="align-center" translate="signInTitle"></p>
        </div>
        <a class="ic-info-black" ng-click="closeSignIn()"></a>
      </div>
      <div class="modal-body sign-in-with-fb-gl">
        <div class="sign-in-social">
          <button ng-click="loginBySocial('FACEBOOK')" class="btn-fb"><i class="fa fa-facebook"></i><span translate="signInWithFaceBook"></span></button>
          <p translate="or">Or</p>
          <button ng-click="loginBySocial('GOOGLE')" class="btn-gl"><i class="fa fa-google-plus"></i><span translate="signInWithGooglePlus"</span></button>
        </div>
      </div>
    </div>
  </div>
</div>