<div class="contest-item-row" ng-repeat="contest in contestsList" id="id-{{contest.challengeId}}" ng-class="{'internal': contest.$isInternal}">
  <div class="contest-item-content">
    <div class="challenge-name-col">
      <div translate="challengeName" class="label-col"></div>
      <a href="#/challenge-detail/{{contest.challengeName | nonAscii}}-{{contest.challengeId}}-id" title="{{'viewDetails' | translate}}" target="_blank">
        <i title="{{'publicChallenge' | translate}}"  ng-if="contest.$isPublic"></i>
        <i title="{{'internalChallenge' | translate}}"  ng-if="contest.$isInternal"></i>
        {{contest.challengeName}}
      </a>
      <span class="tag" ng-repeat="skill in contest.technologies">{{skill}}</span>
    </div>
    <div class="challenge-timeline-col">
      <div translate="timeline.schedule" class="label-col"></div>
      <p><span translate="startDate"></span> {{contest.startDateTime}}</p>
      <p><span translate="registerBy"></span> {{contest.registrationDateTime}}</p>
      <p><span translate="submitBy"></span> {{contest.submissionDateTime}}</p>
    </div>
    <div class="challenge-prize-col">
      <div translate="prize" class="label-col"></div>
      <p>${{contest.firstPlaceReward | number:0}}</p>
      <p ng-show="contest.secondPlaceReward !=null">${{contest.secondPlaceReward | number:0}}</p>
      <p ng-show="contest.thirdPlaceReward !=null">${{contest.thirdPlaceReward | number:0}}</p>
    </div>
    <div class="challenge-current-phase-col">
      <div translate="currentPhase" class="label-col"></div>
      <span class="{{contest.$currentState.id}}">{{contest.$currentState.title}}</span>
      <span class="note" translate="{{contest.$currentState.timeLeftTitle}}"></span>
      <!--<span ng-class="{'not-started': (contest | progress:'challenge') =='notStart', 'registration': (contest | progress:'challenge') == 'registration', 'closed': (contest | progress:'challenge') == 'closed', 'in-progress': (contest | progress:'challenge') == 'inProgress'}" translate="{{contest | progress:'challenge'}}"></span>-->
      <!--<span translate="{{contest.progress.timeLeftTranslate}}" translate-value-day-left="{{contestTimeLeft(contest)}}" class="note" />-->
    </div>
    <div class="challenge-registrants-col">
      <div translate="registrants" class="label-col"></div>
      {{contest.numberOfRegistrants}}
    </div>
    <div class="challenge-actions-col">
      <div translate="action" class="label-col"></div>
      <a title="{{'submitPhase' | translate}}" ng-click="submissionForm.showSubmitForm()" ng-show="contest.$currentUserJoined == true">
        <i class="fa fa-paper-plane-o"></i>  |  <span translate="submitPhase"></span>
      </a>
      <!--<a title="{{'submitPhase' | translate}}" ng-click="submissionForm.showSubmitForm()" ng-show="contest.currentUserJoined == true">-->
        <!--<i class="fa fa-paper-plane-o"></i>  |  <span translate="submitPhase"></span>-->
      <!--</a>-->
      <a title="{{'join' | translate}}" ng-show="contest.$currentUserJoined == false" ng-click="joinNow(contest)">
        <i class="fa fa-facebook" ng-if="contest.$isPublic"></i>
        <i class="fa fa-user-plus" ng-if="contest.$isInternal"></i>
        |  <span translate="join"></span>
      </a>
      <!--<a title="{{'join' | translate}}" ng-show="contest.currentUserJoined == false" ng-click="joinNow(contest)">-->
        <!--<i class="fa fa-facebook" ng-if="contest.$isPublic"></i>-->
        <!--<i class="fa fa-user-plus" ng-if="contest.$isInternal"></i>-->
        <!--|  <span translate="join"></span>-->
      <!--</a>-->
    </div>
  </div>
  <join-internal-challenge challenge="contest" cancel="toggleJoinInternalForm" ng-show="$internalForm.visible"
                           ng-if="contest.$isInternal"></join-internal-challenge>
  <submission-challenge challenge="contest" form="submissionForm"></submission-challenge>
</div>