<div class="personal-site-container">
  <div class="techlooper-spotlight-block">
    <h2 translate="techLooperSpotLight"></h2>
    <span class="local-time">{{$root.today}}</span>
  </div>
  <div class="personal-site-content-detail">
    <div class="job-alert-box">
      <h3 translate="itJobCorner"></h3>
      <div class="box-content">
        <div class="it-job-corner-content">
          <div class="col-md-6 left">
            <h4 translate="oneSearchAllJobs"></h4>
            <ul class="left-content">
              <li translate="itJobCornerContent1"></li>
              <li translate="itJobCornerContent2"></li>
              <li translate="itJobCornerContent3"></li>
            </ul>
            <div class="btn-view-more">
              <a href="#/job-listing" class="btn btn-primary btn-flat" translate="searchAll"></a>
            </div>
          </div>
          <div class="col-md-6 right">
            <div class="alert alert-success" ng-show="sendMailSuccessfulMessage">
              <p translate="jobAlertSuccessful"></p>
            </div>
          <div class="alert alert-danger" ng-show="sendMailFailMessage">
              <p translate="jobAlertFail"></p>
          </div>
            <ng-form novalidate name="jobAlertForm" autocomplete="off" isolate-form>
              <div class="send-me-jobs-form">
                <h4 translate="sendMeJobs"></h4>
                <div class="send-me-jobs-field">
                  <label for="jobAlertEmail">{{'emailAddress' | translate}}: <strong>*</strong></label>
                  <input id="jobAlertEmail" type="email" class="input-style"
                         placeholder="{{'jobAlertEmailEx' | translate}}" touchable
                         ng-required="true" ng-model="jobAlert.email" name="email"/>

                  <div class="error-messages" ng-show="jobAlertForm.$submitted || jobAlertForm.email.$dirty">
                    <div translate="requiredThisField" ng-show="jobAlertForm.email.$error.required"/>
                    <div translate="emailInvalid" ng-show="jobAlertForm.email.$error.email"/>
                  </div>
                </div>
                <div class="send-me-jobs-field">
                  <label>{{'keyword' | translate}}:</label>
                  <!--<input id="jobAlertKeywords" type="text" class="input-style" name="keyword"-->
                         <!--placeholder="{{'keywordEx' | translate}}" ng-model="jobAlert.keyword" touchable ng-required="true"/>-->
                  <div auto-suggestion text="jobAlert.keyword" items="jobTitles"
                       get-url="suggestion/jobTitle/" input-model="jobAlert.keyword">
                  </div>
                  <autocomplete name="keyword" ng-model="jobAlert.keyword" data="jobTitles" ng-required="false"
                                attr-placeholder="{{'keywordEx' | translate}}" touchable>
                  </autocomplete>

                  <p class="note" translate="jobSkillCompany"></p>
                  <div class="error-messages" ng-show="jobAlertForm.$submitted || jobAlertForm.keyword.$dirty">
                    <div translate="requiredThisField" ng-show="jobAlertForm.keyword.$error.required"/>
                  </div>
                </div>
                <div class="send-me-jobs-field">
                  <label>{{'location' | translate}}:</label>
                  <selectize config="locationsConfig.config"
                             options="locationsConfig.items"
                             ng-model="jobAlert.locationId" ng-required="false"
                             name="location" class="locationSelectbox"></selectize>
                  <div class="error-messages" ng-show="jobAlertForm.$submitted || jobAlertForm.location.$dirty">
                    <div translate="requiredThisField" ng-show="jobAlertForm.location.$error.required"/>
                  </div>
                </div>
                <div class="send-me-jobs-field submit">
                  <button translate="emailMeJobs" class="btn btn-primary btn-flat" ng-click="createJobAlert()"></button>
                </div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
    <div class="box-container-block left">
      <h3 translate="whatCurrentTrend"></h3>

      <div class="box-content">
        <div class="box-header">
          <h4>{{homePage.termStatistic.term}}</h4>
          <a href="#/analytics/skill/{{homePage.termStatistic.term}}" translate="viewDetails"></a>
        </div>
        <div class="box-content-detail">
          <div class="main-term">
            <div class="main-skill-logo">
              <img ng-src="/{{homePage.termStatistic.logo}}" alt=""/>
            </div>
            <div class="main-skill-info">
              <ul>
                <li><span translate="jobs"></span>:<strong>{{homePage.termStatistic.totalJob}}</strong></li>
                <li><span translate="salaryRange"></span>:
                  <strong>${{homePage.termStatistic.averageSalaryMin | number}} -
                    ${{homePage.termStatistic.averageSalaryMax | number}}</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="top-detail-skill-block">
            <div class="box-header">
              <h4 translate="topskills"></h4>
            </div>
            <top-skill skills="homePage.termStatistic.skills" total-job="homePage.termStatistic.totalJob"
                       number-width="45"/>
          </div>
        </div>
      </div>
      <div class="view-more-items">
        <a href="#/pie-chart" translate="viewMoreTrends"></a>
      </div>
    </div>
    <div class="box-container-block">
      <h3 translate="latestCodingChallenge"></h3>

      <div class="box-content">
        <div class="box-header">
          <h4>
            {{homePage.latestChallenge.challengeName | limitTo: 23}}
            <span ng-show="homePage.latestChallenge.challengeName.length > 23">...</span>
          </h4>
          <a
            href="#/challenge-detail/{{homePage.latestChallenge.challengeName | nonAscii}}-{{homePage.latestChallenge.challengeId}}-id"
            translate="viewDetails"></a>
          <!-- <a href="http://techlooper.com/#/challenge-detail/interactive-job-1436339203843-id" translate="viewDetails"></a> -->
        </div>
        <div class="box-content-detail">
          <div class="row reward-block">
            <div class="col-md-4"
                 ng-class="{'col6': homePage.latestChallenge.thirdPlaceReward == null, 'col12': homePage.latestChallenge.secondPlaceReward == null, }">
              <p translate="stPrize" ng-show="homePage.latestChallenge.secondPlaceReward != null"></p>

              <p translate="prize" ng-show="homePage.latestChallenge.secondPlaceReward == null"></p>
              <strong>${{homePage.latestChallenge.firstPlaceReward | number:0}}</strong>
            </div>
            <div class="col-md-4" ng-class="{'col6': homePage.latestChallenge.thirdPlaceReward == null}"
                 ng-show="homePage.latestChallenge.secondPlaceReward != null">
              <p translate="ndPrize"></p>
              <strong>${{homePage.latestChallenge.secondPlaceReward | number:0}}</strong>
            </div>
            <div class="col-md-4" ng-show="homePage.latestChallenge.thirdPlaceReward != null">
              <p translate="rdPrize"></p>
              <strong>${{homePage.latestChallenge.thirdPlaceReward | number:0}}</strong>
            </div>
          </div>
          <div class="status-of-challenge-block">
            <div class="status-of-challenge-info">
              <h4 translate="currentPhase"/>
              <ul>
                <li translate="{{homePage.latestChallenge | progress: 'challenge'}}"></li>
                <li class="count-down-day" translate="{{homePage.latestChallenge.progress.timeLeftTranslate}}"
                    translate-value-day-left="{{homePage.latestChallenge | countdown: 'challenge'}}">
                </li>
              </ul>
            </div>
            <p translate="registerNumber"
               translate-value-register-number="<strong>{{homePage.latestChallenge.numberOfRegistrants}}</strong>"></p>
          </div>
          <div class="challenge-overview-block">
            <p class="title" translate="challengeOverView"></p>

            <p class="detail">
              <span translate="{{homePage.latestChallenge.challengeOverview | limitTo: 160}}"></span>
              <span ng-show="homePage.latestChallenge.challengeOverview.length > 200">...</span>
            </p>
          </div>
          <div class="technologies-block">
            <p class="title">Technologies:</p>

            <p class="detail">
              <span class="tag" ng-repeat="skill in homePage.latestChallenge.technologies | limitTo: 3">
                {{skill}}
              </span>
              <span class="tag" ng-show="homePage.latestChallenge.technologies.length > 3">...</span>
            </p>
          </div>
          <div class="quality-of-idea-block">
            <p translate="evaluateContestants"></p>

            <p class="detail">
              {{homePage.latestChallenge.qualityIdea}}
            </p>
          </div>
        </div>

      </div>
      <div class="view-more-items">
        <a href="#/challenges" translate="viewMoreChallenges"></a>
      </div>
    </div>
    <div class="box-container-block right">
      <h3 translate="latestFreelancerProjects"></h3>

      <div class="box-content">
        <div class="box-header">
          <h4 translate="becomeAFreelancer"></h4>
        </div>
        <div class="box-content-detail">
          <div class="freelancer-banner">
            <img ng-src="images/freelancers.jpg" alt=""/>
          </div>
        </div>

      </div>
      <div class="view-more-items" class="hide">
        <a href="#/freelancer/projects" translate="viewMoreProjects"></a>
      </div>
    </div>
    <!--<div class="personal-banner-home-page">-->
      <!--<div class="box-content">-->
        <!--<img src="images/techlooper-personal-home-page-banner.jpg" alt=""/>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
