<div class="container-fluid winner-board-listing">
  <table class="table contests-table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th translate="fullname"></th>
      <th translate="registrationDate"></th>
      <th translate="finalSubmissionDate"></th>
      <th translate="score"></th>
      <th translate="prize"></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-if="!contestDetail.$winners.length">
        <td colspan="6"  class="text-center">
          {{'noData' | translate }}
        </td>
      </tr>
      <tr ng-repeat="winner in contestDetail.$winners track by $index"
          class="{{winner.$award}}">
        <td data-label="#">{{$index + 1}}</td>
        <td data-label="{{'fullNameField' | translate}}">{{winner.fullName}}</td>
        <td data-label="{{'registrationDate' | translate}}">
          {{winner.registrantId | timestamp: 'number'}}
        </td>
        <td data-label="{{'finalSubmissionDate' | translate}}">
          {{winner.lastSubmission.submissionDateTime}}
          <span ng-if="winner.lastSubmission.submissionDateTime == null">-</span>
        </td>
        <td data-label="{{'score' | translate}}">{{winner.totalPoint}}</td>
        <td data-label="{{'prize' | translate}}">
          {{winner.$awardPrice}}
          <span ng-if="winner.$awardPrice == null">-</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>