<div class="form-content">
  <form novalidate name="postProjectForm" autocomplete="off">
    <div class="field-content">
      <label translate="giveYourJobTitle"></label>
      <input type="text" class="input-style" name="projectTitle"
             data-toggle="tooltip" ng-model="postProject.projectTitle"
             data-original-title="{{'giveYourJobTitleTip' | translate}}" ng-required="true" touchable/>

      <div class="error-messages"
           ng-show="postProjectForm.projectTitle.$error.required && (postProjectForm.projectTitle.$edited || postProjectForm.$submitted)"
           translate="requiredThisField" />

    </div>
    <div class="field-content">
      <label translate="desWorkDone"></label>
          <textarea name="projectDescription" cols="" rows="" class="textarea-style"
                    ng-model="postProject.projectDescription" ng-trim="false"
                    maxlength="5000" data-toggle="tooltip"
                    data-original-title="{{'desPostAProjectTip' | translate}}" touchable ng-required="true">
          </textarea>

      <div class="error-messages"
           ng-show="postProjectForm.projectDescription.$error.required && (postProjectForm.projectDescription.$edited || postProjectForm.$submitted)"
           translate="requiredThisField" />

      <p class="note" translate="charactersLeft" translate-value-characters-left="{{5000 - WorkDone.length}}"></p>
    </div>
    <div class="field-content">
      <label translate="whatSkillsAreNeeded"></label>
      <tagbox name="skills" tags="postProject.skills" get-tags="apiService.getSuggestSkills"
              type="text" placeholder="technologiesEX" list-max-length="10" max-tag-length="40"
              ng-model="postProject.skills" array-model touchable></tagbox>
      <div class="error-messages"
           ng-show="postProjectForm.skills.$error.required && (postProjectForm.skills.$edited || postProjectForm.$submitted)"
           translate="listRequire1Item" />
    </div>
    <div class="field-content">
      <label translate="howWouldYouLikeToPay"></label>
      <selectize name="payMethod" ng-model="postProject.payMethod" config="$root.resourcesService.paymentConfig"
                 required touchable></selectize>
      <div class="error-messages"
           ng-show="postProjectForm.payMethod.$error.required && (postProjectForm.payMethod.$touched || postProjectForm.$submitted)"
           translate="requiredThisField"></div>
    </div>
    <div class="field-content-group">
      <div class="field-content">
        <label translate="estimatedEndDate"></label>
        <div class="input-group date">
          <input type="text" class="form-control"
                 placeholder="{{'ex' | translate}}{{status('ex-today')}}"
                 name="estimatedEndDate"
                 ng-model="postProject.estimatedEndDate" ng-required="true"
                 class="date-picker"
                 data-toggle="tooltip"
                 data-original-title="{{'emailAddressReceiveTip' | translate}}">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
        </div>
        <!--<datetimepicker data-ng-model="postProject.estimatedEndDate" placeholder="{{'ex' | translate}}{{status('ex-today')}}"></datetimepicker>-->
        <!--<div class="dropdown">-->
        <!--<a class="dropdown-toggle" role="button" data-toggle="dropdown" id="dropdown2">-->
        <!--<div class="input-group">-->
        <!--<input type="text" placeholder="{{'ex' | translate}}{{status('ex-today')}}" class="form-control"-->
        <!--value="{{ data.dateDropDownInput | date:'yyyy-MM-dd a'}}"-->
        <!--data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
        <!--</div>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
        <!--<datetimepicker data-ng-model="data.dateDropDownInput"-->
        <!--data-datetimepicker-config="{dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>-->
        <!--</ul>-->
        <!--</div>-->

        <div ng-show="postProjectForm.estimatedEndDate.$touched || postProjectForm.$submitted">
          <div class="error-messages"
               ng-show="postProjectForm.estimatedEndDate.$error.required" translate="requiredThisField" />
        </div>
      </div>
      <div class="field-content">
        <label translate="budget"></label>
        <input type="text" class="input-style"
               name="budgetValue"
               ng-model="postProject.budgetValue"
               data-toggle="tooltip"
               data-original-title="{{'emailAddressReceiveTip' | translate}}"/>
      </div>
      <div class="field-content">
        <label translate="numberOfHires"></label>
        <input type="text" class="input-style"
               data-toggle="tooltip"
               data-original-title="{{'emailAddressReceiveTip' | translate}}"/>
      </div>
    </div>
    <div class="field-content-group">
      <div class="field-content">
        <label translate="estimatedDuration"></label>
        <selectize name="payment" ng-model="postProject.payment" config="config.payment" required touchable></selectize>
      </div>
      <div class="field-content">
        <label translate="estimatedWorkload"></label>
        <selectize name="payment" ng-model="postProject.payment" config="config.payment" required touchable></selectize>
      </div>
      <div class="field-content">
        <label translate="hourlyRate"></label>
        <input type="text" class="input-style"
               name="hourlyRate"
               ng-model="postProject.hourlyRate"
               data-toggle="tooltip"
               data-original-title="{{'emailAddressReceiveTip' | translate}}"/>
      </div>
      <div class="field-content">
        <label translate="numberOfHires"></label>
        <input type="text" class="input-style"
               data-toggle="tooltip"
               data-original-title="{{'emailAddressReceiveTip' | translate}}"/>
      </div>
    </div>
    <div class="field-content submit">
      <button translate="postProjectNow" class="btn btn-primary btn-flat" type="submit" ng-click="abc()"></button>
      <a translate="review" ng-modal="reviewed" ng-click="reviewed != reviewed"></a>
    </div>
  </form>
</div>
