/*mobile first*/
.kz-slider{
    padding: 30px 0;
	margin-left: -10px;
}

.sidebar .kz-slider{
	padding-top: 0px;
	padding-bottom: 0px;
}
.kz-slider-run{
	margin-left:-19px
}
    .kz-slider ul{
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
	.kz-slider-run ul{
		width:10000px
	}
    .kz-slider .preview-kz-slide{
        overflow: hidden;
        padding: 0;
        margin: 0 auto;
		padding-bottom: 2px;
    }
        .kz-slider .kz-slide-trans{

        }
            .kz-slider .kz-slide-trans > li{
                height: 315px;
                width: 280px;
                margin-left:20px;
                float: left;
                /*background: url(../img/bg-white.png) left top repeat;*/
                /*border: 1px solid #edefec;*/
                /*-moz-box-shadow: 0 0 5px #edefec;
                -webkit-box-shadow: 0 0 5px#edefec;
                box-shadow: 0 0 5px #edefec;*/
				margin-top: 15px;
                /*-webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;*/
            }
			
			.sidebar .kz-slider .kz-slide-trans > li{
                width: 166px;
            }		
			
            .partner-list .kz-slider .kz-slide-trans > li{
                width: 155px;
            }
            .kz-slider .kz-slide-trans > li:first-child{
                /*margin-left: 0;*/
            }
            .kz-slider .kz-slide-trans > li.active,
            .kz-slider .kz-slide-trans > li:hover{
                /*border: 1px solid #2c7abe;*/
                /*-moz-box-shadow: 0 0 5px #2c7abe;
                -webkit-box-shadow: 0 0 5px#2c7abe;
                box-shadow: 0 0 5px #2c7abe;*/
            }
    .kz-slider .bullets-control-kz-slide{
        margin: 20px auto 0;
        overflow: hidden;
        display: block;
    }
        .kz-slider .bullets-control-kz-slide > ul{
            margin: 0 auto;
        }
        .kz-slider .bullets-control-kz-slide > ul > li{
            float: left;
            height: 20px;
            width: 20px;
            margin: 0 10px 10px 0;
        }
        .kz-slider .bullets-control-kz-slide > ul > li:last-child{
            margin-right: 0;
        }
            .kz-slider .bullets-control-kz-slide li > a{
                background: #adadad;
                border-radius: 10px;
                height: 18px;
                width: 18px;
                display: block;
                opacity: 0.3;
            }
            .kz-slider .bullets-control-kz-slide li > a.active,
            .kz-slider .bullets-control-kz-slide li > a:hover{
                background: #e3e3e3;
                opacity: 0.8;
            }
    .kz-slider .btn-control-kz-slide{
        display: none;
        position: absolute;
        right: 20px;
        top:25px;
    }
        .kz-slider .btn-control-kz-slide a{
            display: block;
            position: absolute;
            width: 23px;
            height: 22px;
            font-weight: 300;
            font-size: 30px;
            color: #fff;
        }
        .kz-slider .btn-control-kz-slide a.btn-prev{
            left: 30px;
        }
        .kz-slider .btn-control-kz-slide a.btn-next{
            right: 30px;
        }
@media screen and (min-width: 720px){
    .kz-slider{
        padding: 0;
    }
        /*.kz-slider .bullets-control-kz-slide{
            display: none;
        }*/
        /*.kz-slider .btn-control-kz-slide{
            display: block;
        }*/
}