# Created by .gitignore support plugin (hsz.mobi)

# nodejs
bower_components/
node_modules/
node_tmp/
node/
npm.tar.gz

# sass
.sass-cache/
*.map

# IntelliJ files
*.iml
.idea

# eclipse files
.settings/
.project
.classpath

# maven build
target/

# files to be excluded from source code
index.html
css/

# other custom rules
static/
*.log


