<div class="contestant-page contest-detail-page">
  <div class="alert alert-warning post-challenge-success" ng-show="postChallengeSuccess">
    {{'updateEvaluationCriteria1' | translate}}
    <strong><a ng-click="openEvaluationCriteria()" translate="here"></a></strong>
    {{'updateEvaluationCriteria2' | translate}}
  </div>
  <div class="content-page-block contest-detail-content">
    <div class="header-page">
      <h2 class="text-left"><span class="challenge-type"></span>{{contestDetail.challengeName}}
      <span ng-show="contestDetail.progress.translate != 'closed' &&  contestDetail.progress.translate != 'notStart'"
            ng-class="contestDetail.currentPhase | textTruncate: 'lowercase'"
            translate="{{contestDetail.currentPhase | textTruncate: 'lowercase'}}"
            ng-click="refreshChallengeDetail()">
      </span>
        <span ng-show="contestDetail.progress.translate == 'closed' || contestDetail.progress.translate == 'notStart'" class="closed">
          {{contestDetail.progress.translate | translate}}
        </span></h2>
    </div>
    <div class="row contest-content-detail">
      <tab-manager-contest-detail></tab-manager-contest-detail>
      <div class="tab-content contest-content-tab-detail">
        <div class="detail tab-pane fade in active">
          <content-details-tab></content-details-tab>
        </div>
        <div class="registrants tab-pane fade" ng-show="contestDetail.isAuthor">
          <content-registrants-tab></content-registrants-tab>
        </div>
        <div class="evaluation-criteria tab-pane fade" ng-show="contestDetail.isAuthor">
          <content-evaluation-criteria-tab></content-evaluation-criteria-tab>
        </div>
      </div>
    </div>
  </div>
</div>