<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="text-center">
      <div class="confirm-qualify-popover">
        <div class="confirm-qualify-form">
          <!--<p translate="confirmQualifyText"-->
             <!--translate-vualue-registrant-current-phase="{{}}"-->
             <!--translate-value-registrant-next-phase="{{}}"-->
             <!--translate-value-challenge-next-phase="{{}}" />-->
          <p translate="acceptDescription" translate-value-current="{{registrant.activePhase | translate}}"
             translate-value-next="{{challenge.nextPhase | translate}}"/>
          
        </div>
        <div class="confirm-qualify-submission">
          <a ng-click="registrant.qualify()" translate="yes" class="btn btn-primary btn-flat"></a>
          <a ng-click="$hide()" translate="no"  class="btn btn-primary btn-flat gray"></a>
        </div>
      </div>
    </div>
  </div>
</div>