<div class="review-block">
  <div class="submitted-histories" ng-show="!registrant.submissions.length">
    <p translate="noDataSubmission" class="no-submission"></p>
  </div>
  <div class="submitted-histories" ng-show="registrant.submissions.length" >
    <div class="header-row">
      <div class="subject-col" translate="descriptionCol"></div>
      <div class="submission-link-col" translate="submissionLink"></div>
      <div class="date-col" translate="date"></div>
    </div>
    <div class="body-row">
      <div class="submitted-row" ng-repeat="submission in registrant.submissions | orderBy: '-challengeSubmissionId'">
        <div class="subject-col">
          {{submission.submissionDescription}}
        </div>
        <div class="submission-link-col">
          <a target="_blank" ng-click="goToSubmissionLink(submission.submissionURL)">
            {{submission.submissionURL}}
          </a>
        </div>
        <div class="date-col">
          {{submission.submissionDateTime}}
        </div>
      </div>
    </div>
  </div>
</div>