<div class="contestant-page contest-detail-page">
  <div class="content-page-block contest-detail-content">
    <div class="header-page">
      <h2 class="text-left">{{contestDetail.challengeName}}</h2>
    </div>
    <div class="row contest-content-detail">

      <ul class="nav nav-tabs contest-content-tab">
        <li class="active"><a data-toggle="tab" href=".detail" translate="detail"></a></li>
        <li ng-show="contestDetail.numberOfRegistrants > 0"><a data-toggle="tab" href=".registrants">{{'registrants' | translate}}
          ({{contestDetail.numberOfRegistrants}})</a></li>
      </ul>

      <div class="tab-content contest-content-tab-detail">
        <div class="detail tab-pane fade in active">
          <div class="row tell-your-friends">
            <div class="col-md-12">
              <button class="btnz facebook" ng-click="fbShare()"><i class="fa fa-facebook"></i> <span
                translate="tellYourFriends"></span></button>
            </div>
          </div>
          <div class="row timeline-reward-block">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4"
                     ng-class="{'col6': contestDetail.thirdPlaceReward == null, 'col12': contestDetail.secondPlaceReward == null, }">
                  <p translate="stPrize" ng-show="contestDetail.secondPlaceReward != null"></p>

                  <p translate="prize" ng-show="contestDetail.secondPlaceReward == null"></p>
                  <strong>${{contestDetail.firstPlaceReward | number:0}}</strong>
                </div>
                <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null}"
                     ng-show="contestDetail.secondPlaceReward != null">
                  <p translate="ndPrize"></p>
                  <strong>${{contestDetail.secondPlaceReward | number:0}}</strong>
                </div>
                <div class="col-md-4" ng-show="contestDetail.thirdPlaceReward != null">
                  <p translate="rdPrize"></p>
                  <strong>${{contestDetail.thirdPlaceReward | number:0}}</strong>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ic-time-down"></div>
              <div class="time-block">
                <h3 translate="currentPhase"/>

                <p translate="{{contestDetail.progress.translate}}"/>

                <p class="count-down-day" translate="{{contestDetail.progress.timeLeftTranslate}}"
                   translate-value-day-left="{{contestTimeLeft(contestDetail)}}"></p>

              </div>
              <a ng-modal="dateInfo" ng-click="dateInfo = !dateInfo">
                <span translate="ViewNextDeadlines" ng-show="dateInfo"></span>
                <span translate="ViewAllDeadlines" ng-show="!dateInfo"></span>
              </a>

              <div class="timeline-information animate-show" ng-show="dateInfo">
                <ul>
                  <li><span translate="startDate"></span>{{contestDetail.startDateTime}}</li>
                  <li><span translate="registerBy"></span>{{contestDetail.registrationDateTime}}</li>
                  <li><span translate="submitBy"></span>{{contestDetail.submissionDateTime}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="alert alert-success" ng-show="!status('already-join')">
            <p translate="congratulationsForJoinContest"></p>
          </div>
          <div class="row registration-count">
            <div class="col-md-12">
              <p translate="registerNumber"
                 translate-value-register-number="<strong>{{contestDetail.numberOfRegistrants}}</strong>"></p>

              <div class="join-now">
                <button ng-disabled="!status('able-to-join')" ng-click="joinNowByFB()" class="btn btn-primary btn-flat"
                        ng-class="{disabled: !status('able-to-join')}">
                  <i class="fa fa-facebook-square"></i> <span translate="joinNow"></span></button>

                <button ng-show="contestDetail.currentUserJoined == true" ng-click="showSubmitForm()"
                        class="btn btn-primary btn-flat">
                  <i class="fa fa-paper-plane-o"></i> <span translate="submit"></span></button>
              </div>
            </div>
          </div>
          <submission-challenge ng-model="contestDetail"></submission-challenge>
          <div class="alert alert-success" data-ng-init="submittedPhase = false" ng-model="submittedPhase"
               ng-show="submittedPhase">
            <p translate="submissionPhaseSuccessful"></p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="challengeOverView"></p>

            <p class="detail" translate="{{contestDetail.challengeOverview | lineBreak}}">
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="mileStones"></p>

            <div class="timeLine-milestone">
              <div class="phase-box phase-registration"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}">
                <span translate="registration"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-left"><i class="fa fa-circle"></i> {{contestDetail.startDateTime}}</span>
                <span class="date-right">{{contestDetail.registrationDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-idea"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.ideaSubmissionDateTime.length">
                <span translate="idea"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.ideaSubmissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-uiux"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.uxSubmissionDateTime.length">
                <span translate="uiux"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.uxSubmissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-prototype"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.prototypeSubmissionDateTime.length">
                <span translate="prototype"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.prototypeSubmissionDateTime}} <i
                  class="fa fa-circle"></i></span>
              </div>
              <!--<div class="phase-box phase-in-progress">-->
              <!--<span translate="inProgress"></span>-->
              <!--<span class="line-color"></span>-->
              <!--<span class="date-right">15/09/2015</span>-->
              <!--</div>-->
              <div class="phase-box phase-final-app"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}">
                <span translate="finalApp"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.submissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
            </div>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="businessRequirements"></p>

            <p class="detail" translate="{{contestDetail.businessRequirement | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="generalNotes"></p>

            <p class="detail" translate="{{contestDetail.generalNote | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="technologies"></p>

            <p class="detail">
            <span class="tag" ng-repeat="skill in contestDetail.technologies">
              {{skill}}
            </span>
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="documents"></p>

            <p class="detail" translate="{{contestDetail.documents | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="deliverables"></p>

            <p class="detail" translate="{{contestDetail.deliverables | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="reviewStyle"></p>

            <p class="detail">
              {{contestDetail.reviewStyle}}
            </p>
          </div>
          <div class="quality-idea-block">
            <p class="header" translate="howWeEvaluateContestants"/>

            <div class="row contest-content-item">
              <p class="title" translate="qualityIdea"/>
              <p class="detail">
                {{contestDetail.qualityIdea}}
              </p>
            </div>
          </div>
        </div>
        <div class="registrants tab-pane fade" ng-show="contestDetail.numberOfRegistrants > 0">
          <div class="registrants-filter-block">
            <form name="registrants-filter">
              <div class="registrants-query">
                <selectize name="registrantsFilter" ng-model="filterType"
                           config="config.registrantsFilter"
                           options="config.registrantsFilter.options"></selectize>
              </div>
              <div class="registrants-date">
                  <div class="input-group  input-daterange">
                      <span class="input-group-addon left" translate="from"></span>
                      <input type="text" class="form-control" placeholder="" ng-model="fromDate">
                      <span class="input-group-addon none">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>
                  <div class="input-group  input-daterange">
                    <span class="input-group-addon none none-left" translate="to"></span>
                    <input type="text" class="form-control" placeholder="" ng-model="toDate">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
              </div>
              <div class="submit-filter">
                <button translate="ok" class="btn btn-primary btn-flat" ng-click="filterContestant()"></button>
              </div>
            </form>
          </div>
          <form>
            <table class="contests-table">
              <thead>
              <tr>
                <th>
                  <div class="registrants-challenge-list">
                    <div class="registrant-name">
                      {{'fullNameField' | translate}}
                    </div>
                    <div class="registration-date" ng-click="sortByStartDate()">
                      {{'registrationDate' | translate}}
                      <i class="fa fa-chevron-circle-down"
                         ng-class="{'fa-chevron-circle-down':sortStartDate == 'desc','fa-chevron-circle-up': sortStartDate == 'asc'}"></i>
                    </div>
                    <div ng-click="sortByScore()" class="registration-score">
                      {{'score' | translate}}
                      <i class="fa fa-chevron-circle-down" ng-show="sortScore"
                         ng-class="{'fa-chevron-circle-down': sortScore == 'desc','fa-chevron-circle-up': sortScore == 'asc'}"></i>
                    </div>
                    <div class="registration-action">
                      {{'action' | translate}}
                    </div>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-show="registrants.length == 0" class="no-data-found">
                <td>
                  <p translate="noData"></p>
                </td>
              </tr>
              <tr dir-paginate="user in registrants | itemsPerPage:10" ng-class="{qualify: user.disqualified ==!null}"
                  id="id-{{$index}}">
                <td>
                  <div class="registrants-challenge-list">
                    <div class="registrant-name">
                      <div class="label-col" translate="fullNameField"></div>
                      <i class="fa fa-ban" ng-show="user.disqualifiedReason.length; user.disqualified ==true"></i>{{user.registrantFirstName}} {{user.registrantLastName}}
                      <i ng-class="{'registration': user.activePhase == 'REGISTRATION', 'idea': user.activePhase == 'IDEA','uiux': user.activePhase == 'UIUX', 'prototype': user.activePhase == 'PROTOTYPE', 'final-app': user.activePhase == 'FINAL'}">
                        {{user.activePhase}}
                      </i>
                      <p class="note" ng-show="user.disqualifiedReason.length">{{'disqualifyingReason' | translate}}: {{user.disqualifiedReason}}</p>
                    </div>
                    <div class="registration-date">
                      <div class="label-col" translate="registrationDate"></div>
                      {{user.registrantId | timestamp: 'number'}}
                    </div>
                    <div class="registration-score">
                      <div class="label-col" translate="score"></div>
                      <input type="text" ng-init="user.score = user.score || 0" ng-model="user.score"
                             input-number="strict" input-number-fraction="1"/>
                      <button ng-click="updateScore(user, $event)"><i class="fa fa-check"></i></button>
                    </div>
                    <div class="registration-action">
                      <div class="label-col" translate="action"></div>
                      <div class="action-link">
                        <ul>
                          <li ng-show="!user.disqualified">
                            <a ng-click="user.showDisqualification()" ng-class="{active: user.visible.disqualification}">
                              {{'disqualify' | translate}} <i class="fa fa-ban"></i>
                            </a>
                          </li>
                          <li ng-show="user.disqualified == true">
                            <a ng-click="user.showQualification()" ng-class="{active: user.visible.qualification}">
                              {{'qualify' | translate}} <i class="fa fa-circle-o"></i></a>
                          </li>
                          <li><a ng-click="user.showReviewSubmission()" ng-class="{active: user.visible.reviewSubmission}">
                            {{'review' | translate}} <i class="fa fa-eye"></i></a></li>
                          <li><a ng-click="user.showFeedback()" ng-class="{active: user.visible.feedbackForm}">
                            {{'feedback' | translate}} <i class="fa fa-commenting-o"></i></a></li>
                          <li ng-hide="user.disqualified || contestDetail.currentPhase == user.activePhase"><a ng-click="user.showAcceptance()" ng-class="{active: user.visible.acceptance}">
                            {{'accept' | translate}} <i class="fa fa-check-square-o"></i></a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle open-action-content"
                                type="button" id="menu1" data-toggle="dropdown">
                          <i class="fa fa-navicon"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li ng-show="!user.disqualified">
                            <a ng-click="user.showDisqualification()">
                              {{'disqualify' | translate}} <i class="fa fa-ban"></i>
                            </a>
                          </li>
                          <li ng-show="user.disqualified == true">
                            <a ng-click="user.showQualification()">{{'qualify' | translate}} <i class="fa fa-circle-o"></i></a>
                          </li>
                          <li><a ng-click="user.showReviewSubmission()">{{'review' | translate}} <i class="fa fa-eye"></i></a></li>
                          <li><a ng-click="user.showFeedback()">{{'feedback' | translate}} <i class="fa fa-commenting-o"></i></a></li>
                          <li ng-hide="user.disqualified || contestDetail.currentPhase == user.activePhase"><a ng-click="user.showAcceptance()">{{'accept' | translate}} <i class="fa fa-check-square-o"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <contest-detail-action registrant="user"></contest-detail-action>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
          <div class="registrants-paging">
            <dir-pagination-controls
              max-size="10"
              direction-links="true"
              boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>