<div class="contestant-page contest-detail-page">
  <div class="contest-detail-content">
    <div class="row contest-name">
      <h2>{{contestDetail.challengeName}}</h2>
      <button class="btnz facebook" ng-click="fbShare()"><i class="fa fa-facebook"></i> <span translate="tellYourFriends"></span></button>
    </div>
    <div class="row timeline-reward-block">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null, 'col12': contestDetail.secondPlaceReward == null, }">
            <p translate="stPrize" ng-show="contestDetail.secondPlaceReward != null"></p>
            <p translate="prize" ng-show="contestDetail.secondPlaceReward == null"></p>
            <strong>${{contestDetail.firstPlaceReward | number:0}}</strong>
          </div>
          <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null}"  ng-show="contestDetail.secondPlaceReward != null">
            <p translate="ndPrize"></p>
            <strong>${{contestDetail.secondPlaceReward | number:0}}</strong>
          </div>
          <div class="col-md-4" ng-show="contestDetail.thirdPlaceReward != null">
            <p translate="rdPrize"></p>
            <strong>${{contestDetail.thirdPlaceReward | number:0}}</strong>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ic-time-down"></div>
        <div class="time-block">
          <h3 translate="currentPhase" />
          <p translate="{{contestDetail.progress.translate}}" />
          <p class="count-down-day" translate="{{contestDetail.progress.timeLeftTranslate}}" translate-value-day-left="{{contestTimeLeft(contestDetail)}}" ></p>

        </div>
        <a ng-modal="dateInfo" ng-click="dateInfo = !dateInfo">
          <span translate="ViewNextDeadlines" ng-show="dateInfo"></span>
          <span translate="ViewAllDeadlines" ng-show="!dateInfo"></span>
        </a>
        <div class="timeline-information animate-show" ng-show="dateInfo">
          <ul>
            <li><span translate="startDate"></span>{{contestDetail.startDateTime}}</li>
            <li><span translate="registerBy"></span>{{contestDetail.registrationDateTime}}</li>
            <li><span translate="submitBy"></span>{{contestDetail.submissionDateTime}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-success"  ng-show="!status('already-join')">
      <p translate="congratulationsForJoinContest"></p>
    </div>
    <div class="row registration-count">
      <div class="col-md-12">
        <p translate="registerNumber" translate-value-register-number="<strong>{{contestDetail.numberOfRegistrants}}</strong>"></p>
        <div class="join-now">
          <a ng-disabled="!status('able-to-join')" ng-click="joinNowByFB()" class="btn btn-primary btn-flat" translate="joinNow"/>
          <span translate="byFacebook"></span>
        </div>
      </div>
    </div>
    <div class="row contest-content-detail">

      <ul class="nav nav-tabs contest-content-tab">
        <li class="active"><a data-toggle="tab" href=".detail" translate="detail"></a></li>
        <li ng-show="registrants.length"><a data-toggle="tab" href=".registrants">{{'registrants' | translate}} ({{contestDetail.numberOfRegistrants}})</a></li>
      </ul>

      <div class="tab-content contest-content-tab-detail">
        <div class="detail tab-pane fade in active">
          <div class="row contest-content-item">
            <p class="title" translate="challengeOverView"></p>
            <p class="detail" translate="{{contestDetail.challengeOverview | lineBreak}}">
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="businessRequirements"></p>
            <p class="detail" translate="{{contestDetail.businessRequirement | lineBreak}}" />
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="generalNotes"></p>
            <p class="detail" translate="{{contestDetail.generalNote | lineBreak}}" />
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="technologies"></p>
            <p class="detail">
            <span class="tag" ng-repeat="skill in contestDetail.technologies">
              {{skill}}
            </span>
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="documents"></p>
            <p class="detail" translate="{{contestDetail.documents | lineBreak}}" />
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="deliverables"></p>
            <p class="detail" translate="{{contestDetail.deliverables | lineBreak}}" />
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="reviewStyle"></p>
            <p class="detail">
              {{contestDetail.reviewStyle}}
            </p>
          </div>
          <div class="quality-idea-block">
            <p class="header" translate="howWeEvaluateContestants"/>
            <div class="row contest-content-item">
              <p class="title" translate="qualityIdea" />
              <p class="detail">
                {{contestDetail.qualityIdea}}
              </p>
            </div>
          </div>
        </div>
        <div class="registrants tab-pane fade" ng-show="registrants.length">
          <dir-pagination-controls
              max-size="10"
              direction-links="true"
              boundary-links="true" >
          </dir-pagination-controls>
          <table class="contests-table">
            <thead>
            <tr>
              <th>{{'fullNameField' | translate}}</th>
              <th ng-click="sortUsers('registration')">{{'registrationDate' | translate}}
                <span class="glyphicon sort-icon" ng-show="sortKey=='registration'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sortUsers('score')">{{'score' | translate}}
                <span class="glyphicon sort-icon" ng-show="sortKey=='score'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th>{{'action' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="user in registrants|orderBy:sortKey:reverse|itemsPerPage:10">
              <td>{{user.registrantFirstName}} {{user.registrantLastName}}</td>
              <td>{{user.registrationDate | timestamp: 'numberDate'}}</td>
              <td><input type="text" value="{{user.score || 0}}" maxlength="2"/></td>
              <td><a data-auto-close="true" data-placement="top"
                     data-template-url="modules/contest-detail/reject.html" bs-popover
                     translate="reject"></a>
              </td>
            </tr>
            </tbody>
          </table>
          <dir-pagination-controls
              max-size="10"
              direction-links="true"
              boundary-links="true" >
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>