<div class="contestant-page contest-detail-page">
  <div class="content-page-block contest-detail-content">
    <div class="header-page">
      <h2 class="text-left">{{contestDetail.challengeName}}
      <span ng-show="contestDetail.progress.translate != 'closed' &&  contestDetail.progress.translate != 'notStart'"
            ng-class="{'registration': contestDetail.currentPhase == 'REGISTRATION','idea': contestDetail.currentPhase == 'IDEA','uiux': contestDetail.currentPhase == 'UIUX','prototype': contestDetail.currentPhase == 'PROTOTYPE','final': contestDetail.currentPhase == 'FINAL'}">
          {{contestDetail.currentPhase | textTruncate: 'lowercase' | translate}}</span>
        <span ng-show="contestDetail.progress.translate == 'closed' || contestDetail.progress.translate == 'notStart'" class="closed">
          {{contestDetail.progress.translate | translate}}
        </span></h2>
    </div>
    <div class="row contest-content-detail">
      <ul class="nav nav-tabs contest-content-tab">
        <li class="active"><a data-toggle="tab" href=".detail" translate="detail"></a></li>
        <li ng-show="contestDetail.isAuthor"><a data-toggle="tab" href=".registrants">{{'registrants' | translate}}
          ({{contestDetail.numberOfRegistrants}})</a></li>
        <li ng-show="contestDetail.isAuthor">
          <a data-toggle="tab" href=".evaluation-criteria" translate="evaluationCriteria"></a>
        </li>
      </ul>
      <div class="tab-content contest-content-tab-detail">
        <div class="detail tab-pane fade in active">
          <div class="row tell-your-friends">
            <div class="col-md-12">
              <button class="btnz facebook" ng-click="fbShare()"><i class="fa fa-facebook"></i> <span
                translate="tellYourFriends"></span></button>
            </div>
          </div>
          <div class="row timeline-reward-block">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4"
                     ng-class="{'col6': contestDetail.thirdPlaceReward == null, 'col12': contestDetail.secondPlaceReward == null, }">
                  <p translate="stPrize" ng-show="contestDetail.secondPlaceReward != null"></p>

                  <p translate="prize" ng-show="contestDetail.secondPlaceReward == null"></p>
                  <strong>${{contestDetail.firstPlaceReward | number:0}}</strong>
                </div>
                <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null}"
                     ng-show="contestDetail.secondPlaceReward != null">
                  <p translate="ndPrize"></p>
                  <strong>${{contestDetail.secondPlaceReward | number:0}}</strong>
                </div>
                <div class="col-md-4" ng-show="contestDetail.thirdPlaceReward != null">
                  <p translate="rdPrize"></p>
                  <strong>${{contestDetail.thirdPlaceReward | number:0}}</strong>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ic-time-down"></div>
              <div class="time-block">
                <h3 translate="currentPhase"/>
                <p>
                  {{contestDetail.progress.translate | translate}}
                  <span ng-show="contestDetail.progress.translate != 'closed' &&  contestDetail.progress.translate != 'notStart' &&  contestDetail.progress.translate != 'registration'">
                    ({{contestDetail.currentPhase | progress: 'challengePhaseTitle'}})
                  </span>
                </p>

                <p class="count-down-day" translate="{{contestDetail.progress.timeLeftTranslate}}"
                   translate-value-day-left="{{contestTimeLeft(contestDetail)}}"></p>

              </div>
              <a ng-modal="dateInfo" ng-click="dateInfo = !dateInfo">
                <span translate="ViewNextDeadlines" ng-show="dateInfo"></span>
                <span translate="ViewAllDeadlines" ng-show="!dateInfo"></span>
              </a>

              <div class="timeline-information animate-show" ng-show="dateInfo">
                <ul>
                  <li><span translate="startDate"></span>{{contestDetail.startDateTime}}</li>
                  <li><span translate="registerBy"></span>{{contestDetail.registrationDateTime}}</li>
                  <li><span translate="submitBy"></span>{{contestDetail.submissionDateTime}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="alert alert-success" ng-show="!status('already-join')">
            <p translate="congratulationsForJoinContest"></p>
          </div>
          <div class="alert alert-danger" ng-show="failJoin == true">
            <p translate="errorSystem"></p>
          </div>
          <div class="row registration-count">
            <div class="col-md-12">
              <p translate="registerNumber"
                 translate-value-register-number="<strong>{{contestDetail.numberOfRegistrants}}</strong>"></p>

              <div class="join-now">
                <button ng-disabled="!status('able-to-join')" ng-click="joinNowByFB()" class="btn btn-primary btn-flat"
                        ng-class="{disabled: !status('able-to-join')}">
                  <i class="fa fa-facebook-square"></i> <span translate="joinNow"></span></button>

                <button ng-show="contestDetail.currentUserJoined == true" ng-click="contestDetail.showSubmitForm()"
                        class="btn btn-primary btn-flat">
                  <i class="fa fa-paper-plane-o"></i> <span translate="submitPhase"></span></button>
              </div>
            </div>
          </div>
          <submission-challenge challenge="contestDetail"></submission-challenge>
          <div class="alert alert-success" data-ng-init="submittedPhase = false" ng-model="submittedPhase"
               ng-show="submittedPhase">
            <p translate="submissionPhaseSuccessful"></p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="challengeOverView"></p>

            <p class="detail" translate="{{contestDetail.challengeOverview | lineBreak}}">
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="mileStones"></p>
            <div class="timeLine-milestone mobile">
              <div class="phase-box phase-registration">
                <span class="details">
                  <span class="date-left">{{contestDetail.startDateTime}} <i class="fa fa-caret-right"></i></span>
                  <span class="date-right">{{contestDetail.registrationDateTime}} <i class="fa fa-caret-right"></i></span>
                </span>
                <span class="line-color"></span>
                <span class="name" translate="registration"></span>
              </div>
              <div class="phase-box phase-idea" ng-show="contestDetail.ideaSubmissionDateTime.length">
                <span class="details">
                  <span class="date-left"></span>
                  <span class="date-right">{{contestDetail.ideaSubmissionDateTime}} <i class="fa fa-caret-right"></i></span>
                </span>
                <span class="line-color"></span>
                <span class="name" translate="idea"></span>
              </div>
              <div class="phase-box phase-uiux" ng-show="contestDetail.uxSubmissionDateTime.length">
                <span class="details">
                  <span class="date-left"></span>
                  <span class="date-right">{{contestDetail.uxSubmissionDateTime}} <i class="fa fa-caret-right"></i></span>
                </span>
                <span class="line-color"></span>
                <span class="name" translate="uiux"></span>
              </div>
              <div class="phase-box phase-prototype" ng-show="contestDetail.prototypeSubmissionDateTime.length">
                <span class="details">
                  <span class="date-left"></span>
                  <span class="date-right">{{contestDetail.prototypeSubmissionDateTime}} <i class="fa fa-caret-right"></i></span>
                </span>
                <span class="line-color"></span>
                <span class="name" translate="prototype"></span>
              </div>
              <div class="phase-box phase-final-app">
                <span class="details">
                  <span class="date-left"></span>
                  <span class="date-right">{{contestDetail.submissionDateTime}} <i class="fa fa-caret-right"></i></span>
                </span>
                <span class="line-color"></span>
                <span class="name" translate="finalApp"></span>
              </div>
            </div>
            <div class="timeLine-milestone desktop">
              <div class="phase-box phase-registration"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}">
                <span translate="registration"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-left"><i class="fa fa-circle"></i> {{contestDetail.startDateTime}}</span>
                <span class="date-right">{{contestDetail.registrationDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-idea"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.ideaSubmissionDateTime.length">
                <span translate="idea"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.ideaSubmissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-uiux"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.uxSubmissionDateTime.length">
                <span translate="uiux"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.uxSubmissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-prototype"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}"
                   ng-show="contestDetail.prototypeSubmissionDateTime.length">
                <span translate="prototype"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.prototypeSubmissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
              <div class="phase-box phase-final-app"
                   ng-class="{'three-cols': contestDetail.timeline == 3, 'four-cols': contestDetail.timeline == 4, 'five-cols': contestDetail.timeline == 5}">
                <span translate="finalApp"></span>
                <span class="line-color"></span>
                <span class="line-dot"></span>
                <span class="date-right">{{contestDetail.submissionDateTime}} <i class="fa fa-circle"></i></span>
              </div>
            </div>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="businessRequirements"></p>

            <p class="detail" translate="{{contestDetail.businessRequirement | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="generalNotes"></p>

            <p class="detail" translate="{{contestDetail.generalNote | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="technologies"></p>

            <p class="detail">
            <span class="tag" ng-repeat="skill in contestDetail.technologies">
              {{skill}}
            </span>
            </p>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="documents"></p>

            <p class="detail" translate="{{contestDetail.documents | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="deliverables"></p>

            <p class="detail" translate="{{contestDetail.deliverables | lineBreak}}"/>
          </div>
          <div class="row contest-content-item">
            <p class="title" translate="reviewStyle"></p>

            <p class="detail">
              {{contestDetail.reviewStyle}}
            </p>
          </div>
          <div class="quality-idea-block">
            <p class="header" translate="howWeEvaluateContestants"/>

            <div class="row contest-content-item">
              <p class="title" translate="qualityIdea"/>
              <p class="detail">
                {{contestDetail.qualityIdea}}
              </p>
            </div>
          </div>
        </div>
        <div class="registrants tab-pane fade" ng-show="contestDetail.isAuthor">
          <div class="funnel-challenge-phase-block">
            <div class="challenge-phase-item"
                 ng-repeat="phase in registrantFunnel" ng-click="reviewPhase($index, phase, contestDetail.nextPhase)"
                 ng-class="{col3: registrantFunnel.length == 3, col4: registrantFunnel.length == 4, col5: registrantFunnel.length == 5, col6: registrantFunnel.length == 6, active: $index == selectedPhase}">
              <div class="current-phase"
                  ng-class="{active: (phase.phase | uppercase) == contestDetail.currentPhase}">
                <span translate="currentPhase"></span>
                <i class="fa fa-caret-down"></i>
              </div>
              <div class="phase-name {{phase.phase | progress: 'challengePhaseTitle' | lowercase}}"
                  ng-class="{pass: $index <= registrantFunnel.currentPosition, uiux: (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'ui/ux'}">
                <i class="fa fa-key" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'registration'"></i>
                <i class="fa fa-lightbulb-o" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'idea'"></i>
                <i class="fa fa-paint-brush" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'ui/ux'"></i>
                <i class="fa fa-cubes" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'prototype'"></i>
                <i class="fa fa-check-circle-o" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'final app'"></i>
                <i class="fa fa-trophy" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner'"></i>
                <span>{{phase.phase | lowercase | translate}}</span>
              </div>
              <div class="registrants-phase">
                <p translate="registrantsNumberPhase"
                   translate-value-number="{{phase.participant}}" ng-show="phase.participant > 0 &&  ((phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'registration')"></p>
                <p translate="participantsNumber"
                   translate-value-number="{{phase.participant}}" ng-show="((phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'registration') && phase.participant > 0 && (phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'winner'"></p>
                <p translate="submissionsNumber"
                   translate-value-number="{{phase.submission}}" ng-show="((phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'registration') && phase.submission > 0 && (phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'winner'"></p>
                <p translate="finalistNumber"
                   translate-value-number="{{phase.participant}}" ng-show="phase.participant > 0 && (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner'"></p>
                <p translate="winnersNumber"
                   translate-value-number="{{phase.submission}}"  ng-show="phase.submission > 0 && (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner'"></p>
              </div>
            </div>
            <div class="phase-content-block">
              <div class="phase-content-details" ng-repeat="phase in registrantFunnel" ng-show="$index == selectedPhase">
                <p translate="PhaseDes"
                   ng-show="$index == selectedPhase && (phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'winner' && (phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'final app'"></p>
                <p translate="FinalDes"
                   ng-show="$index == selectedPhase && (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'final app'"></p>
                <p translate="winnerDes"
                   ng-show="$index == selectedPhase && (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner'"></p>
                <table class="contests-table">
                  <thead>
                  <tr>
                    <th>
                      <div class="registrants-challenge-list">
                        <div class="registrant-order">
                          #
                        </div>
                        <div class="registrant-name">
                          {{'fullNameField' | translate}}
                        </div>
                        <div class="registration-date" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'registration'"
                          ng-click="sortByRegistrationDate()">
                          {{'registrationDate' | translate}}
                          <i class="fa"
                             ng-class="{'fa-chevron-circle-down':sortByRegistrationDateType == 'desc','fa-chevron-circle-up': sortByRegistrationDateType == 'asc'}"></i>
                        </div>
                        <div class="registration-date" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'registration'"
                          ng-click="sortBySubmissionDate()">
                          {{'lastSubmissionDate' | translate}}
                          <i class="fa"
                          ng-class="{'fa-chevron-circle-down':sortBySubmissionDateType == 'desc','fa-chevron-circle-up': sortBySubmissionDateType == 'asc'}"></i>
                        </div>
                        <div class="registration-submission">
                          {{'submissions' | translate}}
                        </div>
                        <div class="registration-score"
                             ng-click="sortByScore()"
                             ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner' || (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'final app'">
                          {{'score' | translate}}
                          <i class="fa"
                             ng-class="{'fa-chevron-circle-down': sortByScoreType == 'desc','fa-chevron-circle-up': sortByScoreType == 'asc'}"></i>
                        </div>
                        <div class="registration-review" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'final app'">
                          {{'qualifiedNextPhase' | translate}}
                        </div>
                        <div class="registration-action">
                          {{'action' | translate}}
                        </div>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-show="registrantPhase.length == 0" class="no-data-found">
                    <td>
                      <p translate="noData"></p>
                    </td>
                  </tr>
                  <tr dir-paginate="user in registrantPhase | itemsPerPage:10" id="id-{{$index}}" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'winner'">
                    <td>
                      <div class="registrants-challenge-list">
                        <div class="registrant-order">
                          <div class="label-col">#</div>
                          {{$index + 1}}
                        </div>
                        <div class="registrant-name">
                          <div class="label-col" translate="fullNameField"></div>
                          <i class="fa fa-ban" ng-show="user.disqualifiedReason.length; user.qualified == false"></i>
                          {{user.names}}
                          <p class="note" ng-show="user.disqualifiedReason.length">{{'disqualifyingReason' | translate}}: {{user.disqualifiedReason}}</p>
                        </div>
                        <div class="registration-date" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'registration'">
                          <div class="label-col" translate="registrationDate"></div>
                          {{user.registrantId | timestamp: 'number'}}
                        </div>
                        <div class="registration-date" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'registration'">
                          <div class="label-col" translate="lastSubmissionDate"></div>
                          {{user.lastSubmission.submissionDateTime}}
                        </div>
                        <div class="registration-submission">
                          <div class="label-col" translate="submissions"></div>
                          <a ng-click="user.showReviewSubmission()" title="{{'submissionsReviewTip' | translate}}">{{user.phaseSubmissions.length || 0}}</a>
                        </div>
                        <div class="registration-score"
                             ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'winner' || (phase.phase | progress: 'challengePhaseTitle' | lowercase) == 'final app'">
                          <div class="label-col" translate="score"></div>
                          <a ng-click="user.showScore()">{{user.savedTotalPoint}}</a>
                        </div>

                        <div class="registration-review" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'final app'">
                          <div class="label-col" translate="qualifiedNextPhase"></div>

                          <a ng-show="(user.disqualified == null && user.qualified == null) && user.activePhase != contestDetail.nextPhase"
                             title="{{'qualifyNextPhase' | translate}}"><i class="fa fa-thumbs-up" ng-click="user.showQualification()"></i></a>
                          <a ng-show="user.disqualified == null && user.qualified == null"
                             title="{{'disqualifyNextPhase' | translate}}"><i class="fa fa-thumbs-down" ng-click="user.showDisqualification()"></i></a>
                          <span translate="qualified" ng-show="user.qualified == true"></span>
                          <span translate="disqualified" ng-show="user.qualified == false"></span>
                        </div>
                        <div class="registration-action">
                          <div class="label-col" translate="action"></div>
                          <a ng-click="user.showFeedback()">{{'feedback' | translate}}</a>
                        </div>
                      </div>
                      <contest-detail-action registrant="user" challenge="contestDetail"></contest-detail-action>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="registrants-paging" ng-show="(phase.phase | progress: 'challengePhaseTitle' | lowercase) != 'winner'">
                  <span translate="contestantsReturned" translate-value-number="{{registrantPhase.length}}"></span>
                  <dir-pagination-controls
                      max-size="10"
                      direction-links="true"
                      boundary-links="true">
                  </dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="evaluation-criteria tab-pane fade" ng-show="contestDetail.isAuthor">
          <evaluation-criteria></evaluation-criteria>
        </div>
        <div class="feedback-loading"></div>
      </div>
    </div>
  </div>
</div>