<nav class="navbar">
  <div class="logo-block text-center">
    <div class="logo" id="logo">
      <h1><a href="#/"> <img src="images/logo.svg" alt="Career Analytics. Awesome!"></a></h1>
    </div>
    <div class="vnw-logo">
      <a href="http://www.vietnamworks.com/" target="_blank"><img src="images/vnw-logo.svg" alt="Career Analytics. Awesome!"></a>
    </div>
  </div>
</nav>
<div class="contest-detail-page">
  <div class="contest-detail-content">
    <div class="row contest-name">
      <h2>{{contestDetail.challengeName}}</h2>
      <a class="salary-report-share" ng-click="fbShare('http://techlooper.com/contest-detail/{{contestDetail.challengeId}}', '{{contestDetail.challengeName}}', '{{contestDetail.challengeOverview}}', 'http://goo.gl/dS52U', 520, 350)">
        <i class="fa fa-facebook"></i> <span class="text" translate="share"></span></a>
      <!--<a href="#/post-contest" class="btn btn-primary btn-flat" translate="createNewContest"></a>-->
    </div>
    <div class="row timeline-reward-block">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null, 'col12': contestDetail.secondPlaceReward == null, }">
            <p translate="stPrize" ng-show="contestDetail.secondPlaceReward != null"></p>
            <p translate="prize" ng-show="contestDetail.secondPlaceReward == null"></p>
            <strong>${{contestDetail.firstPlaceReward | number:0}}</strong>
          </div>
          <div class="col-md-4" ng-class="{'col6': contestDetail.thirdPlaceReward == null}"  ng-show="contestDetail.secondPlaceReward != null">
            <p translate="ndPrize"></p>
            <strong>${{contestDetail.secondPlaceReward | number:0}}</strong>
          </div>
          <div class="col-md-4" ng-show="contestDetail.thirdPlaceReward != null">
            <p translate="rdPrize"></p>
            <strong>${{contestDetail.thirdPlaceReward | number:0}}</strong>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ic-time-down"></div>
        <div class="time-block">
          <h3 translate="currentPhase" />
          <p translate="{{contestDetail | progress:'challenge'}}" />
          <p class="count-down-day" translate="moreDayToSubmit"
             translate-value-day-left="<strong>{{contestDetail.submissionDateTime | countdown}}</strong>" ng-show="status('contest-in-progress')" />
        </div>
        <a ng-modal="dateInfo" ng-click="dateInfo = !dateInfo">
          <span translate="ViewNextDeadlines" ng-show="!dateInfo"></span>
          <span translate="ViewAllDeadlines" ng-show="dateInfo"></span>
        </a>
        <div class="timeline-information animate-show" ng-show="dateInfo">
          <ul>
            <li><span translate="startDate"></span>{{contestDetail.startDateTime}}</li>
            <li><span translate="registerBy"></span>{{contestDetail.registrationDateTime}}</li>
            <li><span translate="submitBy"></span>{{contestDetail.submissionDateTime}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-success"  ng-show="!status('able-to-join')">
      <p translate="congratulationsForJoinContest"></p>
    </div>
    <div class="row registration-count">
      <div class="col-md-12">
        <p translate="registerNumber" translate-value-register-number="<strong>{{contestDetail.numberOfRegistrants}}</strong>"></p>
        <a ng-disabled="!status('able-to-join')" ng-click="joinNowByFB()" class="btn btn-primary btn-flat" translate="joinNow" />
      </div>
    </div>
    <div class="row contest-content-detail">
      <div class="col-md-12">
        <div class="row contest-content-item">
          <p class="title" translate="challengeOverView"></p>
          <p class="detail">
            {{contestDetail.challengeOverview}}
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="businessRequirements"></p>
          <p class="detail">
            {{contestDetail.businessRequirement}}
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="generalNotes"></p>
          <p class="detail">
            {{contestDetail.generalNote}}
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="technologies"></p>
          <p class="detail">
            <span class="tag" ng-repeat="skill in contestDetail.technologies">
              {{skill}}
            </span>
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="documents"></p>
          <p class="detail">
            {{contestDetail.documents}}
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="deliverables"></p>
          <p class="detail">
            {{contestDetail.deliverables}}
          </p>
        </div>
        <div class="row contest-content-item">
          <p class="title" translate="reviewStyle"></p>
          <p class="detail">
            {{contestDetail.reviewStyle}}
          </p>
        </div>
        <div class="quality-idea-block">
          <p class="header" translate="rewardTheWinner"></p>
          <div class="row contest-content-item">
            <p class="title" translate="qualityIdea"></p>
            <p class="detail">
              {{contestDetail.qualityIdea}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>