<div class="review-block">
  <div class="submitted-histories" ng-show="!registrant.submissions.length">
    <p translate="noDataSubmission" class="no-submission"></p>
    <span class="close-box" ng-click="registrant.hide()" title="{{'closed' | translate}}">x</span>
  </div>
  <div class="submitted-histories" ng-show="registrant.submissions.length" >
    <div class="header-row">
      <div class="subject-col" translate="descriptionCol"></div>
      <div class="submission-link-col" translate="submissionLink"></div>
      <div class="date-col" translate="date"></div>
      <div class="unread-col" translate="markedAsUnread"></div>
      <div class="close-col" ng-click="registrant.hide()" title="{{'closed' | translate}}">
        x
      </div>
    </div>
    <div class="body-row">
      <div class="submitted-row" ng-repeat="submission in registrant.submissions | orderBy: '-challengeSubmissionId'">
        <div class="subject-col">
          <label translate="descriptionCol"></label>
          <i class="fa fa-circle-thin" ng-show="submission.isRead"></i>
          <i class="fa fa-circle" ng-show="!submission.isRead"></i>
          {{submission.submissionDescription}}
        </div>
        <div class="submission-link-col">
          <label translate="submissionLink"></label>
          <a target="_blank" ng-click="goToSubmissionLink(submission.submissionURL)">
            {{submission.submissionURL}}
          </a>
        </div>
        <div class="date-col">
          <label translate="date"></label>
          {{submission.submissionDateTime}}
        </div>
        <div class="unread-col">
          <label translate="markedAsUnread"></label>
          <a href="" ng-show="!submission.isRead" translate="read" ng-click="saveReadSubmission(submission)"></a>
          <a href="" ng-show="submission.isRead" translate="markedAsUnread"></a>
        </div>
        <div class="close-col"></div>
      </div>
    </div>
  </div>
</div>