<div class="registrant-score">
  <div class="score-form">
    <form name="registrantScore">
      <ul>
        <li>
          <div class="points-name">
            Lorem Ipsum is simply dummy text of the printing:
          </div>
          <div class="points-input">
            <input type="text" placeholder="{{'points' | translate}}" maxlength="3" class="input-style"/>
          </div>
          <div class="points-comment">
            <input type="text" maxlength="200" placeholder="{{'comment' | translate}}" class="input-style"/>
          </div>
        </li>
        <li>
          <div class="points-name">
            Lorem Ipsum is simply dummy text of the printing:
          </div>
          <div class="points-input">
            <input type="text" placeholder="{{'points' | translate}}" maxlength="3" class="input-style"/>
          </div>
          <div class="points-comment">
            <input type="text" maxlength="200" placeholder="{{'comment' | translate}}" class="input-style"/>
          </div>
        </li>
        <li>
          <div class="points-name">
            Lorem Ipsum is simply dummy text of the printing:
          </div>
          <div class="points-input">
            <input type="text" placeholder="{{'points' | translate}}" maxlength="3" class="input-style"/>
          </div>
          <div class="points-comment">
            <input type="text" maxlength="200" placeholder="{{'comment' | translate}}" class="input-style"/>
          </div>
        </li>
        <li>
          <div class="points-name">
            {{'totalPoints' | translate}}
          </div>
          <div class="points-input">
            <input type="text" placeholder="{{'points' | translate}}" maxlength="3" class="input-style"/>
          </div>
          <div class="points-comment">

          </div>
        </li>
        <li>
          <a class="btn btn-primary btn-flat" translate="save" ng-click="registrant.score()"></a>
          <a class="btn btn-primary btn-flat" translate="cancel" ng-click="registrant.hide()" ></a>
        </li>
      </ul>
    </form>
  </div>
</div>