<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="text-center">
      <p translate="rejectConfirmation"></p>
      <textarea class="textarea-style" ng-model="user.disqualifiedReason" maxlength="200" placeholder="{{'disqualifyingReason' | translate}}"></textarea>
      <p class="note" translate="charactersLeft" translate-value-characters-left="{{200 - user.disqualifiedReason.length}}"></p>
      <a ng-click="$hide()" translate="no"  class="btn btn-primary btn-flat gray"></a>
      <a ng-click="disqualify(user); $hide()" translate="yes" class="btn btn-primary btn-flat"></a>
    </div>
  </div>
</div>