<div class="challenge-phase-item"
     ng-repeat="phase in registrantFunnel" ng-click="reviewPhase($index, phase, contestDetail.nextPhase)"
     ng-class="{col2: registrantFunnel.length == 2, col3: registrantFunnel.length == 3, col4: registrantFunnel.length == 4, col5: registrantFunnel.length == 5, col6: registrantFunnel.length == 6, active: $index == selectedPhase}">
  <div class="current-phase"
       ng-class="{active: (phase.phase | uppercase) == contestDetail.currentPhase,
       noDaysLeft: contestDetail.currentPhaseDaysLeft <= 0, activeWinner: contestDetail.progress.translate == 'closed'}">
    <div ng-show="contestDetail.progress.translate != 'closed'">
      <div class="current-phase-text">
        <span translate="currentPhase"></span>
      </div>
      <div class="time-left" ng-show="contestDetail.currentPhaseDaysLeft > 0"
           translate="daysLeft"
           translate-value-days="{{contestDetail.currentPhaseDaysLeft}}"></div>
      <div class="arrow-current"></div>
    </div>
    <div ng-show="contestDetail.progress.translate == 'closed' && phase.phase == 'WINNER'">
      <div class="current-phase-text">
        <span translate="currentPhase"></span>
      </div>
      <div class="arrow-current"></div>
    </div>
  </div>
  <div class="phase-name {{phase.phase.toLowerCase()}}"
       ng-class="{pass: $index <= registrantFunnel.currentPosition}">
    <i class="fa fa-key" ng-show="(phase.phase.toLowerCase()) == 'registration'"></i>
    <i class="fa fa-lightbulb-o" ng-show="(phase.phase.toLowerCase()) == 'idea'"></i>
    <i class="fa fa-paint-brush" ng-show="(phase.phase.toLowerCase()) == 'uiux'"></i>
    <i class="fa fa-cubes" ng-show="(phase.phase.toLowerCase()) == 'prototype'"></i>
    <i class="fa fa-check-circle-o" ng-show="(phase.phase.toLowerCase()) == 'final'"></i>
    <i class="fa fa-trophy" ng-show="(phase.phase.toLowerCase()) == 'winner'"></i>
    <span translate="{{phase.phase.toLowerCase()}}"></span>
  </div>
  <div class="registrants-phase">
    <p translate="registrantsNumberPhase"
       translate-value-number="{{phase.participant}}" ng-show="phase.participant > 0 &&  ((phase.phase.toLowerCase()) == 'registration')"></p>
    <p translate="participantsNumber"
       translate-value-number="{{phase.participant}}" ng-show="((phase.phase.toLowerCase()) != 'registration') && phase.participant > 0 && (phase.phase.toLowerCase()) != 'winner'"></p>
    <p translate="submissionsNumber"
       translate-value-number="{{phase.submission}}" ng-show="phase.submission > 0 && (phase.phase.toLowerCase()) != 'winner'"></p>
    <p translate="finalistNumber"
       translate-value-number="{{contestDetail.countWinnerPaticipants}}" ng-show="contestDetail.countWinnerPaticipants > 0 && (phase.phase.toLowerCase()) == 'winner'"></p>
    <p translate="winnersNumber"
       translate-value-number="{{contestDetail.winners.length}}"  ng-show="contestDetail.winners.length > 0 && (phase.phase.toLowerCase()) == 'winner'"></p>
  </div>
</div>