<div class="phase-content-block">
  <div class="phase-content-details" ng-repeat="phase in registrantFunnel" ng-show="$index == selectedPhase">
    <div class="phase-description">
      <p translate="PhaseDes"
         ng-show="$index == selectedPhase && (phase.phase.toLowerCase()) != 'winner' && (phase.phase.toLowerCase()) != 'final'"></p>
      <p translate="FinalDes"
         ng-show="$index == selectedPhase && (phase.phase.toLowerCase()) == 'final'"></p>
      <p translate="winnerDes"
         ng-show="$index == selectedPhase && (phase.phase.toLowerCase()) == 'winner'"></p>
      <div class="announcement-winner" ng-show="$index == selectedPhase && (phase.phase.toLowerCase()) == 'winner'">
        <a translate="announceWinnerToAllContestants" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#emailCompose"></a>
      </div>
    </div>
    <table class="contests-table">
      <thead>
      <tr>
        <th>
          <div class="registrants-challenge-list">
            <div class="registrant-order">
              #
            </div>
            <div class="registrant-name">
              {{'fullNameField' | translate}}
            </div>
            <div class="prize-col" ng-show="(phase.phase.toLowerCase()) == 'winner'">
              <p translate="prize"></p>
              <div class="prize"
                   ng-class="{'one': contestDetail.secondPlaceReward == null && contestDetail.thirdPlaceReward == null, 'two': contestDetail.secondPlaceReward != null && contestDetail.thirdPlaceReward == null}">
                <span class="gold">${{contestDetail.firstPlaceReward | number:0}}</span>
              </div>
              <div class="prize" ng-show="contestDetail.secondPlaceReward != null"
                   ng-class="{two: contestDetail.thirdPlaceReward == null}">
                <span class="silver">${{contestDetail.secondPlaceReward | number:0}}</span>
              </div>
              <div class="prize" ng-show="contestDetail.thirdPlaceReward != null">
                <span class="bronze">${{contestDetail.thirdPlaceReward | number:0}}</span>
              </div>
            </div>
            <div class="registration-date" ng-show="(phase.phase.toLowerCase()) == 'registration'"
                 ng-click="sortByRegistrationDate()">
              {{'registrationDate' | translate}}
              <i class="fa"
                 ng-class="{'fa-chevron-circle-down':sortByRegistrationDateType == 'desc','fa-chevron-circle-up': sortByRegistrationDateType == 'asc'}"></i>
            </div>
            <div class="registration-date" ng-show="(phase.phase.toLowerCase()) != 'registration' && (phase.phase.toLowerCase()) != 'winner'"
                 ng-click="sortBySubmissionDate()">
              {{'lastSubmissionDate' | translate}}
              <i class="fa"
                 ng-class="{'fa-chevron-circle-down':sortBySubmissionDateType == 'desc','fa-chevron-circle-up': sortBySubmissionDateType == 'asc'}"></i>
            </div>
            <div class="registration-submission">
              {{'submissions' | translate}}
            </div>
            <div class="registration-score"
                 ng-click="sortByScore()"
                 ng-show="(phase.phase.toLowerCase()) == 'winner' || (phase.phase.toLowerCase()) == 'final'">
              {{'score' | translate}}
              <i class="fa"
                 ng-class="{'fa-chevron-circle-down': sortByScoreType == 'desc','fa-chevron-circle-up': sortByScoreType == 'asc'}"></i>
            </div>
            <div class="registration-review" ng-show="(phase.phase.toLowerCase()) != 'final' && (phase.phase.toLowerCase()) != 'winner'">
              {{'qualifiedNextPhase' | translate}}
            </div>
            <div class="registration-action">
              {{'action' | translate}}
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="registrantPhase.length == 0" class="no-data-found">
        <td>
          <p translate="noData"></p>
        </td>
      </tr>
      <tr dir-paginate="user in registrantPhase | itemsPerPage:10" id="id-{{$index}}" current-page="currentPage" pagination-id="phase.phase">
        <td>
          <div class="registrants-challenge-list">
            <div class="registrant-order">
              <div class="label-col">#</div>
              {{ ($index + 1) + (currentPage - 1) * 10}}
            </div>
            <div class="registrant-name">
              <div class="label-col" translate="fullNameField"></div>
              <i class="fa fa-ban" ng-show="user.disqualifiedReason.length; user.disqualified == true"></i>
              {{user.names}}
              <p class="note" ng-show="user.disqualifiedReason.length">{{'disqualifyingReason' | translate}}: {{user.disqualifiedReason}}</p>
            </div>
            <div class="prize-col" ng-show="(phase.phase.toLowerCase()) == 'winner'">
              <div class="label-col" translate="prize"></div>
              <div class="prize"
                   ng-class="{'one': contestDetail.secondPlaceReward == null && contestDetail.thirdPlaceReward == null, 'two': contestDetail.secondPlaceReward != null && contestDetail.thirdPlaceReward == null}">
                <input ng-click="contestDetail.save1stWinner(user)" ng-checked="user.reward == 'FIRST_PLACE'" type="checkbox"/>
              </div>
              <div class="prize" ng-show="(phase.phase.toLowerCase()) == 'winner' && contestDetail.secondPlaceReward != null">
                <input ng-click="contestDetail.save2ndWinner(user)" ng-checked="user.reward == 'SECOND_PLACE'" type="checkbox"/>
              </div>
              <div class="prize" ng-show="(phase.phase.toLowerCase()) == 'winner' && contestDetail.thirdPlaceReward != null">
                <input ng-click="contestDetail.save3rdWinner(user)" ng-checked="user.reward == 'THIRD_PLACE'"  type="checkbox"/>
              </div>
            </div>
            <div class="registration-date" ng-show="(phase.phase.toLowerCase()) == 'registration'">
              <div class="label-col" translate="registrationDate"></div>
              {{user.registrantId | timestamp: 'number'}}
            </div>
            <div class="registration-date" ng-show="(phase.phase.toLowerCase()) != 'registration' && (phase.phase.toLowerCase()) != 'winner'">
              <div class="label-col" translate="lastSubmissionDate"></div>
              {{user.lastSubmission.submissionDateTime || '-'}}
            </div>
            <div class="registration-submission">
              <div class="label-col" translate="submissions"></div>
              <a ng-click="user.showReviewSubmission()" title="{{'submissionsReviewTip' | translate}}">{{user.submissions.length || 0}}</a>
            </div>
            <div class="registration-score"
                 ng-show="(phase.phase.toLowerCase()) == 'winner' || (phase.phase.toLowerCase()) == 'final'">
              <div class="label-col" translate="score"></div>
              <a ng-click="user.showScore()">{{user.savedTotalPoint}}</a>
            </div>

            <div class="registration-review" ng-show="(phase.phase.toLowerCase()) != 'final' && (phase.phase.toLowerCase()) != 'winner'">
              <div class="label-col" translate="qualifiedNextPhase"></div>
              <a ng-show="user.disqualified == null && user.qualified == null"
                 ng-click="user.showQualification()"
                 title="{{'qualifyNextPhase' | translate}}"><i class="fa fa-thumbs-up"></i></a>
              <a ng-show="user.disqualified == null && user.qualified == null"
                 title="{{'disqualifyNextPhase' | translate}}"><i class="fa fa-thumbs-down" ng-click="user.showDisqualification()"></i></a>
              <span translate="qualified" ng-show="user.qualified == true && user.disqualified != true"></span>
              <span translate="disqualified" ng-show="user.disqualified == true"></span>
            </div>
            <div class="registration-action">
              <div class="label-col" translate="action"></div>
              <a ng-click="user.showFeedback()">{{'feedback' | translate}}</a>
            </div>
          </div>
          <contest-detail-action registrant="user" challenge="contestDetail"></contest-detail-action>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="registrants-paging">
      <span translate="contestantsReturned" translate-value-number="{{registrantPhase.length}}" ng-show="registrantPhase.length > 0"></span>
      <dir-pagination-controls pagination-id="phase.phase"
          max-size="10"
          direction-links="true"
          boundary-links="true">
      </dir-pagination-controls>
    </div>
  </div>
</div>