<div class="tab-manager">
  <ul class="nav nav-tabs contest-content-tab">
    <li class="active">
      <a data-toggle="tab" href=".detail" translate="detail" ng-click="submissionForm.hideSubmitForm()"></a>
    </li>
    <li ng-show="contestDetail.isAuthor && !contestDetail.$currentState.isNotStart && contestDetail.numberOfRegistrants > 0">
      <a data-toggle="tab" href=".registrants" ng-click="refreshChallengeDetail()">{{'registrants' | translate}}
      ({{contestDetail.numberOfRegistrants}})</a></li>
    <li ng-show="contestDetail.isAuthor">
      <a data-toggle="tab" href=".evaluation-criteria" translate="evaluationCriteria"></a>
    </li>
    <li ng-if="contestDetail.visibleWinners">
      <a data-toggle="tab" href=".winner-board" ng-click="contestDetail.reloadWinners()">
        {{'winnerBoard' | translate}}
        ({{contestDetail.winnerBoardListing}})
      </a>
    </li>
  </ul>
</div>