<div class="row join-internal-challenge">
  <ng-form name="joinInternalForm" autocomplete="off" role="form" class="form-horizontal">
    <p ng-if="challenge.$isInternal && challenge.companyDomains.length" class="title-head text-center">
      {{'useYourEmailDomain' | translate}}
      <span ng-repeat="domain in challenge.companyDomains">
        <strong>{{domain}}</strong><span class="ortext" ng-if="!$last" translate="or"></span>
      </span>
      {{'toRegister' | translate}}
    </p>
    <div class="form-group">
      <div ng-class="{'col-sm-12': !registrant.$sentVerifyEmail, 'col-sm-6': registrant.$sentVerifyEmail}">
        <label for="ic-email"><span translate="emailAddressField"></span> <strong>*</strong></label>
        <input type="email" class="form-control" id="ic-email" placeholder="{{('exampleEmail') | translate}}{{challenge.companyDomains[0]}}"
               name="email" ng-model="registrant.registrantInternalEmail" ng-required="true" ng-readonly="registrant.$sentVerifyEmail"/>
        <span class="error-messages"
              ng-show="joinInternalForm.email.$error.required && (joinInternalForm.email.$dirty || joinInternalForm.$submitted)"
              translate="requiredThisField"/>
        <span class="error-messages"
              ng-show="joinInternalForm.email.$error.email && (joinInternalForm.email.$dirty || joinInternalForm.$submitted)"
              translate="emailInvalid"/>
        <span class="error-messages"
              ng-show="joinInternalForm.email.$error.domainMatch && (joinInternalForm.email.$dirty || joinInternalForm.$submitted)"
              translate="emailDomainNotMatch"/>
      </div>

      <div class="col-sm-6" ng-if="registrant.$sentVerifyEmail">
        <label class="col-md-12">
          <span translate="passCode"></span>
        </label>
          <input type="password" class="input-style passcode"
                 name="passcode" maxlength="4" minlength="4" only-digits=""
                 ng-model="registrant.passcode"
                 placeholder="{{'enterYourPassCode' | translate}}"/>

        <div class="error-messages"
             ng-show="joinInternalForm.passcode.$error.required && (joinInternalForm.passcode.$dirty || joinInternalForm.$submitted)"
             translate="requiredThisField"/>
        <div class="error-messages"
             ng-show="joinInternalForm.passcode.$error.minlength && (joinInternalForm.passcode.$dirty || joinInternalForm.$submitted)"
             translate="invalidMinlengthDigits" translate-value-length="4"/>
        <div class="error-messages"
             ng-show="joinInternalForm.$error.matchPasscode"
             translate="invalidCredential" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary btn-flat" translate="save" ng-click="sentVerifyEmail()"
                ng-if="!registrant.$sentVerifyEmail"/>
        <button type="submit" class="btn btn-primary btn-flat" translate="verify" ng-click="joinChallenge()"
                ng-if="registrant.$sentVerifyEmail"/>
        <button type="cancel" class="btn btn-cancel btn-flat" translate="cancel" ng-click="doCancel()"></button>
      </div>
    </div>
  </ng-form>
</div>