<div class="submit-phase-contest show" ng-show="visibleSubmitForm">
  <ng-form name="submissionForm" autocomplete="off">
    <div class="form-group" ng-if="challenge.$isPublic">
      <div class="col-sm-12">
        <label>
        <span translate="fullName"></span>
        <span class="normal">{{submission.name}}</span>
          </label>
      </div>
    </div>
    <div class="form-group" ng-if="challenge.$isPublic">
      <div class="col-sm-12">
        <label><span translate="emailAddressField"></span>
        <span class="normal">{{submission.registrantEmail}}</span>
          </label>
      </div>
    </div>
    <div class="form-group" ng-if="challenge.$isInternal">
      <div class="col-sm-6">
        <label>
          <span>{{'emailAddressField' | translate}} <strong>*</strong></span>
          <input type="email" class="form-control" id="ic-email" placeholder="{{'emailAddressEx' | translate}}"
                 name="internalEmail" ng-model="submission.email" ng-required="true"/>
        </label>
        <span class="error-messages"
              ng-show="submissionForm.internalEmail.$error.required && (submissionForm.internalEmail.$dirty || submissionForm.$submitted)"
              translate="requiredThisField"/>
        <span class="error-messages"
              ng-show="submissionForm.internalEmail.$error.email && (submissionForm.internalEmail.$dirty || submissionForm.$submitted)"
              translate="emailInvalid"/>
        <span class="error-messages"
              ng-show="submissionForm.internalEmail.$error.domainMatch && (submissionForm.internalEmail.$dirty || submissionForm.$submitted)"
              translate="emailDomainNotMatch"/>
      </div>
      <div class="col-sm-6">
        <label>
          <span translate="passCode"></span>
          <input type="password" class="input-style passcode"
                 name="submissionPassCode"
                 ng-model="submission.submissionPassCode"
                 placeholder="{{'enterYourPassCode' | translate}}" ng-required="true"/>
        </label>
        <div class="error-messages"
             ng-show="submissionForm.submissionPassCode.$error.required && (submissionForm.submissionPassCode.$dirty || submissionForm.$submitted)"
             translate="requiredThisField" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label>
        <span translate="submissionToPhase"></span>  <span class="normal">{{submission.submissionPhase | textTruncate: 'lowercase' | translate}}</span>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label>
          <span translate="description"></span>
          <textarea name="submissionDescription" class="textarea-style" placeholder="{{'descriptionSubmissionTips' | translate}}"
                    ng-model="submission.submissionDescription" maxlength="3000" ng-required="true"></textarea>
        </label>
        <div class="error-messages"
             ng-show="submissionForm.submissionDescription.$error.required &&  (submissionForm.submissionDescription.$dirty || submissionForm.$submitted)"
             translate="requiredThisField" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label>
          <span translate="submissionURL"></span>
          <input type="text"  class="input-style"
                 name="submissionURL" placeholder="{{'submissionURLTips' | translate}}"
                 ng-pattern="/((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z0-9\.\/\?\:@\-_=#])*/"
                 ng-model="submission.submissionURL" ng-required="true" reset-validator-on-blur="invalidUrl"/>
        </label>
        <div class="error-messages"
             ng-show="submissionForm.submissionURL.$error.required && (submissionForm.submissionURL.$dirty || submissionForm.$submitted)"
             translate="requiredThisField" />
        <div class="error-messages"
             ng-show="submissionForm.submissionURL.$error.pattern && (submissionForm.submissionURL.$dirty || submissionForm.$submitted)"
             translate="requiredURL" />
        <div class="error-messages"
             ng-show="submissionForm.submissionURL.$error.invalidUrl && (submissionForm.submissionURL.$dirty || submissionForm.$submitted)">
          {{'404Error' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 text-center">
        <button translate="submit" class="btn btn-primary btn-flat" ng-click="pushChallengePhase()"></button>
        <button translate="cancel" class="btn btn-cancel btn-flat" ng-click="form.hideSubmitForm()"></button>
      </div>
    </div>
  </ng-form>
  <div class="feedback-loading"></div>
</div>