<div class="submit-phase-contest">
  <ng-form name="submissionForm" autocomplete="off">
    <div class="registrant-name">
      <span translate="fullName"></span>
      <span>{{submission.name}}</span>
    </div>
    <div class="registrant-email">
      <span translate="emailAddressField"></span>
      <span>{{submission.registrantEmail}}</span>
    </div>
    <div class="phase-description">
      <label for="txtDescription" translate="description"></label>
        <textarea name="submissionDescription" class="textarea-style" placeholder="{{'descriptionSubmissionTips' | translate}}"
                  ng-model="submission.submissionDescription" maxlength="3000" ng-required="true" ></textarea>
      <div class="error-messages"
           ng-show="submissionForm.submissionDescription.$error.required &&  (submissionForm.submissionDescription.$touched || submissionForm.$submitted)"
           translate="requiredThisField" />
    </div>
    <div class="phase-description">
      <label for="txtSubmissionURL" translate="submissionURL"></label>
      <input type="text" id="txtSubmissionURL" class="input-style"
             name="submissionURL" placeholder="{{'submissionURLTips' | translate}}"
             ng-pattern="/((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z0-9\.\/\?\:@\-_=#])*/"
             ng-model="submission.submissionURL" ng-required="true" />
      <div class="error-messages"
           ng-show="submissionForm.submissionURL.$error.required && (submissionForm.submissionURL.$touched || submissionForm.$submitted)"
           translate="requiredThisField" />
      <div class="error-messages"
           ng-show="submissionForm.submissionURL.$error.pattern && (submissionForm.submissionURL.$touched || submissionForm.$submitted)"
           translate="requiredURL" />
    </div>
    <div class="phase-submission">
      <button translate="submit" class="btn btn-primary btn-flat" ng-click="pushChallengePhase()"></button>
      <button translate="cancel" class="btn btn-primary btn-flat" ng-click="hideSubmitForm(contest.challengeId)"></button>
    </div>
  </ng-form>
</div>