<div class="row verify-email-domain">
  <ng-form name="" autocomplete="off" role="form" class="form-horizontal">
    <p ng-if="challenge.$isInternal && challenge.companyDomains.length" class="title-head text-center">
      {{'useYourEmailDomain' | translate}}
      <span ng-repeat="domain in challenge.companyDomains">
        <strong>{{domain}}</strong>&nbsp;<span ng-if="!$last" translate="or"></span>
      </span>
      {{'toRegister' | translate}}
    </p>
    <div class="form-group">
      <div class="col-md-6">
        <label class="col-md-12" for="txtEmailRegistration"><span translate="emailAddressField"/>: <strong>*</strong></label>
        <div class="col-md-12">
          <input type="text" class="form-control" id="txtEmailRegistration" placeholder="{{'emailAddressEx' | translate}}"/>
        </div>
        <div class="col-md-12">
          <span class="error-messages" translate="requiredThisField"/>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-12" for="txtPassRegistration"><span translate="password"/>: <strong>*</strong></label>
        <div class="col-md-12">
          <input type="password" class="form-control" id="txtPassRegistration" placeholder="{{'password' | translate}}"/>
        </div>
        <div class="col-md-12">
          <span class="error-messages" translate="requiredThisField"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary btn-flat" translate="save"></button>
        <button type="cancel" class="btn btn-cancel btn-flat" translate="cancel"></button>
      </div>
    </div>
  </ng-form>
</div>