<div class="content-page-block create-event-container">
  <div class="header-page">
    <h2 translate="createYourNewEvent"></h2>
  </div>
  <div class="content-page-detail">
    <div class="create-event-form">
      <form action="" autocomplete="off" name="webinarForm">
        <div class="create-event-field">
          <label for="txtWebinarName" translate="yourWebinarName"></label>
          <input type="text" id="txtWebinarName" placeholder="{{'yourWebinarNameEx' | translate}}"
                 ng-model="webinar.name"
                 class="input-style date"/>

          <div class="error-messages">This email is already added.</div>
        </div>
        <div class="create-event-field-group">
          <label for="txtTimeLineEvent" translate="whenEvent"></label>

          <div class="create-event-field">
            <div class='input-group date selectionTime'>

              <input datetime-picker ng-model="webinar.startDate" options="options"
                     required/>
            </div>
            <div class="time-to" translate="to"></div>
            <div class="create-event-field">
              <input datetime-picker ng-model="webinar.endDate" options="options"
                     required/>
            </div>
          </div>
          <div class="error-messages">This email is already added.</div>
        </div>
        <div class="create-event-field">
          <label for="txtWhereEvent" translate="whereEvent"></label>
          <input type="text" id="txtWhereEvent" value="Google Hangout" disabled="disabled"
                 class="input-style"/>

          <p class="note" translate="whereEventNode"></p>
        </div>
        <div class="create-event-field">
          <label for="txtWhatEvent" translate="whatEvent"></label>
          <input type="text" id="txtWhatEvent" placeholder="{{'whatEventEx' | translate}}"
                 ng-model="webinar.whatEvent" class="input-style"/>

          <p class="note" translate="whatEventNote"></p>
        </div>
        <div class="create-event-field">
          <label for="txtOrganiser" translate="organiser"></label>
          <input type="text" id="txtOrganiser"
                 class="input-style" disabled="disabled" value="Thu Hoang"/>
        </div>
        <div class="create-event-field">
          <label for="txtWhyEvent" translate="whoJoinAndWhy"></label>
          <textarea name="" cols="30" rows="10" id="txtWhyEvent"
                    ng-model="webinar.description"
                    class="change-color textarea-style"></textarea>

          <p class="note" translate="whoJoinAndWhyNote"></p>
        </div>

        <div class="create-event-field">
          <label for="txtAttendants" translate="attendants"></label>

          <div class="attendants-block">
            <div class="attendants-input">
              <<<<<<< HEAD
              <input type="email" id="txtAttendants" ng-model="attendants" class="input-style"
                     placeholder="{{'attendantsEx' | translate}}"/>
              =======
              <input type="email" id="txtAttendants"
                     ng-model="attendants" class="input-style"
                     placeholder="{{'attendantsEx' | translate}}"
                     name="attendants" touchable/>
              >>>>>>> f13620077fc84932b8771c6b81b9e4a6b5152934
              <button translate="add" class="btn btn-primary btn-flat" ng-click="addTag()"></button>
            </div>
            <div class="error-messages" ng-show="errors.length">
              <span ng-repeat="error in errors track by $last">
                {{error | translate}}
              </span>
            </div>
            <div class="attendants-list" ng-show="emails.length">
              <ul>
                <li ng-repeat="email in emails">
                  <p>{{email}}</p>
                  <i class="fa fa-trash-o" title="{{'remove' | translate}}" ng-click="removeTag()"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="create-event-field submit">
          <button translate="createEvent" class="btn btn-primary btn-flat" ng-click="createWebinar()"/>
          <button translate="cancel" class="btn btn-primary btn-flat"></button>
        </div>
      </form>
    </div>
  </div>
</div>