<nav class="navbar">
  <div class="logo-block text-center">
    <div class="logo" id="logo">
      <h1><a href="#/"> <img src="images/logo.svg" alt="Career Analytics. Awesome!"></a></h1>
      <a href="#/" class="backPage" translate>home</a>
    </div>
    <div class="vnw-logo">
      <a href="http://www.vietnamworks.com/" target="_blank"><img src="images/vnw-logo.svg" alt="Career Analytics. Awesome!"></a>
    </div>
  </div>
</nav>
<div class="price-job-page">
  <div class="price-job-title-block">
    <h2 translate="jobPostAssessment"></h2>
    <p translate>{{'salarySurveyContent' | translate}}</p>
  </div>
  <div class="price-job-block">
    <div class="navi-step-price-job">
      <ul>
        <li ng-click="nextStep('step1')" ng-class="{active: step==='step1' || step==='step2' || step==='step3', noPointer: step==='step3', showNavi: step==='step1'}"><h2 translate="aboutYourCompany"></h2></li>
        <li ng-click="nextStep('step2', 'step1')" ng-class="{active: step==='step2' || step==='step3', noPointer: step==='step3', showNavi: step==='step2'}"><h2 translate="aboutYourJob"></h2></li>
        <li ng-click="nextStep('step3', 'step2')" ng-class="{active: step==='step3', noPointer: step==='step3', showNavi: step==='step3'}"><h2 translate="yourJobReport"></h2></li>
      </ul>
    </div>
    <div class="price-job-content">
      <div class="arrow-up-active" ng-class="{step1: step ==='step1',step2: step ==='step2', step3: step ==='step3'}"><i class="fa fa-sort-down"></i></div>
      <div class="price-job-step-content" ng-show="step==='step1'">
        <h3 translate="desPriceJobStep1"></h3>
        <div class="price-job-step-form">
          <div class="price-job-step-field">
            <label>What is Your Company Main Activity? (Limited to 3) <strong>*</strong></label>
            <selectize config='selectize.industries.config' options='selectize.industries.items'
                       ng-model="priceJob.jobCategories"
                       name="{{'jobCategory' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.jobCategories']}}</div>
          </div>

          <div class="price-job-step-field">
            <label>How Many Employees Have Your Company? <strong>*</strong></label>
            <selectize config='selectize.companySize.config' options='selectize.companySize.items'
                       ng-model="priceJob.companySizeId" name="{{'companySizeId' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.companySizeId']}}</div>
          </div>
          <div class="price-job-step-field">
            <label>Where Your Company Is Looking To Hire: <strong>*</strong></label>
            <selectize config='selectize.locations.config' options='selectize.locations.items'
                       ng-model="priceJob.locationId"
                       name="{{'location' | translate}}" class="locationSelectbox"></selectize>
            <div class="error-messages">{{error['priceJob.locationId']}}</div>
          </div>
          <div class="price-job-step-field next-step">
            <button class="btn btn-primary btn-flat" ng-click="nextStep('step2', 'step1')">Next</button>
          </div>
          <div class="note" translate="noticeLine"></div>
        </div>
      </div>
      <div class="price-job-step-content" ng-show="step==='step2'">
        <h3 translate="desPriceJobStep2"></h3>
        <div class="price-job-step-form">
          <div class="price-job-step-field">
            <label>What is The Job Title? <strong>*</strong></label>
            <input type="text" id="txtJobTitle" ng-model="priceJob.jobTitle"
                   name="{{'jobTitle' | translate}}"
                   placeholder="{{'jobTitle.placeholder' | translate}}" maxlength="60"/>
            <div class="error-messages">{{error['priceJob.jobTitle']}}</div>
          </div>
          <div class="price-job-step-field">
            <label>For Which Job Level: <strong>*</strong></label>
            <selectize config='selectize.jobLevels.config' options='selectize.jobLevels.items'
                       ng-model="priceJob.jobLevelIds" name="{{'jobLevel' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.jobLevelIds']}}</div>
          </div>
          <div class="price-job-step-field">
            <label>Years of Experience Required: <strong>*</strong></label>
            <selectize config='selectize.experience.config' options='selectize.experience.items'
                       ng-model="priceJob.experienceId" name="{{'experienceId' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.experienceId']}}</div>
          </div>
          <div class="price-job-step-field">
            <label>Minimum Education Level: <strong>*</strong></label>
            <selectize config='selectize.education.config' options='selectize.education.items'
                       ng-model="priceJob.educationId"
                       name="{{'educationId' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.educationId']}}</div>
          </div>
          <div class="price-job-step-field">
            <label>Top Most Relevant Skills: (from 1 to 3) <strong>*</strong></label>
            <div class="top-three-skills">
              <div class="added-list-skills">
                <ul>
                  <li ng-repeat="skill in priceJob.skills">
                    <span class="left">
                      <span class="right"><i>{{skill}}</i>
                        <span ng-click="removeSkill(skill)" class="close" title="Remove">x</span>
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="max-skill-alert">{{error.newSkillName || error.existSkillName}}</div>
              <div class="add-skill-input">
                <input ng-model="newSkillName" type="text" maxlength="40" id="txtTopSkills" placeholder="{{'mostRelevantSkills.placeholder' | translate}}"/>
                <button ng-click="addNewSkill()" ng-disabled="priceJob.skills.length >= 3">{{'add' | translate}}</button>
              </div>
            </div>
            <div class="error-messages">{{error.skills}}</div>
          </div>
          <div class="price-job-step-field">
            <label>Languages Required:  (Limited to 3) <strong>*</strong></label>
            <selectize config='selectize.languages.config' options='selectize.languages.items'
                       ng-model="priceJob.languagesId"
                       name="{{'languagesId' | translate}}"></selectize>
            <div class="error-messages">{{error['priceJob.languagesId']}}</div>
          </div>
          <div class="price-job-step-field  next-step">
            <a ng-click="nextStep('step1')">Go Back</a> <button class="btn btn-primary btn-flat" ng-click="nextStep('step3', 'step2')">Next</button>
          </div>
          <div class="note" translate="noticeLine"></div>
        </div>
      </div>
      <div class="price-job-step-content" ng-show="step==='step3'">
        <div class="price-job-step-title">
          <div class="verified-data">
            <img src="images/verified-data.png" alt=""/>
          </div>
        </div>
        <div class="price-job-report">
          <div class="price-job-report-item">
            <div class="your-target-pay-block">
              <h4>Your Target Pay</h4>
              <div class="your-target-pay-content">

                <p>Your target pay for this job is <strong>$1,200</strong> NET a month</p>
              </div>
            </div>
            <div class="job-info-block">
              <ul>
                <li>
                  <span>Job Title</span>
                  <p>Java Developer</p>
                </li>
                <li>
                  <span>Experience Level</span>
                  <p>Manager</p>
                </li>
                <li>
                  <span>Skill</span>
                  <p>Skill 1 |  Skill 2  | Skill 3</p>
                </li>
                <li>
                  <span>Category</span>
                  <p>Category 1 |  Category 2  | Category 3</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="price-job-report-item">
            <div class="job-title-salary-report">
              <h4>Your Detailed Salary Report</h4>
              <div class="job-title-salary-report-content">
                <div class="salary-percentile-block">
                  <ul>
                    <li><span>10 <sup>th</sup></span> $400</li>
                    <li><span>25 <sup>th</sup></span>$900</li>
                    <li><strong><span>50 <sup>th</sup></span>$1,200</strong></li>
                    <li><span>75 <sup>th</sup></span>$1,400</li>
                    <li><span>90 <sup>th</sup></span>$1,700</li>
                    <li><span>Average:</span>$1,300</li>
                  </ul>
                </div>
                <div class="salary-percentile-chart">
                  Coming Soon...
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

