<div class="content-page-block">
  <div class="content-page-detail dashboard">
    <div class="row">
      <div class="col-md-12 dashboard-box">
        <div class="sub-header-dashboard">
          <h3 translate="myProfile"></h3>
        </div>
        <div class="row my-profile-info">
          <div class="col-sm-2 my-avatar">
            <img src="{{$root.userInfo.profileImageUrl}}" alt=""/>
          </div>
          <div class="col-sm-6 my-info">
            <ul>
              <li>
                <span translate="fullName"></span>{{$root.userInfo.name}}
              </li>
              <li>
                <span translate="emailAddress"></span>{{$root.userInfo.email}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--<div class="active-challenges-list contestant-page">-->
        <!--<div class="filter-item">-->
          <!--<span>AAA</span>-->
          <!--<span>AAA</span>-->
          <!--<span>AAA</span>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="row">
      <div class="my-challenge-list">
        <table class="table contests-table">
          <thead>
          <tr>
            <th>
              <div class="col-sm-4 challenge-name-col" translate="challenge"></div>
              <div class="col-sm-2 current-phase-col" translate="myCurrentPhase"></div>
              <div class="col-sm-2 submission-col" translate="submission"></div>
              <div class="col-sm-2 score-col" translate="score"></div>
              <div class="col-sm-1 prize-col" translate="prize"></div>
              <div class="col-sm-1 prize-col"></div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="the-second-prize">
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
                <span class="winner"></span>
              </div>
              <div class="submission-listing-block">
                <table class="table contests-table">
                  <thead>
                  <tr>
                    <th translate="descriptionCol"></th>
                    <th translate="submissionLink"></th>
                    <th translate="date"></th>
                    <th translate="phase"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><a href="" target="_blank">http://google.com</a></td>
                    <td>10/05/2015</td>
                    <td>Idea</td>
                  </tr>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><a href="" target="_blank">http://google.com</a></td>
                    <td>10/05/2015</td>
                    <td>Idea</td>
                  </tr>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><a href="" target="_blank">http://google.com</a></td>
                    <td>10/05/2015</td>
                    <td>Idea</td>
                  </tr>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><a href="" target="_blank">http://google.com</a></td>
                    <td>10/05/2015</td>
                    <td>Idea</td>
                  </tr>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><a href="" target="_blank">http://google.com</a></td>
                    <td>10/05/2015</td>
                    <td>Idea</td>
                  </tr>
                </table>
              </div>
              <div class="score-details-block">
                <table class="table contests-table">
                  <thead>
                  <tr>
                    <th translate="criteriaName"></th>
                    <th translate="criteriaWeight"></th>
                    <th></th>
                    <th translate="givenPoints"></th>
                    <th></th>
                    <th translate="weightedScoring"></th>
                    <th translate="comment"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Creativity on the proposed solution</td>
                    <td><strong>20</strong></td>
                    <td>x</td>
                    <td><strong>10</strong></td>
                    <td>=</td>
                    <td><strong>2,0</strong></td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="7">
                      <span translate="totalPoints"></span>: 8,3
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
              </div>

            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
              </div>

            </td>
          </tr>
          <tr class="the-first-prize">
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
                <span class="winner"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
              </div>
            </td>
          </tr>
          <tr class="the-third-prize">
            <td>
              <div class="col-sm-4 challenge-name-col">
                <a href="" target="_blank">
                  <i class="challenge-type" title="Public Challenge"></i>
                  Test Add field challenge type into email
                </a>
                <span class="note">12 day(s) left</span>
              </div>
              <div class="col-sm-2 current-phase-col">
                <span class="challenge-status idea">{{'idea' | translate}}</span>
                <span class="note">0 day(s) left to submission</span>
              </div>
              <div class="col-sm-2 submission-col">
                <a ng-click="toggleSubmissionListing()">2 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-2 score-col">
                <a ng-click="toggleScoreListing()">6.8 <i class="fa fa-caret-down"></i></a>
              </div>
              <div class="col-sm-1 prize-col">
                $4,500
              </div>
              <div class="col-sm-1 prize-col">
                <span class="winner"></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
