<nav class="navbar navbar-inverse mobile-header">
    <div class="logo-block text-center">
        <div class="logo" id="logo">
            <h1><a href="#/"> <img src="images/logo.png" alt="Career Analytics. Open Source. Awesome!"></a></h1>
        </div>
    </div>
</nav>
<div class="row chart-block">
    <div class="mobile-pie-chart">
        <ul>
            <li class="header">
                <div class="skill-name" ng-click="orderByField='label'; reverseSort = !reverseSort">Skill Name</div>
                <div class="number-of-jobs" ng-click="orderByField='count'; reverseSort = !reverseSort" data-ng-init="orderByField='-count'">Number of Jobs</div>
                <div class="view-detail">View Detail</div>
            </li>
            <li ng-repeat="term in terms | orderBy:orderByField:reverseSort">

                <a href="#/analytics/skill/{{term.term}}">
                <div class="skill-name">{{term.label}}</div>
                <div class="number-of-jobs"><strong>{{term.count}}</strong> <span>({{term.percent}} %)</span></div>
                <div class="view-detail"><i class="fa fa-chevron-right"></i></div>
                </a>
            </li>
        </ul>
        <!--<a  href="#" class="list-group-item">-->
            <!--<h4 class="list-group-item-heading">{{term.label}}</h4>-->
            <!--<p class="list-group-item-text">Jobs : {{term.count}}</p>-->
        <!--</a>-->
    </div>
</div>

