<div class="content-page-block events-page">
  <div class="header-page">
    <h2 class="text-left" translate="eventsTitle"></h2>
  </div>
  <div class="content-page-detail">
    <div class="events-list-block">
      <div class="full-content" ng-show="!webinarsGroup.length">
        <p translate="noDataChart"></p>
      </div>
      <div class="events-items">
        <div class="events-by-date" ng-repeat="webinarInfo in webinarsGroup">
          <h3>{{webinarInfo.startDate}}</h3>
          <div class="events-item" ng-repeat="webinar in webinarInfo.webinars">
            <div class="left-content">
              <div class="owner">
                <img ng-src="{{webinar.organiser.profileImageUrl || 'images/no-avatar.png'}}" alt="">
                <p>{{(webinar.organiser.name | limitTo: 10) || (webinar.organiser.email | textTruncate: 'email')}}</p>
              </div>
            </div>
            <div class="right-content">
              <div class="event-name">
                <h4><a ng-href="#/event-details/{{webinar.name | nonAscii}}-{{webinar.createdDateTime}}-id" target="_blank">{{webinar.name}}</a></h4>
              </div>
              <ul>
                <li class="time">{{webinar.startDate | timestamp: 'hour'}}</li>
                <li class="register"><strong>{{webinar.attendees.length - 1}}</strong> <span translate="attendantsLabel" />
                </li>
              </ul>
            </div>
            <div class="view-details" title="{{'viewDetails' | translate}}">
              <a ng-href="#/event-details/{{webinar.name | nonAscii}}-{{webinar.createdDateTime}}-id" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>