<employer-header></employer-header>
<div class="content-page-block project-list">
  <div class="header-page" ng-show="!state.showPostProjectReview">
    <h2 translate="findProjects"></h2>
    <p translate="findFreelancer"></p>
  </div>
  <div class="content-page-detail">
    <div class="project-items">
      <div class="project-item first">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          <a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <div class="project-item">
        <h3>
          a href="#" target="_blank"><span>Project Name Generator makes random, catchy and creative project and code names for your projects.</span></a> <a
            href="#" translate="viewDetails" class="view-detail" target="_blank"></a></h3>
        <p class="payment-time-post">
          <strong>Fixed Price</strong> - Est. Budget: $100 - <span>Posted 8 hours ago</span>
        </p>
        <div class="project-description">
          <p>I use common words and everyday things like colors, animals, nouns, scientific expressions, describing adjectives, gods, numbers etc. to make good project names</p>
          <p>With different random formulas I combine these words into new creative and hopefully catchy combinations. The result is new and surprising combination of words, which leads to unusual, remarkable and catchy project names.</p>
          <p>Often it's not the words themselves, but rather the combination of them that make the perfect, easy to remember and cool code name for your project.</p>
        </div>
        <div class="hiring-status">
          <span translate="needHireFreelancerWithParam" translate-value-number="45"/>
        </div>
        <div class="skills-of-project">
          <h4 translate="skillRequired"></h4>
          <ul>
            <li><span>Angular JS</span></li>
            <li><span>Java</span></li>
            <li><span>Sprint</span></li>
            <li><span>Maven</span></li>
            <li><span>HTML 5</span></li>
            <!--<li ng-repeat="skill in postProject.skills">-->
            <!--<span>{{skill}}</span>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
