<footer>
    <div class="container" ng-controller ="loadCompanies">
        <div class="companies-block" ng-controller="openCompaniesBar">
           <h2 class="companies-bar "><i class="fa fa-arrow-up"></i> Companies</h2>
           <div class="companies-list">
               <ul>
                   <li ng-repeat="company in companies">
                      <a href='{{company.url}}' target="_blank">
                        <img src='{{company.img}}' alt="techcombank">
                      </a>
                    </li>
               </ul>
           </div>
        </div>
        <div class="discussion-board-block">
            <i class="fa fa-comments" title="click to show discussion board"></i>
        </div>
    </div>
</footer>
