<div class="header-site">
  <div class="personal-header-block">
    <div class="personal-header-content">
      <div class="logo-block">
        <h1><a href="#/hiring"> <img src="images/logo-small.svg" alt="Career Analytics. Awesome!"></a></h1>
      </div>
      <div class="ic-menu-mobile" ng-modal="mobileMenuEmployer" ng-click="mobileMenuEmployer = !mobileMenuEmployer">
        <i class="fa fa-bars"></i>
      </div>
      <div class="user-info-basic-block">
        <a ng-click="logout()" ng-show="$root.userInfo">Sign Out</a>

        <p translate="{{$root.userInfo.username | textTruncate: 'email'}}"/>
        <div class="user-avatar" ng-show="$root.userInfo">
          <img src="images/no-avatar.png" alt="">
        </div>
        <a ng-show="!$root.userInfo" href="#/user-type" translate="signIn"/>
        <!--<span translate="{{$root.userInfo.username}}" />-->
      </div>
    </div>
  </div>
  <div class="main-menu-job-seeker-block" ng-show="!mobileMenuEmployer">
    <div class="main-menu-job-seeker-content">
      <ul>
        <li class="active">
          <a class="no-icon" href="#/hiring" ng-show="$root.userInfo">{{$root.userInfo.username | textTruncate: 'email'}}</a>
          <a ng-show="!$root.userInfo" href="#/login" translate="signIn" class="jobSeekerSignIn"></a>
        </li>
        <li>
          <a href="#/employer-dashboard" translate="myDashboard" class="my-dashboard"></a>
        </li>

        <li>
          <a href="#/post-challenge" translate="postAChallenge" class="post-challenges"></a>
        </li>
        <li>
          <a href="#/freelancer/post-project" translate="postAProject" class="post-freelancer"></a>
        </li>
        <li>
          <a href="#/price-job" translate="jobPostEvaluation" class="post-evaluation"></a>
        </li>
      </ul>
    </div>
  </div>
</div>