<div class="header-site">
  <div class="personal-header-block">
    <div class="personal-header-content">
      <div class="logo-block">
        <h1><a href="#/"> <img src="images/logo-small.svg" alt="Career Analytics. Awesome!"></a></h1>
      </div>
      <div class="user-info-basic-block">
        <a ng-click="logout()" ng-show="$root.userInfo">Sign Out</a>
        <div class="user-avatar" ng-show="$root.userInfo">
          <img ng-show="$root.userInfo.profileImageUrl" ng-src="{{$root.userInfo.profileImageUrl}}" alt="">
        </div>
        <p>{{$root.userInfo.name}}</p>
        <a data-toggle="modal" data-target="#signIn" ng-show="!$root.userInfo">Sign In</a>
      </div>
    </div>
  </div>
  <div class="main-menu-job-seeker-block">
    <div class="main-menu-job-seeker-content">
      <ul>
        <li><a href="#/challenges" translate="codingChallenges" class="challenges"></a></li>
        <li><a href="#/freelancer/projects" translate="freelancerProjects" class="freelancer"></a></li>
        <li><a href="#/pie-chart" translate="homepage.analytics.cta" class="analytics"></a></li>
        <li><a href="#/salary-review" translate="homepage.howitworks.item2.title" class="help"></a></li>
        <li><a href="#/get-promoted" translate="getPromotedTagLine" class="promoted"></a></li>
      </ul>
    </div>
  </div>
  <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" translate="signIn"></h4>
          <p translate="chooseOneTheFollowingSignInMethods"></p>
        </div>
        <div class="modal-body sign-in-with-fb-gl">
          <div class="sign-in-social">
            <button ng-click="loginBySocial('FACEBOOK')" class="btn-fb"><i class="fa fa-facebook"></i><span>Facebook</span></button>
            <button ng-click="loginBySocial('GOOGLE')" class="btn-gl"><i class="fa fa-google-plus"></i><span>Google</span></button>
          </div>
          
          <div class="sign-in-vnw-form">
            <p>Or sign in using your VietnamWorks Account</p>
            <div class="row">
              <input id="txtUserName" class="input-style" type="text" name="username" ng-model="username"
              placeholder="{{'userNameEX' | translate}}" required touable/>
              <div class="error-messages"
                   ng-show="loginForm.username.$error.required && (loginForm.username.$touched || loginForm.$submitted)"
                   translate="requiredThisField">ds vds  </div>
            </div>
            <div class="row">
              <input id="txtPassword" class="input-style" type="password" name="password" ng-model="password"
            placeholder="{{'password' | translate}}"  required touable>
            <div class="error-messages"
                 ng-show="loginForm.username.$error.required && (loginForm.username.$touched || loginForm.$submitted)"
                 translate="requiredThisField">vdvdsv vd</div>
            </div>
            <div class="row">
            <button translate="signIn" class="btn btn-primary btn-flat"></button>
          </div>
          </div>
          <div class="dont-have-account">
            <p>Don't have an account yet? <a  data-toggle="modal" data-target="#signUp" data-dismiss="modal" aria-label="Close">Register Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" translate="joinToday"></h4>
        </div>
        <div class="modal-body sign-up-account">
         
        </div>
      </div>
    </div>
  </div>
</div>
