<div class="signin-page">
  <div class="sub-page-header">
    <div class="logo-block">
      <img ng-src="images/techlooper-logo.png" alt="Career Analytics. Open Source. Awesome!" class="btn-logo desktop">
      <img ng-src="images/logo.png" alt="Career Analytics. Open Source. Awesome!" class="btn-logo mobile">

      <div class="tech-line">
        <h2 translate>tagLine</h2>
      </div>
    </div>
    <div class="close-button">
      <a class="btn-close" title="Close">X</a>
    </div>
  </div>
  <div class="register-contianer">
    <div class="register-form-block">
      <h2><span>{{ 'confirmInformation' | translate }}</span></h2>

      <div class="row">
        <div class="col-md-6 first">
          <input ng-model="userInfo.firstName" class="firstName" type="text" placeholder="{{ 'firstName' | translate }}"
                 value="">
        </div>
        <div class="col-md-6">
          <input ng-model="userInfo.lastName" class="lastName" type="text" placeholder="{{ 'lastName' | translate }}"
                 value="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input ng-model="userInfo.emailAddress" class="emailAddress" type="text" placeholder="{{ 'emailAddress' | translate }}">
        </div>
      </div>
      <div class="row your-salary">
        <p>{{ 'chooseYourSalary' | translate }} :</p>

        <div class="salary-range-block">
          <select class="salary" ng-model="userInfo.salary"
                  ng-options="option.value as option.label for option in salaryOptions">
          </select>
        </div>
      </div>
      <div class="row submit">
        <a class="register-successful">{{ 'continue' | translate }}</a>
      </div>
      <div class="row other-accounts">
        <h3>{{ 'allowUsToConnect' | translate }}</h3>
        <ul>
          <li ng-repeat="auth in authSource">
              <span ng-if="auth.isNotSupported === undefined" ng-class="hasProfile(auth) ? 'active' : 'inactive'">
                <a ng-click="openOathDialog(auth)" ng-class="auth.provider"><img ng-src="{{auth.logo}}" alt=""></a>
              </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>