<div class="technical-info">
  <div class="technical-logo">
    <h2>
      <img ng-if="termStatistic.logo.length" ng-src="images/{{termStatistic.logo}}" alt=""/>
      <img ng-if="!termStatistic.logo.length" src="images/no-logo-company.png" alt=""/>
    </h2>
  </div>
  <div class="technical-info-detail">
    <h4><strong>{{termStatistic.totalJob}}</strong> <span translate>technicalNumberJobs</span> <strong>{{termStatistic.label}}</strong></h4>
    <h3>
      <span translate>salaryRangeLabel</span>
      <div class="dropdown select-level">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="lavelName">{{'allLevel' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="level in jobLevels" role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="selectJobLevel(level)">{{level.translate | translate}}</a>
          </li>
        </ul>
      </div>
      <span translate>is</span>
      <strong><span>{{termStatistic.salRange}}</span></strong></h3>
  </div>
</div>