<qualify-all-to-next-phase ng-show="showQualifyAllRegistrantsForm"></qualify-all-to-next-phase>
<div class="phase-description">
  <p translate="PhaseDes"></p>
  <div class="announcement-winner">
    <a class="btn btn-primary btn-flat" ng-model="showQualifyAllRegistrantsForm"
       ng-click="showQualifyAllRegistrantsForm=!showQualifyAllRegistrantsForm"><i class="fa fa-thumbs-up"></i> {{'qualifyAllToNextPhase' | translate}}</a>
  </div>
</div>
<div class="participant-list">
  <table class="contests-table">
  <thead>
  <tr>
    <th>
      <div class="registrants-challenge-list">
        <div class="registrant-order">#</div>
        <div class="registrant-name" translate="fullNameField"></div>
        <div class="registration-submission">
          {{'lastSubmissionDate' | translate}}
        </div>
        <div class="registration-submission">
          <span class="name-col" >
              {{'submissions' | translate}}
            </span>
            <span class="unreadFilter" ng-model="unreadSubmission" ng-click="unreadSubmission=!unreadSubmission"
                  ng-class="{checked: unreadSubmission}" title="{{(unreadSubmission ? 'unreadTip': 'readTip') | translate}}">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-thin"></i>
              {{'unread' | translate}}
            </span>
        </div>
        <div class="registration-review" translate="qualifiedNextPhase"></div>
        <div class="registration-action" translate="feedback"></div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-show="contestDetail.$registrants.length == 0" class="no-data-found">
    <td>
      <p translate="noData"></p>
    </td>
  </tr>
    <tr ng-repeat="registrant in contestDetail.$registrants">
      <td>
        <div class="registrants-challenge-list">
          <div class="registrant-order">{{registrant.$index + 1}}</div>
          <div class="registrant-name">{{registrant.fullName}}</div>
          <div class="registration-submission">{{registrant.lastSubmission.submissionDateTime || '-'}}</div>
          <div class="registration-submission">
            <a ng-click="registrant.showReviewSubmission()" title="{{'submissionsReviewTip' | translate}}">{{registrant.submissions.length || 0}}</a></div>
          <div class="registration-review">
            <div ng-show="registrant.disqualified == undefined">
              <a title="{{'qualifyNextPhase' | translate}}" ng-click="registrant.showQualification()"><i class="fa fa-thumbs-up"></i></a>
              <a title="{{'disqualifyNextPhase' | translate}}"><i class="fa fa-thumbs-down" ng-click="registrant.showDisqualification()"></i></a>
            </div>
            <span translate="qualified" ng-show="registrant.disqualified == false"></span>
            <span translate="disqualified" ng-show="registrant.disqualified == true"></span>
          </div>
          <div class="registration-action">
            <a ng-click="registrant.showFeedback()">{{'feedback' | translate}}</a>
          </div>
        </div>
        <contest-detail-action registrant="registrant" challenge="contestDetail"></contest-detail-action>
      </td>
    </tr>
  </tbody>
</table>
</div>