<div class="qualify-all-to-next-phase">
  <p translate="qualifyAllToNextPhaseTip" translate-value-active-phase="{{contestDetail.selectedPhaseItem.phaseLowerCase}}"
     translate-value-next-phase="{{contestDetail.$registrantsNextPhaseItem.phaseLowerCase}}"></p>
  <ul>
    <li>
      <label>
        <input type="radio" name="radNextPhase" checked/>
        <span translate="havingAllSubmissionsRead"></span>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="radNextPhase"/>
        <span translate="havingSubmissions"></span>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="radNextPhase"/>
        <span translate="regardlessOfHavingSubmissions"></span>
      </label>
    </li>
  </ul>
  <div class="submission-qualify-all-to-next-phase">
    <a ng-click="" translate="yes" class="btn btn-primary btn-flat"></a>
    <a translate="no" ng-click="hideQualifyAllForm()" class="btn btn-primary btn-flat gray"></a>
  </div>
</div>