<div class="content-page-block email-setting-page">
  <div class="header-page">
    <h2 translate="emailSetting"></h2>
    <p translate="emailSettingDescription"></p>
  </div>
  <div class="content-page-detail">
    <div class="email-setting-form">
      <div class="alert alert-success" ng-show="status('already-save')">
        <p translate="emailSettingSuccessfully"></p>
      </div>
      <div class="alert alert-danger" ng-show="status('already-fail')">
        <p translate="errorSystem"></p>
      </div>
      <form name="emailSetting">
      <div class="form-group">
          <label class="col-sm-2 control-label" translate="replyTo"></label>
          <input ng-model="replyEmail" type="text" name="email" placeholder="no-reply@techlooper.com"
                 ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                 data-toggle="tooltip"
                 data-original-title="{{'replyEmailTooltip' | translate}}"
                 class="input-style" validate ng-required="true">
        <div class="error-messages"
             ng-show="emailSetting.email.$error.required && (emailSetting.email.$dirty || emailSetting.$submitted)"
             translate="requiredThisField"></div>
        <div class="error-messages"
             ng-show="emailSetting.email.$error.pattern && (emailSetting.email.$dirty || emailSetting.$submitted)"
             translate="emailInvalid" />
        </div>
        <div class="mail-text h-200" data-toggle="tooltip" data-original-title="{{'emailSignatureTooltip' | translate}}">
          <label translate="emailSignature"></label>
          <summernote ng-model="emailSignature" focus config="$root.jsonValue.summerNoteConfig"></summernote>
          <div class="send-mail-error" ng-show="!composeEmail.error" data-ng-init="composeEmail.error = true">
            <p translate="cannotSendMail"></p>
          </div>
        </div>
        <div class="mail-body text-right tooltip-demo email-footer">
          <a class="btn btn-sm btn-primary" title="{{'save' | translate}}" ng-click="saveEmailSetting()">
              <i class="fa fa-reply"></i> <span translate="save"></span>
          </a>
          <a class="btn btn-sm btn-primary" title="{{'cancel' | translate}}" ng-click="cancleEmailSetting()">
              <i class="fa fa-times"></i> <span translate="cancel"></span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
