<form novalidate name="timelineForm" autocomplete="off">
  <div class="post-contest-block">
    <p class="sub-header" translate="subHeaderDeadlines"></p>
    <div class="post-contest-form">
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="dateChallengeStart" translate="challengeStart"></label>
          <div class="input-group date">
            <input id="dateChallengeStart" type="text" class="form-control"
                   placeholder="{{state.status('ex-start-date')}}"
                   name="startDate"
                   required-expr="state.status('start-date-wt-4w')"
                   ng-model="contest.startDate" touchable required readonly>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
          </div>


          <div ng-show="timelineForm.startDate.$touched || timelineForm.$submitted">
            <div class="error-messages"
                 ng-show="timelineForm.startDate.$error.required" translate="requiredThisField"></div>
            <div class="error-messages"
                 ng-show="timelineForm.startDate.$error.requiredExpr"
                 translate="startDateWt4w"/>
          </div>

        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="dateChallengeRegister" translate="challengeRegister"></label>
          <div class="input-group date">
            <input id="dateChallengeRegister" type="text" class="form-control"
                   placeholder="{{state.status('ex-register-date')}}"
                   name="registrationDate"
                   ng-model="contest.registrationDate" touchable required readonly>
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </span>
          </div>
          <div class="error-messages"
               ng-show="timelineForm.registrationDate.$error.required && (timelineForm.registrationDate.$touched || timelineForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="dateChallengeSubmit" translate="challengeSubmit"></label>
          <div class="input-group date">
            <input id="dateChallengeSubmit" type="text" class="form-control"
                   placeholder="{{state.status('ex-submit-date')}}"
                   name="submissionDate"
                   ng-model="contest.submissionDate" touchable required readonly>
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </span>
          </div>
          <div class="error-messages"
               ng-show="timelineForm.submissionDate.$error.required && (timelineForm.submissionDate.$touched || timelineForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <!--<div class="post-contest-field submit">-->
        <!--<button class="btn btn-primary btn-flat" translate="next"></button>-->
      <!--</div>-->
    </div>
  </div>
</form>