<form novalidate name="rewardForm" autocomplete="off">
  <div class="post-contest-block">
    <p class="sub-header" translate="publishingContest"></p>
    <div class="post-contest-form">
      <h3 translate="rewardTheWinner"></h3>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtFirstReward" translate="firstReward"></label>
          <input type="text" id="txtFirstReward" class="input-style"
                 placeholder="{{'firstPrize' | translate}}"
                 name="firstPlaceReward"
                 ng-model="contest.firstPlaceReward" touchable required only-digits maxlength="4"/>
          <div class="error-messages"
               ng-show="rewardForm.firstPlaceReward.$error.required && (rewardForm.firstPlaceReward.$touched || rewardForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtSecondReward" translate="secondReward"></label>
          <input type="text" id="txtSecondReward" class="input-style"
                 name="secondPlaceReward" ng-model="contest.secondPlaceReward"
                 ng-model="contest.secondPlaceReward"
                 placeholder="{{'secondPrize' | translate}}" touchable only-digits maxlength="4"/>
          <div class="error-messages"
               ng-show="rewardForm.secondPlaceReward.$error.required && (rewardForm.secondPlaceReward.$touched || rewardForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtThirdReward" translate="thirdReward"></label>
          <input type="text" id="txtThirdReward" class="input-style"
                 name="thirdPlaceReward"
                 ng-model="contest.thirdPlaceReward"
                 placeholder="{{'thirdPrize' | translate}}" touchable only-digits maxlength="4"/>
          <div class="error-messages"
               ng-show="rewardForm.thirdPlaceReward.$error.required && (rewardForm.thirdPlaceReward.$touched || rewardForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field submit">
        <button class="btn btn-primary btn-flat" translate="next"></button>
      </div>
    </div>
  </div>
</form>