<ng-form novalidate name="challengeForm" autocomplete="off">
  <div class="post-contest-block">
    <p class="sub-header" translate="subHeaderChallenge"></p>
    <div class="post-contest-form">
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtChallengeName" translate="challengeName"></label>
          <input type="text" id="txtChallengeName" class="input-style" placeholder="{{'challengeNameEX' | translate}}"
            ng-model="contest.challengeName" name="challengeName" required touchable/>
          <div class="error-messages"
               ng-show="challengeForm.challengeName.$error.required && (challengeForm.challengeName.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'challengeNameTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtChallengeReview" translate="challengeOverView"></label>
          <textarea type="text" id="txtChallengeReview"  cols="" rows="" class="textarea-style" placeholder="{{'challengeOverViewEX' | translate}}"
                 ng-model="contest.challengeReview" name="challengeReview" required touchable/></textarea>
          <div class="error-messages"
               ng-show="challengeForm.challengeReview.$error.required && (challengeForm.challengeReview.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'challengeOverViewTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtBusinessRequirements" translate="businessRequirements"></label>
          <textarea id="txtBusinessRequirements" cols="" rows="" class="textarea-style"
                    placeholder="{{'businessRequirementsEX' | translate}}"
                    ng-model="contest.businessRequirement" name="businessRequirement" required touchable/>
          <div class="error-messages"
               ng-show="challengeForm.businessRequirement.$error.required && (challengeForm.businessRequirement.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'businessRequirementsTip' | translate}}" />
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtGeneralNotes" translate="generalNotes"></label>
          <textarea id="txtGeneralNotes" cols="" rows="" class="textarea-style"
                    placeholder="{{'generalNotesEX' | translate}}"
                    ng-model="contest.generalNote" name="generalNote" required touchable/>
          <div class="error-messages"
               ng-show="challengeForm.generalNote.$error.required && (challengeForm.generalNote.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'generalNotesTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="technologies"></label>
          <tagbox name="technologies" tags="contest.technologies"
                  type="text" placeholder="technologiesEX" max-length="2" max-length-error="limit10"
                  ng-model="contest.technologies" forcusout="true" array-model touchable></tagbox>

          <div class="error-messages"
               ng-show="challengeForm.technologies.$error.required && (challengeForm.technologies.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>

        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'generalNotesTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtDocuments" translate="documents"></label>
          <textarea ng-model="contest.documents" name="documents" id="txtDocuments" cols="" rows=""
                    class="textarea-style" placeholder="{{'documentsEX' | translate}}" required touchable></textarea>

          <div class="error-messages"
               ng-show="challengeForm.documents.$error.required && (challengeForm.documents.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'generalNotesTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtDeliverables" translate="deliverables"></label>
          <textarea name="deliverables" id="txtDeliverables" cols="" rows="" class="textarea-style"
                    placeholder="{{'deliverablesEX' | translate}}" ng-model="contest.deliverables" required touchable></textarea>

          <div class="error-messages"
               ng-show="challengeForm.deliverables.$error.required && (challengeForm.deliverables.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'deliverablesTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="emailAddressReceive"></label>
          <tagbox name="receivedEmails" tags="contest.receivedEmails"
                  type="email" placeholder="emailAddressReceiveEX" max-length="5" max-length-error="limit5"
                  ng-model="contest.receivedEmails" array-model touchable></tagbox>

          <div class="error-messages"
               ng-show="challengeForm.receivedEmails.$error.required && (challengeForm.receivedEmails.$edited || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'emailAddressReceiveTip' | translate}}"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="reviewStyle"></label>

          <selectize name="reviewStyle" ng-model="contest.reviewStyle" config="config.reviewStyle" required touchable></selectize>

          <div class="error-messages"
               ng-show="challengeForm.reviewStyle.$error.required && (challengeForm.reviewStyle.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="{{'reviewStyleTip' | translate}}"></a>
        </div>
      </div>
    </div>
  </div>
</ng-form>

