<form novalidate name="challengeForm" autocomplete="off">
  <div class="post-contest-block">
    <p class="sub-header" translate="subHeaderChallenge"></p>
    <div class="post-contest-form">
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtChallengeName" translate="challengeName"></label>
          <input type="text" id="txtChallengeName" class="input-style" placeholder="{{'challengeNameEX' | translate}}"
            ng-model="contest.challengeName" name="challengeName" required touchable/>
          <div class="error-messages"
               ng-show="challengeForm.challengeName.$error.required && (challengeForm.challengeName.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtBusinessRequirements" translate="businessRequirements"></label>
          <textarea id="txtBusinessRequirements" cols="" rows="" class="textarea-style"
                    placeholder="{{'businessRequirementsEX' | translate}}"
                    ng-model="contest.businessRequirement" name="businessRequirement" required/>
          <div class="error-messages"
               ng-show="challengeForm.businessRequirement.$error.required && (challengeForm.businessRequirement.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc" />
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtGeneralNotes" translate="generalNotes">sfdwqvfe</label>
          <textarea id="txtGeneralNotes" cols="" rows="" class="textarea-style"
                    placeholder="{{'generalNotesEX' | translate}}"
                    ng-model="contest.generalNote" name="generalNote" required/>
          <div class="error-messages"
               ng-show="challengeForm.generalNote.$error.required && (challengeForm.generalNote.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="technologies"></label>
          <tagbox name="technologies" tags="contest.technologies" ng-model="contest.technologies" array-model touchable></tagbox>

          <div class="error-messages"
               ng-show="challengeForm.technologies.$error.required && (challengeForm.technologies.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>

        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtDocuments" translate="documents"></label>
          <textarea ng-model="contest.documents" name="documents" id="txtDocuments" cols="" rows=""
                    class="textarea-style" placeholder="{{'documentsEX' | translate}}" required></textarea>

          <div class="error-messages"
               ng-show="challengeForm.documents.$error.required && (challengeForm.documents.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label for="txtDeliverables" translate="deliverables"></label>
          <textarea name="deliverables" id="txtDeliverables" cols="" rows="" class="textarea-style"
                    placeholder="{{'deliverablesEX' | translate}}" ng-model="deliverables" required></textarea>

          <div class="error-messages"
               ng-show="challengeForm.deliverables.$error.required && (challengeForm.deliverables.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="emailAddressReceive"></label>
          <tagbox name="receivedEmails" tags="contest.receivedEmails" ng-model="contest.receivedEmails" array-model touchable></tagbox>

          <div class="error-messages"
               ng-show="challengeForm.receivedEmails.$error.required && (challengeForm.receivedEmails.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <h3 translate="evaluateContestants"></h3>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="qualityIdea"></label>
          <autocomplete ng-model="contest.qualityIdea" data="" name="qualityIdea"
                        attr-placeholder="{{'qualityIdeaEX' | translate}}" required></autocomplete>

          <div class="error-messages"
               ng-show="challengeForm.qualityIdea.$error.required && (challengeForm.qualityIdea.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="implementationIdea"></label>
          <autocomplete required ng-model="contest.implementationIdea" data="" name="implementationIdea"
                        attr-placeholder="{{'implementationIdeaEX' | translate}}" validate></autocomplete>
          <div class="error-messages"
               ng-show="challengeForm.implementationIdea.$error.required && (challengeForm.implementationIdea.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field">
        <div class="post-contest-field-content">
          <label translate="reviewStyle"></label>
          <autocomplete required ng-model="contest.reviewStyle" data="" name="reviewStyle"
                        attr-placeholder="{{'reviewStyleEX' | translate}}" validate></autocomplete>
          <div class="error-messages"
               ng-show="challengeForm.reviewStyle.$error.required && (challengeForm.reviewStyle.$touched || challengeForm.$submitted)"
               translate="requiredThisField"></div>
        </div>
        <div class="post-contest-field-tooltip">
          <a class="ic-tooltip" data-toggle="tooltip" data-original-title="abc"></a>
        </div>
      </div>
      <div class="post-contest-field submit">
        <button class="btn btn-primary btn-flat" translate="next"></button>
      </div>
    </div>
  </div>
</form>

