<div class="top-three-skills">
  <div class="top-demanded-skills-block">
    <p>Top Demanded Skills (click to add)</p>
    <ul class="demand-skills">
      <li ng-repeat="item in demandList" ng-click="addDemandSkill($event)">{{item.name}}
      </li>
    </ul>
  </div>
  <div class="added-list-skills">
    <ul>
      <li ng-repeat="tag in tags">
          <span class="left">
            <span class="right"><i>{{tag}}</i>
              <span ng-click="removeTag(tag)" class="close" title="Remove">x</span>
            </span>
          </span>
      </li>
    </ul>
  </div>
  <div class="max-skill-alert" ng-repeat="error in errors">
    {{error | translate}}
  </div>
  <!--<div class="max-skill-alert">{{error.newSkillName || error.existSkillName}}</div>-->
  <div class="add-skill-input">
    <form>
      <autocomplete ng-required='config.required' ng-model="config.newTag" data="config.items"
                    attr-placeholder="{{config.placeholder | translate}}"></autocomplete>
      <button type="submit" ng-click="addTag()">{{'add' | translate}}</button>
    </form>
  </div>
</div>
