<div class="top-three-skills add-skill-input">
  <ng-form novalidate name="tagForm" autocomplete="off" isolate-form>
    <div class="added-list-skills">
      <ul>
        <li ng-repeat="tag in tags">
          <span class="left">
            <span class="right"><i>{{tag}}</i>
              <span ng-click="removeTag(tag)" class="close" title="Remove">x</span>
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class="error-messages" ng-show="status('show-errors')">
      <div translate="requiredThisField" ng-show="status('show-error', 'required')"/>
      <div translate="exceedCharacterWithParam" translate-value-number="{{maxTagLength}}" ng-show="status('show-error', 'maxlength')"/>
      <div translate="emailInvalid" ng-show="status('show-error', 'email')"/>
      <div translate="alreadyExistValue" ng-show="status('show-error', 'unique')"/>
      <div translate="limitItemWithParam" ng-show="status('show-error', 'listMaxLength')"
           translate-value-number="{{listMaxLength}}" />
    </div>

    <input type="hidden" name="tags" ng-model="tags" array-required>

    <input type="{{type}}" placeholder="{{placeholder | translate}}" ng-show="status('show-text-input')"
           maxlength="{{maxTagLength}}" ng-keypress="submitTag($event, tag)"
           ng-model="tag" name="tag" ng-required="status('show-text-input')" unique touchable focusout="true"/>

    <autocomplete name="autoTag" ng-model="autoTag" data="tagList" maxlength="{{maxTagLength}}"
                  ng-show="status('show-auto-complete-input')" ng-required="status('show-auto-complete-input')"
                  attr-placeholder="{{placeholder | translate}}" on-select="addTag" unique touchable focusout="true"></autocomplete>

    <button type="submit" ng-click="addTag()" ng-modal="clickAddTag">{{'add' | translate}}</button>
  </ng-form>
</div>
