.ts-company-profile
  width: 100%
  text-align: center
  .company-profile-content
    max-width: 1200px
    margin: auto
    h2
      font-size: 24px
      text-transform: capitalize
      font-weight: 300
      padding-bottom: 20px
    ul
      margin: 0
      padding: 0
  .company-culture-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    .company-culture-content
      width: 100%
      clear: both
      ul
        width: 100%
        margin: auto
        li
          width: 300px
      .left-top-side
        width: 300px
        height: 25px
        float: left
        padding: 10px
        ul
          background-color: #ffe2ac
          li
            width: 100px
            float: left
            height: 100px
      .right-top-side
        width: 300px
        height: 25px
        float: left
        padding: 10px
        height: 300px
      .left-bottom-side
        width: 300px
        height: 25px
        float: left
        padding: 10px
      .left-bottom-side
        width: 300px
        height: 25px
        float: left
        padding: 10px

