.ts-company-profile
  width: 100%
  text-align: center
  background-color: #fff
  padding-top: 50px
  color: #1d1d1d
  float: left
  h2
    font-size: 24px
    text-transform: capitalize
    font-weight: 300
    margin: 0
    padding: 0 0 50px 0
  ul
    margin: 0
    padding: 0
  .company-info-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    background-color: #f1f1f1
    border-bottom: 1px solid #d4d4d4
    .company-info-content
      max-width: 1200px
      margin: auto
      text-align: left
    .company-logo-block
      width: 22%
      float: left
      line-height: 100px
      vertical-align: middle
      max-width: 150px
      a
        width: 130px
        height: 130px
        background-color: #fff
        display: block
        text-align: center
        vertical-align: middle
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        line-height: 130px
      img
        margin: auto
        width: 75%
    .company-info-detail
      width: 78%
      float: left
      h2
        padding-bottom: 20px
        font-size: 22px
        font-weight: 400
      li
        float: right
        padding-bottom: 5px
        width: 70%
        font-size: 14px
        span
          font-weight: 400
          font-size: 14px
          float: left
          padding-right: 10px
          max-width: 70px
          width: 25%
        p
          float: left
          line-height: 16px
          margin: 0
          width: 80%
          padding-top: 3px
          small
            font-size: 14px
            float: left
            padding-bottom: 5px
          span
            padding-right: 0
            width: auto
      li:nth-of-type(2n+1)
        float: left
        width: 30%
        p
          width: 70%
  .company-skills-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    border-bottom: 1px solid #f1f1f1
    .company-skills-content
      max-width: 1200px
      margin: auto
      .company-skills-list
        width: 100%
        display: block
        clear: both
        text-align: center
        ul
          margin: auto
        li
          width: auto
          padding: 5px
          display: inline-block
          text-align: left
          span
            display: inline-block
            background: url(../images/company-skill.png) left top no-repeat
            height: 32px
            font-size: 14px
            line-height: 32px
          span.left
            background-position: 0px -40px
            padding-left: 28px
            height: 32px
          span.right
            background-position: right top
            padding: 0 20px 0 10px
  .company-benefits-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    border-bottom: 1px dashed #ccc
    .company-benefits-content
      max-width: 1200px
      margin: auto
      ul
        width: auto
        li
          display: inline-block
          width: auto
          padding: 0 50px
          span
            margin: auto
            display: block
            width: 60px
            height: 60px
            color: #fff
            -webkit-border-radius: 50%
            -moz-border-radius: 50%
            border-radius: 50%
            background-color: #323232
            border: 2px solid #c8c8c8
            line-height: 65px
            i
              font-size: 26px
              font-weight: 100
          p
            font-size: 16px
            font-weight: 300
            padding-top: 10px
            text-transform: capitalize
  .company-culture-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    background-color: #f1f1f1
    .company-culture-content
      width: 600px
      clear: both
      margin: auto
      ul
        width: 100%
        margin: auto
        height: 100%
        li
          width: 71px
          float: left
          height: 75px
          text-align: right
          padding: 10px
          span.dot
            display: inline-block
            width: 6px
            height: 6px
            -webkit-border-radius: 50%
            -moz-border-radius: 50%
            border-radius: 50%
            margin: auto
        li:nth-of-type(3n-1)
          text-align: center
        li:nth-of-type(3n+1)
          text-align: left
      .title-side
        width: 100%
        position: absolute
        z-index: 888
        opacity: 0.6
        text-align: center
        text-transform: uppercase
        font-size: 16px
        width: 220px
      .full-side
        width: 100%
        text-align: center
        padding: 5px 0
        float: left
        font-size: 16px
      .top-side
        width: 100%
        padding: 0 35px
        float: left
        background: url(../images/line-up.png) center top no-repeat
      .bottom-side
        width: 100%
        padding: 0 35px
        float: left
        background: url(../images/line-down.png) center bottom no-repeat
      .company-dot
        position: absolute
        z-index: 999
        h3
          font-weight: 300
          font-size: 20px
        span
          font-size: 0
          z-index: -9999px
          display: inline-block
          width: 25px
          height: 25px
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
      .dot-one
        left: 25px
        top: 15px
      .dot-two
        right: 120px
        top: 15px
      .dot-three
        right: 30px
        top: 15px
      .dot-four
        left: 25px
        top: 90px
      .dot-five
        right: 30px
        top: 15px
      .dot-six
        right: 30px
        top: 90px
      .left-top-side
        width: 260px
        float: left
        padding: 20px 20px 10px 20px
        height: 240px
        position: relative
        z-index: 777
        ul
          border: 1px solid #ffcf6e
          background-color: #fff6e1
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          span.dot
            background-color: #fff
            border: 1px solid #ffcf6e
        .title-side
          bottom: 70px
          color: #cc8d0f
        .company-dot
          span
            background-color: #e3a711
      .right-top-side
        width: 260px
        float: left
        padding: 20px 20px 10px 20px
        height: 240px
        position: relative
        z-index: 777
        ul
          border: 1px solid #80ccfe
          background-color: #def2ff
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          span.dot
            background-color: #fff
            border: 1px solid #80ccfe
        .title-side
          bottom: 70px
          color: #1d89d0
        .company-dot
          span
            background-color: #399ad9
      .left-bottom-side
        width: 260px
        float: left
        padding: 20px
        height: 240px
        position: relative
        z-index: 777
        ul
          border: 1px solid #fc9ec9
          background-color: #ffe1ef
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          span.dot
            background-color: #fff
            border: 1px solid #fc9ec9
        .title-side
          top: 70px
          color: #da3e86
        .company-dot
          span
            background-color: #d12775
      .right-bottom-side
        width: 260px
        float: left
        padding: 20px
        height: 240px
        position: relative
        z-index: 777
        ul
          border: 1px solid #ffbcb5
          background-color: #ffe8e5
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          span.dot
            background-color: #fff
            border: 1px solid #ffbcb5
        .title-side
          top: 70px
          color: #d92a18
        .company-dot
          span
            background-color: #d23828
      .line-up
        float: left
        width: 10px
        height: 250px
      .line-down
        float: left
        width: 10px
        height: 250px
      .axis-y
        width: 100%
        float: left
        position: relative
        background: url(../images/line-axis.png) center top repeat-y
        padding: 0 20px
        font-size: 16px
        span
          position: absolute
          display: block
          width: 150px
          height: 50px
        .line-left
          width: 50%
          float: left
          height: 20px
          background: url(../images/line-left.png) left top no-repeat
          span
            left: -140px
            top: -13px
            text-align: right
        .line-right
          width: 50%
          float: left
          height: 20px
          background: url(../images/line-right.png) right top no-repeat
          span
            right: -140px
            top: -13px
            text-align: left
  .company-opportunities-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    .company-opportunities-content
      max-width: 1200px
      margin: auto
      .company-opportunities-list
        width: 70%
        margin: auto
        ul
          width: 50%
          float: left
          li
            width: 100%
            float: left
            padding-bottom: 10px
            span
              display: inline-block
              background-color: #fafafa
              border: 1px solid #eae9e9
              padding: 10px
              font-size: 16px
              float: left
            span.number
              font-weight: 400
              background-color: #ececec
              padding: 10px 20px
              border-right: 0
              -webkit-border-top-left-radius: 5px
              -webkit-border-bottom-left-radius: 5px
              -moz-border-radius-topleft: 5px
              -moz-border-radius-bottomleft: 5px
              border-top-left-radius: 5px
              border-bottom-left-radius: 5px
              width: 60px
            span.name
              border-left: 0
              -webkit-border-top-right-radius: 5px
              -webkit-border-bottom-right-radius: 5px
              -moz-border-radius-topright: 5px
              -moz-border-radius-bottomright: 5px
              border-top-right-radius: 5px
              border-bottom-right-radius: 5px
              padding: 10px 15px
              width: 300px
              text-align: left
              a
                color: #1d1d1d
  .company-employee-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    background-color: #f1f1f1
    .company-employee-content
      max-width: 1200px
      margin: auto
      ul
        width: 80%
        margin: auto
        li
          float: left
          width: 31%
          padding: 1%
          span
            display: block
          span.employee-name
            width: 100px
            height: 100px
            -webkit-border-radius: 50%
            -moz-border-radius: 50%
            border-radius: 50%
            background: url(../images/bg-github.png) #1d1d1d bottom center no-repeat
            margin: auto
            font-weight: 400
            padding-top: 33px
            cursor: pointer
          span.job-title
            padding-top: 10px
          a
            color: #fff
            display: inline-block
            width: 100px
            height: 100px
            cursor: pointer
  .company-follow-block
    display: block
    float: left
    width: 100%
    clear: both
    padding: 30px 0
    .company-follow-content
      max-width: 340px
      margin: auto
      .follow-button
        width: 150px
        float: left
        padding-right: 10px
        button.btn
          width: 150px
      ul
        width: auto
        float: left
        li
          width: 100%
          clear: both
          text-align: left
          line-height: 22px
          padding-left: 10px
          strong
            font-weight: 400
            font-size: 18px
            padding-right: 10px
            width: 70px
            float: left
            text-align: right
.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis