.content-page-block.create-event-container
  .content-page-detail
    padding: 10px 20px
    text-align: center
    .create-event-form
      padding: 40px 0 0
      display: inline-block
      clear: both
      width: 60%
      margin: auto
      text-align: left
      label
        font-weight: 300
        width: 100%
        clear: both
        display: inline-block
        text-transform: capitalize
        strong
          font-weight: 500
          color: red
      .create-event-field
        display: inline-block
        width: 100%
        padding: 0 0 10px 0
        clear: both
        input
          width: 100%
        .error-messages
          display: inline-block
          clear: both
          width: 100%
          text-align: left
        p.note
          text-align: left
          width: 100%
          margin: 0
          padding: 0
        textarea
          height: 275px
        .attendants-block
          display: inline-block
          clear: both
          width: 100%
          .attendants-input
            display: inline-block
            clear: both
            width: 100%
            input
              width: 80%
              float: left
            button
              width: 19%
              float: right
              height: 34px
          .input
            display: inline-block
            clear: both
            width: 100%
          .items
            display: inline-block
            clear: both
            width: 100%
            background-color: #f4f4f4
            padding: 2px
            border: 1px solid #d4d7d8
            -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            margin-top: 10px
            ul
              margin: 0
              padding: 0
              width: 100%
              max-height: 200px
              overflow: auto
              li
                width: 100%
                clear: both
                float: left
                padding: 5px 10px
                p
                  margin: 0
                  padding: 0
                  width: 60%
                  float: left
                span
                  display: block
                  width: 40%
                  float: left
                  text-align: right
                i
                  width: auto
                  float: right
                  cursor: pointer
              li:nth-child(2n)
                background-color: #f8f7f7
                border-top: 1px solid #e3e3e3
                border-bottom: 1px solid #e3e3e3
              li:first-child
                border-top: 0
              li:last-child
                border-bottom: 0
          .error-messages
            display: inline-block
            clear: both
            width: 100%
            padding-bottom: 10px
      .create-event-field.submit
        text-align: center
        padding: 10px 0 40px 0
        button
          padding: 6px 25px
          margin: 0 5px
      .create-event-field-group
        clear: both
        display: inline-block
        width: 100%
        padding-bottom: 5px
        .create-event-field
          width: 47%
          float: left
          clear: none
          padding-bottom: 0
          .picker-switch
            text-align: center
          .togglePicker
            text-align: center
            width: 100%
            display: inline-block
          .selection-date
            width: 58%
            float: left
          .section-hours
            width: 42%
            float: left
            padding-left: 5px

        .time-to
          width: 6%
          float: left
          text-align: center
          line-height: 34px
.xdsoft_datetimepicker .xdsoft_today_button
  display: none !important
.xdsoft_datetimepicker .xdsoft_calendar td > div
  text-align: center
  padding-right: 0
.xdsoft_calendar td.xdsoft_current
  background-color: #337ab7 !important
.xdsoft_time_box > div > div.xdsoft_current
  background-color: #337ab7 !important
