.content-page-block.create-event-container
  .content-page-detail
    padding: 10px 20px
    text-align: center
    .create-event-form
      padding: 40px 0 0
      display: inline-block
      clear: both
      width: 60%
      margin: auto
      text-align: left
      label
        font-weight: 300
        width: 100%
        clear: both
        display: inline-block
        text-transform: capitalize
        strong
          font-weight: 500
          color: red
      .create-event-field
        display: inline-block
        width: 100%
        padding: 0 0 5px 0
        clear: both
        input
          width: 100%
        .error-messages
          display: inline-block
          clear: both
          width: 100%
          text-align: left
        p.note
          text-align: left
          width: 100%
        textarea
          height: 275px
      .create-event-field-group
        clear: both
        display: inline-block
        width: 100%
        padding-bottom: 5px
        .create-event-field
          width: 45%
          float: left
          clear: none
          padding-bottom: 0
        .time-to
          width: 10%
          float: left
          text-align: center
          line-height: 34px