.content-page-block
  .content-page-detail.dashboard
    display: inline-block
    width: 100%
    clear: both
    padding: 20px
    margin-bottom: 20px
    .my-challenges-block
      padding-left: 0
    .my-projects-block
      padding-right: 0
    .dashboard-box
      display: inline-block
      border: 1px solid #d5dadc
      padding: 10px
      width: 100%
      .sub-header-dashboard
        width: 100%
        clear: both
        display: inline-block
        border-bottom: 1px solid #d5dadc
        padding-bottom: 10px
        h3
          font-size: 18px
          font-weight: 500
          width: 50%
          float: left
          margin: 0
          padding: 0
          line-height: 34px
          text-align: left
        a
          width: 120px
          float: right
      .dashboard-content
        display: inline-block
        clear: both
        width: 100%
        padding: 20px 0 0 0
        min-height: 110px
        p
          margin: 0
          font-size: 16px
          color: #878787
          font-weight: 300
        strong
          font-size: 30px
          font-weight: 500
        .active-item
          width: 50%
          float: left
        .total-people
          width: 40%
          float: right
    .active-challenges-list
      padding: 20px 0
    .active-projects-list
      padding: 0