.content-page-block
  a.name
    color: #337ab7 !important
  .content-page-detail.dashboard
    display: inline-block
    width: 100%
    clear: both
    padding: 0
    border: 0
    border-radius: 0
    box-shadow: inherit
    background-color: transparent
    .my-challenges-block
      padding-left: 0
      padding-right: 5px
    .my-projects-block
      padding-right: 0
    .dashboard-box
      display: inline-block
      border: 1px solid #d5dadc
      width: 100%
      background-color: #fff
      border-radius: 3px
      .sub-header-dashboard
        width: 100%
        clear: both
        background-color: #f3fafe
        display: inline-block
        border-bottom: 1px solid #d5dadc
        padding: 5px 10px
        h3
          font-size: 18px
          font-weight: 400
          width: 50%
          float: left
          margin: 0
          padding: 0
          line-height: 34px
          text-align: left
        a
          width: auto
          float: right
          padding: 7px 12px 0px 12px
      .dashboard-content
        display: inline-block
        clear: both
        width: 100%
        padding: 10px
        .ic-dashboard
          width: 20%
          float: left
          span
            width: 70px
            height: 70px
            border-radius: 50%
            background-color: #92cdff
            color: #fff
            display: inline-block
            line-height: 70px
            font-size: 35px
            font-weight: 400
            text-align: center
        .dashboard-details
          width: 80%
          float: left
          padding: 13px 0 0 20px
        p
          margin: 0
          font-size: 14px
          color: #878787
          font-weight: 300
        strong
          font-size: 30px
          font-weight: 400
          line-height: 22px
        .active-item
          width: 50%
          float: left
          display: inline-block
          text-align: left
        .total-people
          width: 50%
          float: left
          text-align: left
          display: inline-block
    tr:nth-child(2n+1)
      background-color: #f9f9f9
    th
      background-color: #f3fafe !important
      text-transform: none
    .active-challenges-list
      padding: 20px 0
      .filter-item
        display: inline-block
        clear: both
        padding: 5px 0
        text-align: left
        width: 100%
        span
          display: inline-block
          width: auto
          margin-right: 5px
          border-radius: 5px
          padding: 3px 15px
          color: gray
          cursor: pointer
          background-color: #dfdede
          i
            padding: 4px
            font-weight: 400
            font-style: normal
          i.fa-check-square-o
            display: none
        span.active
          background-color: #337ab7
          color: #fff
        span:hover
          background-color: #337ab7
          color: #fff
      .challenges-list
        width: 100%
        clear: both
        display: inline-block
        height: 300px
        overflow: auto
      table.contests-table
        background-color: #fff
        border-radius: 3px
        td:first-child
          width: 50%
        td:last-child
          a
            width: auto
            display: inline-block
            cursor: pointer
            padding: 0 5px
    .active-projects-list
      padding: 0
      table.contests-table
        background-color: #fff
      th:nth-child(2)
        width: 36%
      td:nth-child(2)
        width: 36%
