.content-page-block
  clear: both
  display: table
  margin: auto
  max-width: 1000px
  padding: 0 0 20px
  width: 100%
  position: relative
  .header-page
    background-color: #f3fafe
    -webkit-box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
    -moz-box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
    box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
    clear: both
    display: block
    text-align: center
    width: 100%
    h2
      display: inline-block
      clear: both
      font-weight: 400
      font-size: 20px
      text-transform: capitalize
      padding: 12px 20px 5px 20px
      margin: 0
      width: 100%
    p
      padding: 0 20px 15px 20px
      font-size: 12px
      font-style: italic
      margin-bottom: 1px
  .content-page-detail
    display: block
    clear: both
    padding: 20px
    text-align: center
    -webkit-border-bottom-right-radius: 5px
    -webkit-border-bottom-left-radius: 5px
    -moz-border-radius-bottomright: 5px
    -moz-border-radius-bottomleft: 5px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    background-color: #fff
    -webkit-box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
    -moz-box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
    box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
    h3
      font-weight: 300
      font-size: 16px
      text-align: center
      padding: 0 10%
      line-height: 22px
      strong
        font-weight: 400
.form-content
  display: inline-block
  margin: auto
  max-width: 600px
  padding: 20px 0 0
  text-align: left
  width: 100%
  .field-content
    clear: both
    display: inline-block
    padding-top: 5px
    width: 100%
    strong
      font-weight: 500
    p.note
      text-align: right

    label
      clear: both
      font-size: 14px
      font-weight: 400
      text-transform: capitalize
      width: 100%
      strong
        color: red
  .tooltip
    p
      padding: 0 0 5px 0
      margin: 0
      clear: both
      display: block
      strong
        font-size: 14px
        font-weight: 500
        text-transform: capitalize
    ul
      margin: 0
      padding: 0 0 0 10px
.content-page-block
  .content-page-detail
    .review-project-content-block
      width: 100%
      clear: both
      display: inline-block
      text-align: left
      //position: absolute
      //left: 0
      //right: 0
      //top: 0
      //bottom: 0
      //z-index: 88
      h2
        margin: 0
        padding: 10px 20px
        font-size: 16px
        font-weight: 400
        text-transform: capitalize
        background-color: #f3fafe
        -webkit-box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
        -moz-box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
        box-shadow: 0px 1px 0px 0px rgba(235,235,235,1)
      .review-project-content
        width: 100%
        clear: both
        display: inline-block
        padding: 20px
        -webkit-border-bottom-right-radius: 5px
        -webkit-border-bottom-left-radius: 5px
        -moz-border-radius-bottomright: 5px
        -moz-border-radius-bottomleft: 5px
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
        background-color: #fff
        -webkit-box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
        -moz-box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
        box-shadow: 1px 1px 0px 0px rgba(235,235,235,1)
        .time-and-payment-block
          display: inline-block
          clear: both
          width: 100%
          text-align: left
          h3
            font-size: 14px
            font-weight: 400
            text-transform: capitalize
            padding-bottom: 10px
            text-align: left
          p
            font-size: 14px
            color: #727272
            margin: 0
            padding: 0
          .working-time-block
            width: 50%
            float: left
            padding-right: 10px
            text-align: left
          .payment-block
            width: 50%
            float: left
            padding-left: 10px
            text-align: left