.get-promoted-block
  display: block
  clear: both
  width: 100%
  text-align: center
  margin-bottom: 20px
  .get-promoted-content
    width: 100%
    max-width: 1000px
    text-align: left
    background-color: #fff
    padding: 0
    margin: auto
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    h2
      font-size: 20px
      font-weight: 400
      margin: 0
      padding: 0
    h3
      font-size: 16px
      font-weight: 400
      margin: 0
      padding: 0
    p
      font-size: 14px
      margin: 0
      padding: 0
    .gp-form-block
      display: block
      clear: both
      .gp-form-header
        background-color: #f3fafe
        box-shadow: 0 1px 0 0 #ebebeb
        display: inline-block
        clear: both
        width: 100%
        padding: 20px
        text-align: center
        p
          font-size: 12px
          font-style: italic
          padding-top: 5px
      .gp-form-content
        display: inline-block
        clear: both
        padding: 30px 20px 20px 20px
        width: 100%
        text-align: center
        p
          font-size: 16px
          font-weight: 300
          padding: 30px 10%
          width: 100%
        .gp-form-content-detail
          display: inline-block
          padding: 0
          width: 50%
          margin: auto
          text-align: left
          .gp-form-field
            display: inline-block
            clear: both
            width: 100%
            padding: 5px 0
            label
              width: 100%
              clear: both
              font-size: 14px
              font-weight: 400
              strong
                font-weight: 500
                color: red
            .autocomplete
              width: 100%
              float: left
              ul
                margin: 0
                padding: 0
                z-index: 666
                border-bottom: 1px solid #d4d7d8
                border-left: 1px solid #d4d7d8
                border-right: 1px solid #d4d7d8
                .highlight
                  background: rgba(255, 237, 40, 0.4) none repeat scroll 0 0
                  color: #000
                li.active
                  background-color: #f5f5f5
              input
                font-size: 14px
                border: 1px solid #d4d7d8
                -webkit-border-radius: 5px
                -moz-border-radius: 5px
                border-radius: 5px
                padding: 6px 12px
                width: 100%
          .gp-form-field.submit
            text-align: center