.hiring-page
  padding: 0
  .hiring-banner-block
    background: #1a1a1a none repeat scroll 0 0
    padding: 0
    position: relative
    width: 100%
    display: inline-block
    height: 285px
    text-align: center
    margin: -25px 0 0
    .hiring-banner-content
      position: absolute
      left: 0
      right: 0
      top: 25%
      text-align: center
      z-index: 88
      color: #ffffff
      h2
        font-size: 40px
        font-weight: 100
    .btn-learn-more
      position: absolute
      left: 0
      right: 0
      top: 55%
      text-align: center
      z-index: 88
      width: auto
      margin: auto
      a
        display: inline-block
        padding: 10px 45px
        border-radius: 3px
        font-size: 18px
        color: #fff
        background-color: #337ab7
      a:hover
        background-color: #226ca5
    .hiring-banner-bg
      background: #000000 none repeat scroll 0 0
      height: 291px
      position: absolute
      z-index: 77
      top: 0
      right: 0
      bottom: 0
      left: 0
      .banner-images
        background: url(../images/hiring-banner.jpg) center top no-repeat
        opacity: 0.3
        width: 100%
        height: 291px
  .hiring-how-does-work-content
    display: inline-block
    width: 100%
    max-width: 1000px
    text-align: left
    padding: 40px 0 50px 0
    h3
      font-size: 36px
      font-weight: 300
      margin: 0
      padding: 0 0 20px 0
      text-align: center
      width: 100%
    h4
      font-size: 22px
      font-weight: 300
      margin: 0
      padding: 0 0 10px 0
      text-align: center
      width: 100%
    .title
      padding-bottom: 40px
    .ic-how-does-it-work
      background: url(../images/feature-icon.png) center top no-repeat
      height: 60px
      width: 100%
      clear: both
      display: block
    .ic-how-does-it-work.your-job
      background-position: center -256px
    .ic-how-does-it-work.project
      background-position: center -325px
    .ic-how-does-it-work.insights
      background-position: center -394px
    .hiring.vi
      p
        min-height: 100px
