.header-site
    display: inline-block
    clear: both
    width: 100%
    text-align: center
    background-color: #fff
    height: 79px
    .personal-header-block
        width: 100%

        .personal-header-content
            width: 100%
            max-width: 1000px
            margin: auto
            text-align: left

            .logo-block
                width: 50%
                float: left

                h1
                    font-size: 100%

            .user-info-basic-block
                display: inline-block
                width: auto
                float: right
                text-align: right
                padding-top: 7px

                .user-avatar
                    width: auto
                    float: right
                    padding: 0 5px

                    img
                        width: 20px
                        height: 20px
                        margin-top: -2px

                a
                    display: inline-block
                    float: right
                    text-transform: capitalize
                    padding: 0 5px
                    line-height: 20px
                    cursor: pointer
                    border-right: 1px solid #ccc
                a.no-user.detail-page
                    display: none
                p
                    width: auto
                    float: right
                    text-transform: uppercase
                    padding-right: 5px
                    line-height: 20px
                    margin: 0
                    border-right: 1px solid #ccc
            .lang-block
                width: auto
                float: right
                padding: 7px 0 0 0
                a
                    line-height: 20px
                    width: auto
                    display: block
                    cursor: pointer
                    float: left
                    padding-left: 5px
    .main-menu-job-seeker-block
        display: inline-block
        clear: both
        width: 100%
        background: url(../images/line-li-gray.png) #f0f3f4 left top repeat-x
        height: 40px
        .main-menu-job-seeker-content
            width: 100%
            clear: both
            display: inline-block
            background: url(../images/line-li-gray.png) left bottom repeat-x
            text-align: center
            padding: 0

            ul
                margin: auto
                padding: 0
                width: 100%
                max-width: 1000px
                text-align: center
                display: table
                li
                    width: auto
                    display: table-cell
                    text-transform: uppercase
                    background: url(../images/line-li-gray.png) left top repeat-y
                    padding: 5px 15px

                    a
                        color: #2d2d2d
                        background: url(../images/ic-navi-job-seeker.png) left top no-repeat
                        display: block
                        padding: 5px 0 5px 45px
                        cursor: pointer
                    a.jobSeekerSignIn
                        background-position: 0 -269px
                        padding-left: 28px
                    a.challenges
                        background-position: 0 2px

                    a.freelancer
                        background-position: 0 -55px
                        padding-left: 35px

                    a.analytics
                        background-position: 0 -112px
                        padding-left: 32px

                    a.help
                        background-position: 0 -168px
                        padding-left: 25px

                    a.promoted
                        background-position: 0 -226px
                        padding-left: 25px
                    a.my-dashboard
                        background-position: 0 -361px
                        padding-left: 30px
                    a.post-challenges
                        background-position: 0 -475px
                        padding-left: 30px
                    a.post-freelancer
                        background-position: 0 -531px
                        padding-left: 30px
                    a.post-evaluation
                        background-position: 0 -416px
                        padding-left: 30px
                    a.email-setting
                        background-position: 0 -635px
                    a.no-icon
                        background: transparent
                        padding-left: 0
                        i
                            padding-right: 10px
                    a.tech-talent
                        background-position: -1px -732px
                    a.business-owner
                        background-position: 3px -789px
                li:first-child
                    background: none
                    padding-left: 0
                li.active
                    background-color: #337ab7 !important
                    padding-left: 10px
                    a
                        color: #fff
                    a.jobSeekerSignIn
                        background-position: 0 -584px
                li.here
                    background-color: #f4f4f4
                    border-top: 1px solid #d1d1d1
                li.mobile
                    display: none
                li.first
                    position: relative
                    .sub-menu
                        display: none
                        position: absolute
                        left: 0
                        right: 0
                        top: 39px
                        background-color: #fff
                        border: 1px solid #d1d1d1
                        z-index: 99999
                        width: 200px
                        a
                            color: #333
                            text-align: left
                            padding: 10px 10px 10px 35px
                        a.email-setting
                            background-position: 10px -621px
                            border-bottom: 1px solid  #d1d1d1
                        a.sign-out
                            background-position: 10px -663px
                li.first:hover
                    .sub-menu
                        display: block
    .ic-menu-mobile
        display: none
.no-submenu
    height: auto !important
    margin-bottom: 15px
    .main-menu-job-seeker-block
        display: none
    .homepage-link
        display: none !important
.modal-header
    h4
        text-transform: capitalize

.modal-body.sign-in-with-fb-gl
    padding: 20px
    text-align: center
    width: 100%
    display: inline-block

    p
        display: inline-block
        margin: 0
        padding: 5px 10px

    i
        margin-right: 5px

    button.btn-gl
        background: #C73727
        padding: 6px 15px
        border: 0
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        color: #fff
        text-transform: capitalize
        min-width: 220px
        clear: both
        display: block
        margin: auto

    button.btn-fb
        background: #3b5998
        padding: 6px 15px
        border: 0
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        color: #fff
        text-transform: capitalize
        min-width: 220px
        clear: both
        display: block
        margin: auto

    .sign-in-social
        clear: both
        width: 100%

    .sign-in-vnw-form
        clear: both
        width: 100%
        padding: 10px 0
        border-top: 1px solid #e5e5e5
        border-bottom: 1px solid #e5e5e5

        p
            padding: 10px 0 20px 0
            margin: 0
            font-size: 16px

        .row
            padding-bottom: 10px
            width: 80%
            margin: auto

        input
            width: 100%
            clear: both

        button
            width: 100%
            clear: both
            margin: 2px 0

        .error-messages
            text-align: left

    .dont-have-account
        clear: both
        width: 100%
        padding: 10px 0

        p
            margin: 0
            padding: 0

        a
            cursor: pointer

.personal-site-container
    display: block
    clear: both
    width: 100%
    text-align: center

    .techlooper-spotlight-block
        width: 100%
        max-width: 1000px
        display: inline-block
        clear: both
        margin: auto
        text-align: left
        border-bottom: 2px solid #277dbe
        padding: 0 10px

        h2
            font-size: 25px
            font-weight: 300
            text-transform: capitalize
            color: #878787
            width: auto
            float: left
            margin: 0
            padding: 0 0 5px 0
            line-height: 100%

            strong
                font-weight: 300
                color: #2d2d2d

        span
            width: auto
            float: right
            font-size: 14px
            padding: 10px 0 0
            line-height: 100%
            color: #878787

    .personal-site-content-detail
        display: inline-block
        clear: both
        width: 100%
        margin: auto
        text-align: left
        max-width: 1000px
        .job-alert-box
            display: inline-block
            clear: both
            width: 100%
            padding: 20px 0 0
            h3
                font-size: 16px
                font-weight: 300
                text-transform: capitalize
                width: 100%
                color: #878787
                margin: 0
                padding: 0 0 5px 0
            .box-content
                -webkit-border-radius: 3px
                -moz-border-radius: 3px
                border-radius: 3px
                border: 1px solid #e7e7e7
                padding: 15px 15px 10px 15px
                width: 100%
                background-color: #fff
                .it-job-corner-content
                    display: inline-block
                    clear: both
                    width: 100%
                    padding: 0
                .it-job-corner-content-form
                    display: -webkit-flex
                    display: flex
                .send-me-jobs-form
                    display: inline-block
                    clear: both
                    width: 100%
                    padding: 10px
                    .send-me-jobs-field
                        display: inline-block
                        clear: both
                        width: 100%
                        padding: 0 0 5px 0
                        .autocomplete
                            width: 70%
                            float: left
                            ul
                                margin: 0
                                padding: 0
                                z-index: 999
                                border-bottom: 1px solid #d4d7d8
                                border-left: 1px solid #d4d7d8
                                border-right: 1px solid #d4d7d8
                                top: 34px
                                .highlight
                                    background: rgba(255, 237, 40, 0.4) none repeat scroll 0 0
                                    color: #000
                                li.active
                                    background-color: #f5f5f5
                            input
                                font-size: 14px
                                border: 1px solid #d4d7d8
                                -webkit-border-radius: 5px
                                -moz-border-radius: 5px
                                border-radius: 5px
                                padding: 6px 12px
                                width: 100%
                        p.note
                            text-align: right
                            margin: 0
                            padding: 0
                        .error-messages
                            padding-left: 30%
                    label
                        width: 30%
                        float: left
                        font-size: 14px
                        font-weight: 300
                        padding-top: 7px
                        strong
                            font-weight: 500
                            color: red
                    input
                        width: 70%
                        float: left
                    input.input-style
                        clear: none
                    .selectize-input
                        width: 70%
                        float: left
                    .send-me-jobs-field.submit
                        text-align: center
                        padding-top: 10px
                        border-top: 1px dashed #d5dadc
            h4
                margin: 0
                padding: 0
                font-weight: 400
                font-size: 16px
            .it-job-corner-messages
                display: inline-block
                clear: both
                width: 100%
                padding-bottom: 10px
                text-align: left
                h4
                    text-align: center
                    padding-bottom: 5px
                p
                    text-align: center
            .latest-jobs-block
                -webkit-border-radius: 5px
                -moz-border-radius: 5px
                border-radius: 5px
                width: 49.5%
                float: left
                border: 1px solid #d5dadc
                border-top: 0
                min-height: 250px
                margin-right: 0.5%
                flex: 1
                h4
                    background-color: #f4f4f4
                    padding: 10px
                    border-bottom: 1px solid #d5dadc
                    strong
                        font-weight: 500
                ul
                    margin: 0
                    padding: 10px
                    width: 100%
                    li
                        width: 100%
                        clear: both
                        display: inline-block
                        padding: 5px 0
                        border-bottom: 1px dashed #d5dadc
                        .left
                            width: 75%
                            float: left
                        .right
                            width: 25%
                            text-align: right
                            float: left
                            font-weight: 500
                            strong
                                font-weight: 500
                        h5
                            margin: 0
                            padding: 0
                            width: 100%
                            clear: both
                        p
                            width: 100%
                            color: #808080
                            padding: 0
                            margin: 0
                    li:last-child
                        padding-bottom: 0
                        border-bottom: 0
                        text-align: center
                        .btn
                            padding: 6px 25px
            .send-me-job-alert-block
                -webkit-border-radius: 5px
                -moz-border-radius: 5px
                border-radius: 5px
                width: 49.5%
                float: left
                border: 1px solid #d5dadc
                border-top: 0
                min-height: 250px
                margin-left: 0.5%
                flex: 1
                h4
                    background-color: #f4f4f4
                    padding: 10px
                    border-bottom: 1px solid #d5dadc
        .main-feature
            display: inline-block
            clear: both
            width: 100%
            padding-top: 20px
        .personal-banner-home-page
            display: inline-block
            clear: both
            width: 100%
            padding: 0
            margin-bottom: 20px
            h3
                color: #878787
                font-size: 16px
                font-weight: 300
                margin: 0
                padding: 0 0 5px
                text-transform: capitalize
                width: 100%
            .box-content
                -webkit-border-radius: 3px
                -moz-border-radius: 3px
                border-radius: 3px
                border: 1px solid #e7e7e7
                padding: 15px
                width: 100%
                background-color: #fff
                h4
                    float: left
                    font-size: 16px
                    font-weight: 400
                    margin: 0
                    padding: 0 0 10px 0
                    text-transform: capitalize
                    width: 70%
                img
                    width: 100%
                .freelancer-banner
                    display: inline-block
                    clear: both
                    width: 100%
                    padding: 10px 0 0
                .project-items
                    display: inline-block
                    clear: both
                    width: 100%
                    .project-item
                        display: inline-block
                        clear: both
                        width: 100%
                        padding: 10px
                        background-color: #f4f4f4
                        border-top: 1px solid #d5dadc
                        h5
                            font-weight: 400
                            font-size: 14px
                            width: 100%
                            margin: 0
                            padding: 0 0 10px 0
                            text-transform: capitalize
                            float: left
                            a
                                width: 100%
                                float: left
                                display: inline-block
                                line-height: 18px
                                padding-top: 5px
                        strong
                            font-weight: 500
                        .right-content
                            width: 30%
                            float: left
                            text-align: right
                            padding-right: 10px
                            img
                                max-width: 130px
                                clear: both
                            a.view-detail
                                color: #337ab7
                                float: right
                                font-size: 14px
                                text-align: right
                                width: 100%
                                clear: both
                                padding-top: 5px
                            p
                                color: #808080
                        .left-content
                            width: 70%
                            float: left
                            .payment-time-post
                                display: inline-block
                                clear: both
                                width: 100%
                                span.time-stamp
                                    color: #727272
                                    font-size: 12px
                            .project-description
                                display: inline-block
                                clear: both
                                width: 100%
                                padding-bottom: 5px
                            .skills-of-project
                                display: inline-block
                                clear: both
                                width: 100%
                                h6
                                    font-size: 14px
                                    font-weight: 400
                                    margin: 0
                                    padding: 0 0 5px 0

                                ul
                                    margin: 0
                                    padding: 0
                                    width: 100%
                                    float: left
                                    li
                                        width: auto
                                        float: left
                                        padding-bottom: 5px
                                        span
                                            background-color: #fff
                                            border-radius: 5px
                                            box-shadow: 1px 1px 1px 0 #cccccc
                                            display: inline-block
                                            margin-right: 5px
                                            padding: 5px 15px
                                            width: auto


                    .project-item:first-child

            .view-more-items
                display: inline-block
                clear: both
                width: 100%
                text-align: right
                padding-top: 10px
        .box-container-block
            width: 32%
            float: left
            margin: 20px 1%

            h3
                font-size: 14px
                font-weight: 500
                text-transform: capitalize
                width: 100%
                color: #878787
                margin: 0
                padding: 0 0 5px 0

            .box-content
                -webkit-border-radius: 3px
                -moz-border-radius: 3px
                border-radius: 3px
                background-color: #fff
                border: 1px solid #e7e7e7
                padding: 15px
                width: 100%
                min-height: 580px
                .box-header
                    width: 100%
                    clear: both
                    display: inline-block
                    border-bottom: 1px solid #d5dadc
                    padding-bottom: 5px
                    float: left

                    h4
                        margin: 0
                        padding: 0
                        font-size: 16px
                        font-weight: 400
                        width: 70%
                        float: left
                        text-transform: capitalize

                    a
                        width: 30%
                        float: right
                        display: inline-block
                        font-size: 14px
                        text-align: right

                .box-content-detail
                    display: inline-block
                    clear: both
                    width: 100%
                    padding: 0

                    .main-term
                        display: inline-block
                        clear: both
                        width: 100%
                        background-color: #f4f4f4
                        padding: 10px

                    .main-skill-logo
                        width: 20%
                        float: left
                        border: 1px solid #dedede
                        padding: 1px
                        max-width: 50px
                        height: 50px
                        vertical-align: middle
                        position: relative
                        text-align: center

                        img
                            max-width: 50px
                            width: 100%
                            max-height: 50px
                            margin: auto
                            position: absolute
                            left: 0
                            top: 0
                            right: 0
                            bottom: 0

                    .main-skill-info
                        width: 80%
                        float: left
                        padding-left: 10px

                        ul
                            margin: 0
                            padding: 5px 0 0
                            width: 100%

                            li
                                display: inline-block
                                clear: both
                                width: 100%
                                text-align: left
                                padding-bottom: 5px

                                strong
                                    float: right
                                    font-weight: 500

                                span
                                    font-weight: 300
                                    display: inline-block
                                    width: 100px
                                    text-transform: capitalize

                    .top-detail-skill-block
                        display: inline-block
                        clear: both
                        width: 100%
                        padding: 10px 0 0

                        .technical-skills-block
                            display: inline-block
                            clear: both
                            width: 100%
                            padding: 10px 10px 0 10px
                            background-color: #f4f4f4

                            ul
                                margin: 0
                                padding: 0

                                li
                                    width: 50%
                                    float: left
                                    text-align: center
                                    padding: 10px 0

                                    .circle
                                        margin: auto

                    .reward-block
                        display: inline-block
                        clear: both
                        width: 100%
                        background-color: #f4f4f4
                        padding: 10px

                        .col-md-4
                            padding: 0 5px
                            text-align: center

                            p strong
                                display: none

                        .col-md-4.col12
                            width: 100%

                    .status-of-challenge-block
                        display: inline-block
                        clear: both
                        width: 100%

                        .status-of-challenge-info
                            background-color: #f3fafe
                            padding: 10px

                            h4
                                margin: 0
                                padding: 0 0 10px 0
                                font-size: 18px
                                font-weight: 300

                            ul
                                margin: 0
                                padding: 0

                                li
                                    clear: both
                                    width: 100%

                        p
                            margin: 0
                            background-color: #277dbe
                            padding: 10px
                            color: #a3d5ff

                    .technologies-block
                        display: inline-block
                        clear: both
                        width: 100%

                        p
                            margin: 0
                            padding: 0
                            font-weight: 400

                            strong
                                display: none

                        p.detail
                            display: inline-block
                            clear: both
                            width: 100%
                            background-color: #f4f4f4
                            padding: 10px
                            font-weight: 300

                            span.tag
                                background-color: white
                                border-radius: 5px
                                box-shadow: 1px 1px 1px 0 #cccccc
                                display: inline-block
                                margin: 0 5px 5px 0
                                padding: 5px 15px
                                width: auto
                                text-transform: capitalize

                    .quality-of-idea-block
                        display: inline-block
                        clear: both
                        width: 100%
                        padding: 10px 0 0 0

                        p
                            margin: 0
                            padding: 0
                            font-weight: 400

                        p.detail
                            display: inline-block
                            clear: both
                            width: 100%
                            background-color: #f4f4f4
                            padding: 10px
                            font-weight: 300

                    .challenge-overview-block
                        display: inline-block
                        clear: both
                        width: 100%
                        padding: 10px 0

                        p
                            margin: 0
                            padding: 0
                            font-weight: 400

                            strong
                                display: none

                        p.detail
                            display: inline-block
                            clear: both
                            width: 100%
                            background-color: #f4f4f4
                            padding: 10px
                            font-weight: 300
                    .upcoming-events-list
                        display: inline-block
                        clear: both
                        width: 100%
                        .upcoming-events-by-time
                            display: inline-block
                            clear: both
                            width: 100%
                            padding: 0
                            background-color: #f3fafe
                            h4
                                margin: 0
                                padding: 5px
                                text-transform: capitalize
                                font-size: 14px
                                font-weight: 400
                                background: url(../images/line-li-gray.png) #f4f4f4 left bottom repeat-x
                                float: left
                                width: 100%
                            .upcoming-event-item
                                display: inline-block
                                clear: both
                                width: 100%
                                padding: 10px 0 0
                                float: left
                                .left-content
                                    width: 30%
                                    float: left
                                    text-align: center
                                    p
                                        clear: both
                                        width: 100%
                                        display: inline-block
                                        padding: 0 0 5px 0
                                        margin: 0
                                        text-transform: capitalize
                                    img
                                        height: 40px
                                .right-content
                                    width: 70%
                                    float: left
                                    padding-left: 10px
                                    ul
                                        margin: 0
                                        padding: 0
                                        li
                                            width: 100%
                                            clear: both
                                            padding-bottom: 5px
                                            strong
                                                font-weight: 500
                                        li.name
                                            font-weight: 500
                                        line-height: 18px
                                .registration-link
                                    display: inline-block
                                    clear: both
                                    width: 100%
                                    text-align: right
                                    padding: 5px
                    .latest-topics
                        .topic-item
                            border-top: 1px solid #ebebeb
                            padding: 15px 5px 10px 5px
                .freelancer-banner
                    img
                        width: 100%

            .view-more-items
                display: inline-block
                clear: both
                width: 100%
                text-align: right
                padding-top: 10px

                a
                    text-transform: capitalize

        .box-container-block.left
            margin-left: 0

        .box-container-block.right
            margin-right: 0
.no-menu-page
    margin-top: -20px
.send-mail-error
    color: red
    font-style: italic
    text-align: left
    padding: 0 5px
    p
        margin: 0
        padding: 0
        font-size: 12px
.content-page-block.user-type-page
    margin-bottom: 20px
    .header-page
        h2
            line-height: 25px
    .content-page-detail
        width: 100%
        padding: 50px 20px
    .user-type-content
        padding-top: 20px
        cursor: pointer
        a
            color: #333333

    .line-center
        background: url(../images/line-li-gray.png) center top repeat-y
        min-height: 265px
        text-align: center
        vertical-align: middle
        position: relative
        p
            width: 50px
            background-color: #fff
            display: inline
            margin: auto
            position: absolute
            font-size: 25px
            left: 0
            right: 0
            top: 0
            bottom: 0
            height: 35px
            color: #b0b0b0
    .ic-user-type
        background: url(../images/ic-user-type.png) center top no-repeat
        height: 95px
        width: 100%
        clear: both
        display: inline-block
    .ic-user-type.job-seeker
        background-position: center -150px
    .ic-user-type.employer
        background-position: center 0
    .user-type-name
        width: 100%
        clear: both
        display: inline-block
        p
            font-size: 18px
            font-weight: 300
            strong
                font-weight: 500
                color: #337ab7
    .user-type-explain
        display: inline-block
        width: 100%
        clear: both
        text-align: left
        ul
            margin: 0
            padding: 0
            li
                width: 100%
                clear: both
                display: inline-block
                padding: 5px 0 0 30px
                background: url(../images/check-blue.png) left 9px no-repeat
