html
  height: 100%

body
  height: 100%
  background-color: #2e272a
  color: #727272
  font-family: 'roboto', arial
  font-weight: 300

ul
  list-style: none

a:hover
  text-decoration: none
.hide
  display: none
.show
  display: block
.container
  width: 100%
  padding: 0
.row
  margin: 0
.col-md-12
  padding: 0
.mobile
  display: none
.desktop
  display: block
/* -- style for header --*/
.setting-block
  padding-top: 10px
  a
    color: #727272
.fa-bubble-chart
  background: url(../images/ic-small.png) left -30px no-repeat
  height: 20px
  width: 20px
.fa-bubble-chart.active
  background-position: left top
  color: #a4a4a4
.fa-pie-chart.active
  color: #428bca

.navbar-inverse
  background: url(../images/line-header.png) #2e272a center bottom no-repeat
  border: 0

.setting-content
  background-color: #323232
  border: 1px solid #3d373a
  padding: 4px
  border-radius: 5px
  max-height: 30px
  height: 30px
  width: 28px
  position: absolute
  left: 5px
  z-index: 999
  i
    font-size: 20px
    cursor: pointer

.setting-label
  width: 20px
  float: left
  cursor: pointer

.setting-content ul
  margin: 0
  padding: 0

ul.setting-items
  display: none

.setting-content li
  float: left
  padding-left: 10px

.langKey
  width: 25px
  height: 25px
  cursor: pointer

.keyboard-shortcuts-items
  background: #000000
  padding: 10px
  width: 240px
  height: auto
  display: none
  position: absolute
  left: -1px
  top: 28px
  border: 1px solid #3d373a
  border-radius: 5px
  li
    display: block
    clear: both
    border-top: 1px solid #2d2d2d
    padding: 5px 0
    width: 100%
    text-align: right
    &:first-child
      border-top: 0
      padding-top: 0
    span
      float: left

.logo-block
  width: 33%
  float: left
.tech-line
  width: 33%
  text-align: center
  float: left
.close-button
  width: 33%
  text-align: right
  float: left
.logo-block h1
  margin: 0
  padding: 0
.note
  width: 100%
  text-align: center
  color: #727272
  font-size: 11px
  padding-bottom: 5px
.chart-block
  width: 100%
  clear: both
  min-height: 550px
.chart-contrainer
  width: 100%
  clear: both
  display: block
  text-align: center
/* --- Style for bubble chart ---*/

.bubble-chart-block
  display: block
  clear: both
  width: 100%
  float: left
  height: 500px
  text-align: center

.bubble-chart-container
  width: 400px
  margin: auto
  position: relative
  left: 0
  right: 0
  min-height: 500px

.find-jobs-block
  float: left
  clear: both
  width: 100%
  text-align: center

.find-jobs-container
  width: 600px
  margin: auto
  position: relative
  text-align: center

.find-jobs-button
  margin: auto
  text-align: center
  a
    width: 340px
    display: block
    height: 50px
    line-height: 50px
    color: #fff
    margin: auto
    border: 1px solid #575757
    background-color#282225
    padding: 0 20px
    border-radius: 15px
    font-size: 22px
    font-weight: 300
    &:hover
      background-color: #007bdc
.pie-Chart-Container
  padding-top: 50px
  min-height: 450px

.analystic-find-jobs-block
  display: block
/* --- Style for footer ---*/

footer
  position: fixed
  bottom: 0
  width: 100%
  z-index: 22

.companies-block h2
  font-size: 16px
  text-transform: uppercase
  font-weight: 300
  background-color: #000000
  border-radius: 5px 5px 0 0
  width: auto
  padding: 5px 10px
  display: inline
  cursor: pointer
  z-index: 99

.companies-list
  background-color: #000000
  width: 100%
  height: 0
  padding: 5px 10px
  clear: both
  position: relative
  bottom: 0
  ul
    padding: 0
    margin: 0
    text-align: center
  li
    display: inline-block
    padding: 0 5px
  a
    width: 180px
    height: 100px
    cursor: pointer
    display: block
  img
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
    /* Firefox 10+, Firefox on Android*/
    filter: grayscale(100%)
    -moz-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
    -o-filter: grayscale(100%)
    filter: gray
    /* IE6-9*/
    -webkit-filter: grayscale(100%)
    /* Chrome 19+, Safari 6+, Safari 6+ iOS*/
  a:hover img
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale")
    filter: grayscale(0%)
    -moz-filter: grayscale(0%)
    -ms-filter: grayscale(0%)
    -o-filter: grayscale(0%)
    filter: none
    /* IE6-9*/
    zoom: 1
    -webkit-filter: grayscale(0%)
    /* Chrome 19+, Safari 6+, Safari 6+ iOS*/

.discussion-board-block
  position: absolute
  right: 10px
  top: -13px
  cursor: pointer
  i
    font-size: 30px
.loading-paging
  background: url(../images/loading.gif) center top no-repeat
  width: 100%
  height: 182px
  position: fixed
  bottom: 0
  display: none
.loading-data
  position: absolute
  z-index: 999
  width: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #000
  opacity: 0.8
.windows8
  position: relative
  width: 90px
  height: 90px
  left: 45%
  top: 45%

.windows8 .wBall
  position: absolute
  width: 86px
  height: 86px
  opacity: 0
  -moz-transform: rotate(225deg)
  -moz-animation: orbit 10.45s infinite
  -webkit-transform: rotate(225deg)
  -webkit-animation: orbit 10.45s infinite
  -ms-transform: rotate(225deg)
  -ms-animation: orbit 10.45s infinite
  -o-transform: rotate(225deg)
  -o-animation: orbit 10.45s infinite
  transform: rotate(225deg)
  animation: orbit 10.45s infinite
  color: #009ddc

.windows8 .wBall .wInnerBall
  position: absolute
  width: 11px
  height: 11px
  background: #009ddc
  left: 0px
  top: 0px
  -moz-border-radius: 11px
  -webkit-border-radius: 11px
  -ms-border-radius: 11px
  -o-border-radius: 11px
  border-radius: 11px

.windows8 #wBall_1
  -moz-animation-delay: 2.28s
  -webkit-animation-delay: 2.28s
  -ms-animation-delay: 2.28s
  -o-animation-delay: 2.28s
  animation-delay: 2.28s

.windows8 #wBall_2
  -moz-animation-delay: 0.46s
  -webkit-animation-delay: 0.46s
  -ms-animation-delay: 0.46s
  -o-animation-delay: 0.46s
  animation-delay: 0.46s

.windows8 #wBall_3
  -moz-animation-delay: 0.91s
  -webkit-animation-delay: 0.91s
  -ms-animation-delay: 0.91s
  -o-animation-delay: 0.91s
  animation-delay: 0.91s

.windows8 #wBall_4
  -moz-animation-delay: 1.37s
  -webkit-animation-delay: 1.37s
  -ms-animation-delay: 1.37s
  -o-animation-delay: 1.37s
  animation-delay: 1.37s

.windows8 #wBall_5
  -moz-animation-delay: 1.82s
  -webkit-animation-delay: 1.82s
  -ms-animation-delay: 1.82s
  -o-animation-delay: 1.82s
  animation-delay: 1.82s

@-moz-keyframes orbit
  0%
    opacity: 1
    z-index: 99
    -moz-transform: rotate(180deg)
    -moz-animation-timing-function: ease-out

  7%
    opacity: 1
    -moz-transform: rotate(300deg)
    -moz-animation-timing-function: linear
    -moz-origin: 0%

  30%
    opacity: 1
    -moz-transform: rotate(410deg)
    -moz-animation-timing-function: ease-in-out
    -moz-origin: 7%

  39%
    opacity: 1
    -moz-transform: rotate(645deg)
    -moz-animation-timing-function: linear
    -moz-origin: 30%

  70%
    opacity: 1
    -moz-transform: rotate(770deg)
    -moz-animation-timing-function: ease-out
    -moz-origin: 39%

  75%
    opacity: 1
    -moz-transform: rotate(900deg)
    -moz-animation-timing-function: ease-out
    -moz-origin: 70%

  76%
    opacity: 0
    -moz-transform: rotate(900deg)

  100%
    opacity: 0
    -moz-transform: rotate(900deg)


@-webkit-keyframes orbit
  0%
    opacity: 1
    z-index: 99
    -webkit-transform: rotate(180deg)
    -webkit-animation-timing-function: ease-out

  7%
    opacity: 1
    -webkit-transform: rotate(300deg)
    -webkit-animation-timing-function: linear
    -webkit-origin: 0%

  30%
  opacity: 1
  -webkit-transform: rotate(410deg)
  -webkit-animation-timing-function: ease-in-out
  -webkit-origin: 7%

  39%
    opacity: 1
    -webkit-transform: rotate(645deg)
    -webkit-animation-timing-function: linear
    -webkit-origin: 30%

  70%
  opacity: 1
  -webkit-transform: rotate(770deg)
  -webkit-animation-timing-function: ease-out
  -webkit-origin: 39%

  75%
    opacity: 1
    -webkit-transform: rotate(900deg)
    -webkit-animation-timing-function: ease-out
    -webkit-origin: 70%

  76%
    opacity: 0
    -webkit-transform: rotate(900deg)

  100%
    opacity: 0
    -webkit-transform: rotate(900deg)


@-ms-keyframes orbit
  0%
    opacity: 1
    z-index: 99
    -ms-transform: rotate(180deg)
    -ms-animation-timing-function: ease-out

  7%
    opacity: 1
    -ms-transform: rotate(300deg)
    -ms-animation-timing-function: linear
    -ms-origin: 0%

  30%
    opacity: 1
    -ms-transform: rotate(410deg)
    -ms-animation-timing-function: ease-in-out
    -ms-origin: 7%

  39%
    opacity: 1
    -ms-transform: rotate(645deg)
    -ms-animation-timing-function: linear
    -ms-origin: 30%

  70%
  opacity: 1
  -ms-transform: rotate(770deg)
  -ms-animation-timing-function: ease-out
  -ms-origin: 39%

  75%
    opacity: 1
    -ms-transform: rotate(900deg)
    -ms-animation-timing-function: ease-out
    -ms-origin: 70%

  76%
    opacity: 0
    -ms-transform: rotate(900deg)

  100%
    opacity: 0
    -ms-transform: rotate(900deg)


@-o-keyframes orbit
  0%
    opacity: 1
    z-index: 99
    -o-transform: rotate(180deg)
    -o-animation-timing-function: ease-out

  7%
    opacity: 1
    -o-transform: rotate(300deg)
    -o-animation-timing-function: linear
    -o-origin: 0%

  30%
    opacity: 1
    -o-transform: rotate(410deg)
    -o-animation-timing-function: ease-in-out
    -o-origin: 7%

  39%
    opacity: 1
    -o-transform: rotate(645deg)
    -o-animation-timing-function: linear
    -o-origin: 0%

  70%
    opacity: 1
    -o-transform: rotate(770deg)
    -o-animation-timing-function: ease-out
    -o-origin: 39%

  75%
    opacity: 1
    -o-transform: rotate(900deg)
    -o-animation-timing-function: ease-out
    -o-origin: 70%

  76%
    opacity: 0
    -o-transform: rotate(900deg)

  100%
    opacity: 0
    -o-transform: rotate(900deg)


@keyframes orbit
  0%
    opacity: 1
    z-index: 99
    transform: rotate(180deg)
    animation-timing-function: ease-out

  7%
    opacity: 1
    transform: rotate(300deg)
    animation-timing-function: linear
    origin: 0%

  30%
  opacity: 1
  transform: rotate(410deg)
  animation-timing-function: ease-in-out
  origin: 7%

  39%
    opacity: 1
    transform: rotate(645deg)
    animation-timing-function: linear
    origin: 30%

  70%
    opacity: 1
    transform: rotate(770deg)
    animation-timing-function: ease-out
    origin: 39%

  75%
    opacity: 1
    transform: rotate(900deg)
    animation-timing-function: ease-out
    origin: 70%

  76%
    opacity: 0
    transform: rotate(900deg)

  100%
    opacity: 0
    transform: rotate(900deg)