.post-contest-block
  width: 100%
  clear: both
  display: inline-block
  text-align: center
  padding: 20px 0 0
  h2
    font-size: 18px
    font-weight: 400
    margin: 0
    padding: 0
  h3
    font-size: 16px
    font-weight: 400
    margin: 0
    padding: 0
  strong
    font-weight: 500
  p
    font-size: 14px
    margin: 0
    padding: 0
  ul
    margin: 0
    padding: 0
  .post-contest-form
    margin: auto
    text-align: left
    max-width: 600px
    width: 100%
    display: inline-block
    .post-contest-field
      width: 100%
      clear: both
      padding-top: 5px
      label
        clear: both
        font-size: 14px
        font-weight: 400
        width: 100%
        text-transform: capitalize
        strong
          color: red
      input
        width: 100%
      .post-contest-field-content
        width: 90%
        float: left
        .top-three-skills
          .autocomplete
            input
              width: 100%
              font-size: 14px
        i
          cursor: pointer
      .post-contest-field-tooltip
        width: 10%
        float: right
        text-align: left
        padding-top: 26px
        a.ic-tooltip
          width: 27px
          height: 27px
          cursor: pointer
          margin: auto
          background: url(../images/ic-tooltip.png) left top no-repeat
          display: block
        a.ic-tooltip:hover
          background-position: 0 -45px
    .post-contest-field.submit
      text-align: center
      button
        margin: auto
        padding: 6px 35px