.talent-detail-page
  background: url("../images/bg.png") repeat scroll left top rgba(0, 0, 0, 0)
  clear: both
  display: block
  float: left
  width: 100%
  padding: 20px
  margin-top: 60px
  .talent-general-info-section
    display:  flex
    flex-wrap:  wrap
    width: 100%
    .left-side-section
      display: flex
      width: 50%
      padding: 0 10px 0 0
    .right-side-section
      display: flex
      width: 50%
      padding: 0 0 0 10px
    .talent-info-content
      width: 100%
      display: flex
      //flex-direction: column
      background-color: #fff
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      text-align: center
      padding: 20px
      .left-side
        width: 30%
        float: left
        padding-right: 10px
      .right-side
        width: 70%
        float: left
        padding-left: 10px
      .job-info
        ul
          float: left
          width: 60%
          text-align: left
      .general-info
        width: 100%
        clear: both
        display: block
        h2
          font-weight: 400
          font-size: 18px
          padding-bottom: 5px
          text-align: left
          padding-top: 0
          margin: 0
        p
          display: block
          clear: both
          font-size: 14px
          text-align: left
          min-height: 30px
          line-height: 18px

      .btn-connection
        width: 40%
        float: left
        text-align: center
        display: none
        .save-talent
          display: block
          width: 100%
          clear: both
          float: left
          padding-bottom: 5px

        .contact-talent
          display: block
          width: 100%
          clear: both
          float: left
        span
          width: auto
          padding-left: 30px
          height: 24px
          line-height: 24px
          margin: auto
          background: url(../images/icon.png) left top no-repeat
        a
          clear: both
          float: left
          width: 100%
          cursor:pointer
        .save-talent span
          background-position: 0 -125px
        .contact-talent span
          background-position: 0 -172px
  .talent-general-info
    text-align: left
    .main-skill-block
      width: 50%
      padding-left: 10px
      float: left
      text-align: left
  .main-skill-list
    width: 100%
    clear: both
    display: block
    padding-top: 20px
    h3
      font-weight: 400
      font-size: 18px
      padding-bottom: 5px
      margin: 0
      text-align: left
    ul
      width: 100%
      clear: both
      padding: 0
      text-align: left
    li
      width: auto
      text-align: center
      padding: 10px 10px 10px 0
      display: inline-block
      clear: both
      vertical-align: middle
      img
        width: 30px
        float: left
        height: 30px
        vertical-align: middle
      h3
        font-size: 16px
        font-weight: 300
        padding-top: 5px
        width: auto
        float: left
        line-height: 18px
        padding-left: 5px
        margin: 0
  .github-repositories
    width: 100%
    text-align: left
    h3
      font-weight: 400
      font-size: 18px
      padding: 0 0 20px 0
      margin: 0
    h4
      font-weight: 300
      font-size: 16px
      padding-bottom: 5px
    p
      font-size: 12px
      font-weight: 300
      margin: 0
    .repositories-list
      height: 219px
      overflow: auto
      width: 100%
      clear: both
    ul
      width: 100%
      margin: 0
      padding: 0
    li
      width: 100%
      clear: both
      padding: 10px 0
      border-top: 1px dashed #c1c1c1
    li:first-child
      padding-top: 0
      border-top: 0
  .evaluation-block
    width: 100%
    display: block
    clear: both
    padding: 20px 0
    .evaluation-content
      min-height: 270px
      background-color: #fff
      width: 100%
      padding: 20px
      text-align: left
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      display: flex
  .rating-talent-ranking
    width: 25%
    float: left
    padding-right: 10px
    h3
      font-size: 18px
      font-weight: 400
      padding-bottom: 10px
      margin: 0
    .rating-block
      width: 100%
      clear: both
      padding-bottom: 10px
    .rating-block p
      width: 100%
      font-size: 30px
      font-weight: 300
      color: #227bbe
      margin: 0

    .rating-block ul
      margin: 0
      padding: 0
    .rating-block li
      width: auto
      float: left
      padding: 0 5px
      font-size: 30px
      color: #227bbe
    .rating-block li:first-child
      padding-left: 0
    .talent-ranking-block
      display: block
      clear: both
      width: 100%
      padding-top: 30px
      h3
        font-size: 18px
        font-weight: 400
        padding-bottom: 20px
        float: left
        margin: 0
      p
        width: 100%
        font-size: 14px
        float: left
        margin: 0
  .info-completed-status
    width: 80%
    display: block
    overflow: hidden
    height: 8px
    margin: 5px auto
    background: #b8b8b8
    border-radius: 4px
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 60%)
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6)
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6)

  .info-completed .real-status
    display: block
    min-width: 8px
    height: 8px
    background: #1997e6
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc)
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2)
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2)
  .evaluation-block .ranking
    width: 250px
    display: block
    overflow: hidden
    height: 8px
    margin: 5px 0
    background: #b8b8b8
    border-radius: 4px
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%)
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 60%)
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6)
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6)
    float: left
  .evaluation-block .real
    display: block
    min-width: 8px
    height: 8px
    background: #1997e6
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc)
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2)
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2)
    width: 0
  .evaluation-block .real.blue
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc)
  .evaluation-block .real.yellow
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #ddcb00, #fbe70b)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #ddcb00, #fbe70b)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #ddcb00, #fbe70b)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #ddcb00, #fbe70b)

  .evaluation-block .real.green
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #7fac35, #aec785)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #7fac35, #aec785)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #7fac35, #aec785)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #7fac35, #aec785)
  .evaluation-block .real.purple
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #815ec1, #a48ad4)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #815ec1, #a48ad4)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #815ec1, #a48ad4)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #815ec1, #a48ad4)

  .evaluation-block .real.oranges
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #07bab2, #08e8de)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #07bab2, #08e8de)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #07bab2, #08e8de)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #07bab2, #08e8de)
  .evaluation-block .real.bright-turquoise
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc)

  .evaluation-block .real.blush
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #ca446c, #de5d83)
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #ca446c, #de5d83)
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #ca446c, #de5d83)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0) 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #ca446c, #de5d83)
  .evaluation-github
    width: 75%
    float: left
  .evaluation-item
    width: 33%
    float: left
    padding: 20px 10px
  .evaluation-item h3
    font-size: 18px
    font-weight: 400
    padding-bottom: 20px
    float: left
    margin: 0
  .evaluation-item p
    width: 100%
    font-size: 14px
    float: left
    margin: 0
  .evaluation-block .evaluation-item .ranking
    width: 250px
  .talent-detail-page .resume-block
    width: 100%
    display: block
    clear: both
  .resume-block .resume-content
    min-height: 400px
    width: 100%
  .resume-content
    .left-side
      padding-right: 20px
      float: left
      width: 20%
      .resume-tab-manager
        background-color: #e5e5e5
        border-top: 1px solid #fff
        border-left: 1px solid #fff
        border-right: 1px solid #bfbfbf
        border-bottom: 1px solid #bfbfbf
        width: 100%
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        ul
          margin: 0
          padding: 0

          li
            border-top: 1px solid #bfbfbf
            padding: 15px 10px 15px 55px
            text-align: left
            background: url(../images/icon.png) left top no-repeat
            cursor: pointer
            position: relative
          li span.arrow
            display: none
            position: absolute
            right: -8px
            top: 5px
            color: #4cacf5
            font-size: 30px
          li.active
            background-color: #4cacf5
            color: #fff
          li.active span.arrow
            display: block
          li.re-information
            background-position: 10px -345px
          li.re-information.active
            background-position: 10px -391px
            transition: background-position 0.8s ease
            -moz-transition: background-position 0.8s ease
            -webkit-transition: background-position 0.8s ease
          li.re-experience
            background-position: 10px -437px
          li.re-experience.active
            background-position: 10px -484px
            transition: background-position 0.8s ease
            -moz-transition: background-position 0.8s ease
            -webkit-transition: background-position 0.8s ease
          li.re-education
            background-position: 10px -522px
          li.re-education.active
            background-position: 10px -559px
            transition: background-position 0.8s ease
            -moz-transition: background-position 0.8s ease
            -webkit-transition: background-position 0.8s ease
          li.re-skills
            background-position: 10px -598px
          li.re-skills.active
            background-position: 10px -638px
            transition: background-position 0.8s ease
            -moz-transition: background-position 0.8s ease
            -webkit-transition: background-position 0.8s ease
          li:first-child
            border-top: 0
      .career-objective
        display: block
        clear: both
        padding-top: 30px
        background: url(../images/bg-career-ojective.png) 75px bottom no-repeat
        h3
          font-size: 30px
          font-weight: 300
          padding-bottom: 10px
        p
          font-size: 18px
          font-weight: 100
          font-style: italic
          line-height: 22px
        span
          background: url(../images/icon.png) left top no-repeat
          width: 22px
          height: 25px
          display: inline-block
        span.double-quotation-top
          background-position: 0 -694px
          padding-left: 10px
        .double-quotation-bottom
          background-position: 5px -738px
          padding-right: 10px
          height: 20px
        .avatar-block
          text-align: left
          padding-top: 30px
        .avatar-block img
          -webkit-filter: grayscale(100%)
          filter: grayscale(100%)
          width: 80px
          height: 80px
        .right-side
          padding: 20px
          background-color: #fff
          float: left
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          width: 80%
          min-height: 500px
          text-align: left
    .right-side
      padding: 20px
      background-color: #fff
      float: left
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      width: 80%
      min-height: 500px
      text-align: left
      position: relative
      .resume-content-detail
        width: 100%
        display: flex
      .general-information
        opacity: 0
        display: none
      .work-experience
        opacity: 0
        display: none
      .education-qualifications
        opacity: 0
        display: none
      .resume-skills
        opacity: 0
        display: none
      .active
        opacity: 1
        display: block
        transition: opacity, width, height 0.8s ease
        -moz-transition: opacity, width, height 0.8s ease
        -webkit-transition: opacity, width, height 0.8s ease
      .none-credit
        background: url(../images/overlap-bg.png) #CCCCCC left top repeat
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 999
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        text-align: center
        vertical-align: middle
        button
          margin: auto
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          border: 0
          padding: 15px 30px
          width: auto
          color: #fff
          font-weight: 100
          font-size: 20px
          -webkit-border-radius: 5px
          -moz-border-radius: 5px
          border-radius: 5px
          background-color: #227bbe
          z-index: 9999
          height: 60px
        button:hover
          background-color: #000
          transition: background-color 0.8s ease
          -moz-transition: background-color 0.8s ease
          -webkit-transition: background-color 0.8s ease
        button.btn::after
          background-color: #1e1e1e
.talent-detail-content
  max-width: 1400px
  margin: auto
  width: 100%