.technical-detail-page
  display: block
  position: absolute
  left: 45%
  top: 45%
  z-index: 999
  background-color: #201d1e
  width: 0
  height: 0
.technical-header-block
  height: 85px
  background: url(../images/underline-black.png) left bottom repeat-x
  .close-button a
    background: #2c2a2a
    border-radius: 50%
    display: block
    width: 45px
    height: 45px
    float: right
    color: #fff
    font-weight: 300
    font-size: 20px
    line-height: 45px
    text-align: center
    cursor: pointer
.background
  fill: #FFFFFF
  fill-opacity: 0.01

.component
  fill: #e1e1e1

.component .label
  text-anchor: middle
  fill: #0000FF

.arc
  stroke-weight: 0.1
  fill: #4e8fff


.arc2
  stroke-weight: 0.1
  fill: #3660b0


.label
  text-anchor: middle

.radial-svg
  display: block
  margin: 0 auto