<nav class="navbar">
  <div class="logo-block text-center">
    <div class="logo" id="logo">
      <h1><a href="#/"> <img src="images/logo.svg" alt="Career Analytics. Awesome!"></a></h1>
      <a href="#/" class="backPage" translate>home</a>
    </div>
    <div class="vnw-logo">
      <a href="http://www.vietnamworks.com/" target="_blank"><img src="images/vnw-logo.svg" alt="Career Analytics. Awesome!"></a>
    </div>
  </div>
</nav>
<div class="salary-review-page">
  <div class="salary-review-block">
    <div class="navi-step-salary-review">
      <ul>
        <li ng-click="nextStep('step1')" ng-class="{active: step==='step1' || step==='step2' || step==='step3', noPointer: step==='step3'}"><h2>{{'aboutYourJob' | translate}}</h2></li>
        <li ng-click="nextStep('step2', 'step1')" ng-class="{active: step==='step2' || step==='step3', noPointer: step==='step3'}"><h2>{{'aboutYourCompany' | translate}}</h2></li>
        <li ng-click="nextStep('step3', 'step2')" ng-class="{active: step==='step3', noPointer: step==='step3'}"><h2>{{'yourSalaryReport' | translate}}</h2></li>
      </ul>
    </div>
    <div class="salary-review-content">
      <div class="arrow-up-active step1" ng-show="step==='step1'"><i class="fa fa-sort-down"></i></div>
      <div class="arrow-up-active step2" ng-show="step==='step2'"><i class="fa fa-sort-down"></i></div>
      <div class="arrow-up-active step3" ng-show="step==='step3'"><i class="fa fa-sort-down"></i></div>
      <div class="your-salary-info-content" ng-show="step==='step1'">
        <h3>{{'instructionMessage' | translate}}</h3>
        <div class="salary-info-form">

          <form autocomplete="off">
            <div class="row salary-field">
              <label for="txtJobTitle">{{'jobTitle' | translate}} <strong>*</strong></label>
              <input type="text" id="txtJobTitle" ng-model="salaryReview.jobTitle"
                     name="{{'jobTitle' | translate}}"
                     placeholder="{{'jobTitle.placeholder' | translate}}" maxlength="60"/>
              <div class="error-messages">
                {{error['salaryReview.jobTitle']}}</div>
            </div>
            <div class="row salary-field" jobLevels>
              <label>{{'jobLevel' | translate}} <strong>*</strong></label>
              <selectize config='selectize.jobLevels.config' options='selectize.jobLevels.items'
                         ng-model="salaryReview.jobLevelIds" name="{{'jobLevel' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobLevelIds']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtBaseSalary">{{'netSalary' | translate}} <strong>*</strong></label>
              <input type="number" id="txtBaseSalary" ng-model="salaryReview.netSalary"
                     name="{{'netSalary' | translate}}"
                     placeholder="{{'netSalary.placeholder' | translate}}" oninput="maxLengthCheck(this)" maxlength="5"/>
              <div class="error-messages">
                {{error['salaryReview.netSalary']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtTopSkills">{{'mostRelevantSkills' | translate}}</label>
              <div class="top-three-skills">
                <div class="added-list-skills">
                  <ul>
                    <li ng-repeat="skill in salaryReview.skills">
                    <span class="left">
                      <span class="right"><i>{{skill}}</i>
                        <span ng-click="removeSkill(skill)" class="close" title="Remove">x</span>
                      </span>
                    </span>
                    </li>
                  </ul>
                </div>
                <div class="max-skill-alert">{{error.newSkillName || error.existSkillName}}</div>
                <div class="add-skill-input">
                  <input ng-model="newSkillName" type="text" maxlength="40" id="txtTopSkills" placeholder="{{'mostRelevantSkills.placeholder' | translate}}"/>
                  <button ng-click="addNewSkill()" ng-disabled="salaryReview.skills.length >= 3">{{'add' | translate}}</button>
                </div>
              </div>
            </div>
            <div class="row salary-field">
              <label for="txtReporting">{{'reportTo' | translate}} <strong>*</strong></label>
              <input type="text" id="txtReporting" ng-model="salaryReview.reportTo"
                     name="{{'reportTo' | translate}}"
                     placeholder="{{'reportTo.placeholder' | translate}}" maxlength="60"/>
              <div class="error-messages">
                {{error['salaryReview.reportTo']}}
              </div>
            </div>
            <div class="row salary-field-submit">
              <button class="btn btn-primary" ng-click="nextStep('step2', 'step1')" >{{'next' | translate}}</button>
            </div>
            <div class="note">{{'noticeLine' | translate}}</div>
          </form>
        </div>
      </div>
      <div class="your-employer-content" ng-show="step==='step2'" >
        <h3>{{'companyInfo.headline' | translate}}</h3>
        <div class="salary-info-form">
          <form autocomplete="off">
            <div class="row salary-field">
              <label>{{'companyInfo.location' | translate}} <strong>*</strong></label>
              <selectize config='selectize.locations.config' options='selectize.locations.items'
                         ng-model="salaryReview.locationId"
                         name="{{'location' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.locationId']}}</div>
            </div>
            <div class="row salary-field">
              <label>{{'companyInfo.companySize' | translate}}</label>
              <selectize config='selectize.companySize.config' options='selectize.companySize.items'
                         ng-model="salaryReview.companySizeId"></selectize>
            </div>
            <div class="row salary-field">
              <label>{{'companyInfo.companyCategory' | translate}} <strong>*</strong></label>
              <selectize config='selectize.industries.config' options='selectize.industries.items'
                         ng-model="salaryReview.jobCategories"
                         name="{{'jobCategory' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobCategories']}}
              </div>
            </div>
            <div class="row salary-field-submit">
              <a ng-click="nextStep('step1')">{{'goBack' | translate}}</a> <button class="btn btn-primary" ng-click="nextStep('step3', 'step2')">{{'getSalaryReport' | translate}}</button>
            </div>
          </form>
          <div class="note">{{'noticeLine' | translate}}</div>
        </div>
      </div>
      <div class="your-report-content" ng-show="step==='step3'">
        <!--<h3>Here is your <strong>Salary Report</strong> based on the information you have shared with us</h3>-->
        <!--<h3>We could not get a  <strong>Salary Report</strong> for you</h3>-->
        <div class="user-personal-info">
          <ul>
            <li><span>{{'role' | translate}}:</span> <p>{{salaryReview.jobTitle}}</p></li>
            <li><span>{{'level' | translate}}:</span> <p>{{jsonValue.jobLevelsMap[salaryReview.jobLevelIds].translate | translate}}</p></li>
            <li><span>{{'categories' | translate}}:</span>
              <p>
                <span class="items" ng-repeat="cat in salaryReview.jobCategories">{{jsonValue.industries['' + cat].value}}</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="your-pay-snapshot-block" ng-show="salaryReport.percentRank !== 'NaN'">
          <h3>{{'yourPaySnapshot' | translate}}</h3>
          <div class="your-pay-snapshot-content">
            <div class="your-pay-snapshot-info">
              <ul>
                <li>
                    {{'getting' | translate}} <strong>${{salaryReport.netSalary.toLocaleString()}}</strong> {{'makeMoneyMonth' | translate}} <strong>{{salaryReport.percentRank}}%</strong> {{'peopleLikeYou' | translate}}
                </li>
              </ul>
            </div>
            <div class="your-pay-snapshot-chart">
              <p>{{'median' | translate}}</p>
              <div class="chart-percent-line">
                <div class="percent-data zero">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">0%</div>
                </div>
                <div ng-repeat="range in salaryReport.salaryRanges" class="percent-data percent{{range.percent}}">
                  <div class="salary-number-label">${{range.percentile.toLocaleString()}}</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">{{range.percent}}%</div>
                </div>
                <div class="my-current-rank" ng-style="{left: salaryReport.percentRank + '%'}">
                  <div class="my-current-salary" ng-if="salaryReport.percentRank <= 90">
                    <span>You: ${{salaryReport.netSalary.toLocaleString()}}</span>
                    <i class="fa fa-sort-down"></i>
                  </div>
                  <div class="my-current-salary right-position" ng-if="salaryReport.percentRank > 90">
                    <span>You: ${{salaryReport.netSalary.toLocaleString()}}</span>
                    <i class="fa fa-sort-down"></i>
                  </div>
                  <div class="my-position">
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="arrow-right"></div>
              <p class="note">{{'netSalary' | translate}} (US Dollar)</p>

            </div>
          </div>
        </div>
        <div class="your-pay-snapshot-block" ng-show="salaryReport.percentRank == 'NaN'">
          <h3>{{'yourPaySnapshot' | translate}}</h3>
          <div class="your-pay-snapshot-content">
            <div class="your-pay-snapshot-info">
              <ul>
                <li>
                    {{'noSalaryAvailable' | translate}} <a ng-click="step = 'step1'">{{'updateInformation' | translate}} </a> {{'toGetSalaryReport' | translate}}
                </li>
              </ul>
            </div>
            <div class="your-pay-snapshot-chart gray-background">
              <p>Median</p>
              <div class="chart-percent-line">
                <div class="percent-data zero">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">0%</div>
                </div>
                <div class="percent-data percent10">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">10%</div>
                </div>
                <div class="percent-data percent25">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">25%</div>
                </div>
                <div class="percent-data percent50">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">50%</div>
                </div>
                <div class="percent-data percent75">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">75%</div>
                </div>
                <div class="percent-data percent90">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">90%</div>
                </div>
                <div class="my-current-rank" style="left: 0%">
                  <div class="my-current-salary">
                    <span>{{'you' | translate}}: $0</span>
                    <i class="fa fa-sort-down"></i>
                  </div>
                  <div class="my-position">
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="arrow-right"></div>
              <p class="note">{{'netSalary' | translate}} (US Dollar)</p>
            </div>
          </div>
        </div>
        <!-- to do for next sprint -->
        <!--<div class="salary-report-feedback">-->
          <!--<h3>What do you think about this report?</h3>-->
          <!--<div class="salary-report-feedback-form">-->
            <!--<form autocomplete="off">-->
              <!--<ul>-->
                  <!--<li>-->
                    <!--<p>Do you understand this report?</p>-->
                    <!--<div class="select-group">-->
                      <!--<div class="select-item">-->
                        <!--<input type="radio" name="understand" checked id="radUnderstandYes"/><label for="radUnderstandYes">Yes</label>-->
                      <!--</div>-->
                      <!--<div class="select-item">-->
                        <!--<input type="radio" name="understand" id="radUnderstandNo"/><label for="radUnderstandNo">No</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<p>Do you think the results of the report are accurate?</p>-->
                    <!--<div class="select-group">-->
                      <!--<div class="select-item">-->
                        <!--<input type="radio" name="accurate" checked id="radAccurateYes"/><label for="radAccurateYes">Yes</label>-->
                      <!--</div>-->
                      <!--<div class="select-item">-->
                        <!--<input type="radio" name="accurate" id="radAccurateNo"/><label for="radAccurateNo">No</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<label for="txtFeedback">Do you have any feedback for us to improve?</label>-->
                    <!--<textarea cols="" rows="" id="txtFeedback" maxlength="500"></textarea>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<button class="btn btn-primary">Submit</button>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</form>-->
            <!--<div class="note">Many thanks for helping us improve, We are here to help you Move Up. Remember that all the information you have share with us will be kept strictly confidential</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="thanks-for-share-salary" ng-show="salaryReport.percentRank !== 'NaN'">
          <h3>{{'thanksForShare.headline' | translate}}</h3>
          <div class="thanks-for-share-salary-content">
            <ul>
              <li>
                <div class="thanks-for-share-salary-item">
                  <h4>{{'thanksForShare.item1.headline' | translate}}</h4>
                  <p>{{'thanksForShare.item1.content' | translate}} <strong>{{'below50percent' | translate}}</strong> {{'startThinking' | translate}} <strong>{{'askForRaise' | translate}}</strong></p>
                </div>
              </li>
              <li>
                <div class="thanks-for-share-salary-item">
                  <h4>{{'thanksForShare.item2.headline' | translate}}</h4>
                  <p>{{'thanksForShare.item2.content' | translate}} <strong>{{'professionalFriendlyTimely' | translate}}</strong> .{{'leverageSkills' | translate}}</p>
                </div>
              </li>
              <li>
                <div class="thanks-for-share-salary-item">
                  <h4>{{'thanksForShare.item3.headline' | translate}}</h4>
                  <p>{{'thanksForShare.item3.content' | translate}} <strong>{{'salaryIncrease' | translate}}</strong> {{'dependOnIndustry' | translate}} <strong>{{'between2to5' | translate}}</strong> {{'between10to20' | translate}}</p>
                </div>
              </li>
            </ul>
            <div class="create-new-report">
              <a class="btn btn-primary" ng-click="createNewReport()">{{'createNewReport' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
