<nav class="navbar">
  <div class="logo-block text-center">
    <div class="logo" id="logo">
      <h1><a href="#/"> <img src="images/logo.svg" alt="Career Analytics. Awesome!"></a></h1>
      <a href="#/" class="backPage" translate>home</a>
    </div>
    <div class="vnw-logo">
      <a href="http://www.vietnamworks.com/" target="_blank"><img src="images/vnw-logo.svg" alt="Career Analytics. Awesome!"></a>
    </div>
  </div>
</nav>
<div class="salary-review-page">
  <div class="salary-review-block">
    <div class="navi-step-salary-review">
      <ul>
        <li ng-click="nextStep('step1')" ng-class="{active: step==='step1' || step==='step2' || step==='step3'}"><h2>About Your Job</h2></li>
        <li ng-click="nextStep('step2', 'step1')" ng-class="{active: step==='step2' || step==='step3'}"><h2>About Your Company</h2></li>
        <li ng-click="nextStep('step3', 'step2')" ng-class="{active: step==='step3'}"><h2>Your Salary Report</h2></li>
      </ul>
    </div>
    <div class="salary-review-content">
      <div class="your-salary-info-content" ng-show="step==='step1'">
        <h3>Let's start building your salary report with information about <strong>your current job</strong>. All the information you share with us will be kept <strong>strictly confidential</strong> and <strong>will not be shared</strong> with any third party.</h3>
        <div class="salary-info-form">

          <form autocomplete="off">
            <div class="row salary-field">
              <label for="txtJobTitle">Your Current Job Title <strong>*</strong>:</label>
              <input type="text" id="txtJobTitle" ng-model="salaryReview.jobTitle"
                     name="{{'jobTitle' | translate}}"
                     placeholder="Ex: Java Developer"/>
              <div class="error-messages">
                {{error['salaryReview.jobTitle']}}</div>
            </div>
            <div class="row salary-field" jobLevels>
              <label>Your Current Job Level <strong>*</strong>:</label>
              <selectize config='selectize.jobLevels.config' options='selectize.jobLevels.items'
                         ng-model="salaryReview.jobLevelIds" name="{{'jobLevel' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobLevelIds']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtBaseSalary">Your NET Monthly Salary (USD)? <strong>*</strong>:</label>
              <input type="number" id="txtBaseSalary" ng-model="salaryReview.netSalary"
                     name="{{'netSalary' | translate}}"
                     placeholder="Ex: $1000 (as NET USD/month)"/>
              <div class="error-messages">
                {{error['salaryReview.netSalary']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtTopSkills">The 3 Most Relevant Skills To Your Job:</label>
              <div class="top-three-skills">
                <div class="added-list-skills">
                  <ul>
                    <li ng-repeat="skill in salaryReview.skills">
                    <span class="left">
                      <span class="right"><i>{{skill}}</i>
                        <span ng-click="removeSkill(skill)" class="close" title="Remove">x</span>
                      </span>
                    </span>
                    </li>
                  </ul>
                </div>
                <div class="max-skill-alert">{{error.newSkillName || error.existSkillName}}</div>
                <div class="add-skill-input">
                  <input ng-model="newSkillName" type="text" maxlength="40" id="txtTopSkills" placeholder="Ex: Php"/>
                  <button ng-click="addNewSkill()" ng-disabled="salaryReview.skills.length >= 3">Add</button>
                </div>
              </div>
            </div>
            <div class="row salary-field">
              <label for="txtReporting">Who are you reporting to? <strong>*</strong>:</label>
              <input type="text" id="txtReporting" ng-model="salaryReview.reportTo"
                     name="{{'reportTo' | translate}}"
                     placeholder="Ex: Software Delivery Manager"/>
              <div class="error-messages">
                {{error['salaryReview.reportTo']}}
              </div>
            </div>
            <div class="row salary-field-submit">
              <button class="btn btn-primary" ng-click="nextStep('step2', 'step1')" >Next</button>
            </div>
            <div class="note"><strong>Remember</strong>: the more specific your answers are the more accurate your salary report will be. Any information you share with us will be kept confidential.</div>
          </form>
        </div>
      </div>
      <div class="your-employer-content" ng-show="step==='step2'" >
        <h3>You are one step away from getting your Salary Report, just let us know more about your current company.</h3>
        <div class="salary-info-form">
          <form autocomplete="off">
            <div class="row salary-field">
              <label>What city do you work? <strong>*</strong>?</label>
              <selectize config='selectize.locations.config' options='selectize.locations.items'
                         ng-model="salaryReview.locationId"
                         name="{{'location' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.locationId']}}</div>
            </div>
            <div class="row salary-field">
              <label>How many employees has your Company?</label>
              <selectize config='selectize.companySize.config' options='selectize.companySize.items'
                         ng-model="salaryReview.companySizeId"></selectize>
            </div>
            <div class="row salary-field">
              <label>What is your company activity? (Limited to 3) <strong>*</strong>:</label>
              <selectize config='selectize.industries.config' options='selectize.industries.items'
                         ng-model="salaryReview.jobCategories"
                         name="{{'jobCategory' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobCategories']}}
              </div>
            </div>
            <div class="row salary-field-submit">
              <a ng-click="nextStep('step1')">Go Back</a> <button class="btn btn-primary" ng-click="nextStep('step3', 'step2')">Get Salary Report</button>
            </div>
          </form>
          <div class="note"><strong>Remember</strong>: the more specific your answers are the more accurate your salary report will be. Any information you share with us will be kept confidential.</div>
        </div>
      </div>
      <div class="your-report-content" ng-show="step==='step3'">
        <h3>Here is your <strong>Salary Report</strong> based on the information you have shared with us</h3>
        <!--<h3>We could not get a  <strong>Salary Report</strong> for you</h3>-->
        <div class="user-personal-info">
          <ul>
            <li><span>Role:</span> <p>{{salaryReview.jobTitle}}</p></li>
            <li><span>Level:</span> <p>{{jsonValue.jobLevelsMap[salaryReview.jobLevelIds].translate | translate}}</p></li>
            <li><span>Categories:</span>
              <span ng-repeat="cat in salaryReview.jobCategories">{{jsonValue.industries['' + cat].value}}</span>
            </li>
          </ul>
        </div>
        <div class="your-pay-snapshot-block" ng-show="salaryReport.percentRank !== 'NaN'">
          <h3>Your Pay Snapshot</h3>
          <div class="your-pay-snapshot-content">
            <div class="your-pay-snapshot-info">
              <ul>
                <li>
                  Getting <strong>${{salaryReport.netSalary.toLocaleString()}}</strong> a month means you are making more money than <strong>{{salaryReport.percentRank}}%</strong> of people like you.

                  <span>No Salary Report available for you. <a href="#">Update your information here</a> to get your Salary Report.</span>
                </li>
              </ul>
            </div>
            <div class="your-pay-snapshot-chart">
              <p>Median</p>
              <div class="percent-data zero">
                <div class="salary-number-label">$0</div>
                <div class="percent-color"></div>
                <div class="percent-number-label">0%</div>
              </div>
              <div ng-repeat="range in salaryReport.salaryRanges" class="percent-data percent{{range.percent}}">
                <div class="salary-number-label">${{range.percentile.toLocaleString()}}</div>
                <div class="percent-color"></div>
                <div class="percent-number-label">{{range.percent}}%</div>
              </div>
              <!--<div class="percent-data twenty-five">-->
                <!--<div class="salary-number-label">26K</div>-->
                <!--<div class="percent-color"></div>-->
                <!--<div class="percent-number-label">25%</div>-->
              <!--</div>-->
              <!--<div class="percent-data fifty-five">-->
                <!--<div class="salary-number-label">46K</div>-->
                <!--<div class="percent-color"></div>-->
                <!--<div class="percent-number-label">50%</div>-->
              <!--</div>-->
              <!--<div class="percent-data seventy-five">-->
                <!--<div class="salary-number-label">26K</div>-->
                <!--<div class="percent-color"></div>-->
                <!--<div class="percent-number-label">75%</div>-->
              <!--</div>-->
              <!--<div class="percent-data ninety">-->
                <!--<div class="salary-number-label">46K</div>-->
                <!--<div class="percent-color"></div>-->
                <!--<div class="percent-number-label">90%</div>-->
              <!--</div>-->
              <p class="note">Monthly Net Pay (US Dollars)</p>
              <div class="my-current-rank" ng-style="{left: salaryReport.percentRank + '%'}">
                <div class="my-current-salary">
                  <span>You: ${{salaryReport.netSalary.toLocaleString()}}</span>
                  <i class="fa fa-sort-down"></i>
                </div>
                <div class="my-position">
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="salary-report-feedback">
          <h3>What do you think about this report?</h3>
          <div class="salary-report-feedback-form">
            <form autocomplete="off">
              <ul>
                  <li>
                    <p>Do you understand this report?</p>
                    <div class="select-group">
                      <div class="select-item">
                        <input type="radio" name="understand" checked id="radUnderstandYes"/><label for="radUnderstandYes">Yes</label>
                      </div>
                      <div class="select-item">
                        <input type="radio" name="understand" id="radUnderstandNo"/><label for="radUnderstandNo">No</label>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>Do you think the results of the report are accurate?</p>
                    <div class="select-group">
                      <div class="select-item">
                        <input type="radio" name="accurate" checked id="radAccurateYes"/><label for="radAccurateYes">Yes</label>
                      </div>
                      <div class="select-item">
                        <input type="radio" name="accurate" id="radAccurateNo"/><label for="radAccurateNo">No</label>
                      </div>
                    </div>
                  </li>
                  <li>
                    <label for="txtFeedback">Do you have any feedback for us to improve?</label>
                    <textarea cols="" rows="" id="txtFeedback" maxlength="500"></textarea>
                  </li>
                  <li>
                    <button class="btn btn-primary">Submit</button>
                  </li>
                </ul>
              </form>
            <div class="note">Many thanks for helping us improve, We are here to help you Move Up. Remember that all the information you have share with us will be kept strictly confidential</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
