<nav class="navbar" ng-show="!salaryReview.campaign">
  <div class="logo-block text-center">
    <div class="logo" id="logo">
      <h1><a href="#/"> <img src="images/logo.svg" alt="Career Analytics. Awesome!"></a></h1>
      <a href="#/" class="backPage" translate>home</a>
    </div>
    <div class="vnw-logo">
      <a href="http://www.vietnamworks.com/" target="_blank"><img src="images/vnw-logo.svg" alt="Career Analytics. Awesome!"></a>
    </div>
  </div>
</nav>
<div class="salary-review-page">
  <div class="salary-review-block">
    <div class="navi-step-salary-review">
      <ul>
        <li ng-click="nextStep('step1')" ng-class="{active: step==='step1' || step==='step2' || step==='step3', noPointer: step==='step3', showNavi: step==='step1'}"><h2>{{'aboutYourJob' | translate}}</h2></li>
        <li ng-click="nextStep('step2', 'step1')" ng-class="{active: step==='step2' || step==='step3', noPointer: step==='step3', showNavi: step==='step2'}"><h2>{{'aboutYourCompany' | translate}}</h2></li>
        <li ng-click="nextStep('step3', 'step2')" ng-class="{active: step==='step3', noPointer: step==='step3', showNavi: step==='step3'}"><h2>{{'yourSalaryReport' | translate}}</h2></li>
      </ul>
    </div>
    <div class="salary-review-content">
      <div class="arrow-up-active step1" ng-show="step==='step1'"><i class="fa fa-sort-down"></i></div>
      <div class="arrow-up-active step2" ng-show="step==='step2'"><i class="fa fa-sort-down"></i></div>
      <div class="arrow-up-active step3" ng-show="step==='step3'"><i class="fa fa-sort-down"></i></div>
      <div class="your-salary-info-content" ng-show="step==='step1'">
        <h3>{{'instructionMessage' | translate}}</h3>
        <div class="salary-info-form">

          <form autocomplete="off">
            <div class="row salary-field">
              <label for="txtJobTitle">{{'jobTitle' | translate}} <strong>*</strong></label>
              <input type="text" id="txtJobTitle" ng-model="salaryReview.jobTitle"
                     name="{{'jobTitle' | translate}}"
                     placeholder="{{'jobTitle.placeholder' | translate}}" maxlength="60"/>
              <div class="error-messages">
                {{error['salaryReview.jobTitle']}}</div>
            </div>
            <div class="row salary-field" jobLevels>
              <label>{{'jobLevel' | translate}} <strong>*</strong></label>
              <selectize config='selectize.jobLevels.config' options='selectize.jobLevels.items'
                         ng-model="salaryReview.jobLevelIds" name="{{'jobLevel' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobLevelIds']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtBaseSalary">{{'netSalary' | translate}} <strong>*</strong></label>
              <input type="text" id="txtBaseSalary" ng-model="salaryReview.netSalary"
                     name="{{'netSalary' | translate}}" maxlength="5"
                     placeholder="{{'netSalary.placeholder' | translate}}" only-digits/>
              <div class="error-messages">
                {{error['salaryReview.netSalary']}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtTopSkills">{{'mostRelevantSkills' | translate}} <strong>*</strong>:</label>
              <div class="top-three-skills">
                <div class="added-list-skills">
                  <ul>
                    <li ng-repeat="skill in salaryReview.skills">
                    <span class="left">
                      <span class="right"><i>{{skill}}</i>
                        <span ng-click="removeSkill(skill)" class="close" title="Remove">x</span>
                      </span>
                    </span>
                    </li>
                  </ul>
                </div>
                <div class="max-skill-alert">{{error.newSkillName || error.existSkillName}}</div>
                <div class="add-skill-input">
                  <input ng-model="newSkillName" type="text" maxlength="40" id="txtTopSkills" placeholder="{{'mostRelevantSkills.placeholder' | translate}}"/>
                  <button ng-click="addNewSkill()" ng-disabled="salaryReview.skills.length >= 3">{{'add' | translate}}</button>
                </div>
              </div>
              <div class="error-messages">{{error.skills}}</div>
            </div>
            <div class="row salary-field">
              <label for="txtReporting">{{'reportTo' | translate}} <strong>*</strong></label>
              <input type="text" id="txtReporting" ng-model="salaryReview.reportTo"
                     name="{{'reportTo' | translate}}"
                     placeholder="{{'reportTo.placeholder' | translate}}" maxlength="60"/>
              <div class="error-messages">
                {{error['salaryReview.reportTo']}}
              </div>
            </div>
            <div class="row salary-field">
              <label>{{'gender' | translate}}</label>
              <selectize config='selectize.genders.config' options='selectize.genders.items'
                         ng-model="salaryReview.gender"></selectize>
            </div>
            <div class="row salary-field">
              <label translate="yob"></label>
              <!--<input type="text" id="yob" ng-model="salaryReview.age" maxlength="4" pattern=".{4,4}" placeholder="{{'exYob' | translate}}" only-digits/>-->
              <selectize config='selectize.yobs.config' options='selectize.yobs.items'
                         ng-model="salaryReview.age"></selectize>
            </div>
            <div class="row salary-field-submit">
              <button class="btn btn-primary btn-flat" ng-click="nextStep('step2', 'step1')" >{{'next' | translate}}</button>
            </div>
            <div class="note">{{'noticeLine' | translate}}</div>
          </form>
        </div>
      </div>
      <div class="your-employer-content" ng-show="step==='step2'" >
        <h3>{{'companyInfo.headline' | translate}}</h3>
        <div class="salary-info-form">
          <form autocomplete="off">
            <div class="row salary-field">
              <label>{{'companyInfo.location' | translate}} <strong>*</strong></label>
              <selectize config='selectize.locations.config' options='selectize.locations.items'
                         ng-model="salaryReview.locationId"
                         name="{{'location' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.locationId']}}</div>
            </div>
            <div class="row salary-field">
              <label>{{'companyInfo.companySize' | translate}}</label>
              <selectize config='selectize.companySize.config' options='selectize.companySize.items'
                         ng-model="salaryReview.companySizeId"></selectize>
            </div>
            <div class="row salary-field">
              <label>{{'companyInfo.companyCategory' | translate}} <strong>*</strong></label>
              <selectize config='selectize.industries.config' options='selectize.industries.items'
                         ng-model="salaryReview.jobCategories"
                         name="{{'jobCategory' | translate}}"></selectize>
              <div class="error-messages">
                {{error['salaryReview.jobCategories']}}
              </div>
            </div>
            <div class="row salary-field-submit">
              <a ng-click="nextStep('step1')">{{'goBack' | translate}}</a> <button class="btn btn-primary btn-flat" ng-click="nextStep('step3', 'step2')">{{'getSalaryReport' | translate}}</button>
            </div>
          </form>
          <div class="note">{{'noticeLine' | translate}}</div>
        </div>
      </div>
      <div class="your-report-content" ng-show="step==='step3'">
        <div class="user-personal-info">
          <ul>
            <li><span>{{'role' | translate}}:</span> <p>{{salaryReview.jobTitle}}</p></li>
            <li><span>{{'level' | translate}}:</span> <p>{{jsonValue.jobLevelsMap[salaryReview.jobLevelIds].translate | translate}}</p></li>
            <li><span>{{'skill' | translate}}:</span> <p>
              <span class="items" ng-repeat="skill in salaryReview.skills">
                  {{skill}}
                  <span class="dot-line" ng-if="$index > 0">|</span>
                </span>
            </p></li>
            <!--<li><span>{{'youSalary' | translate}}:</span> <p><strong>${{salaryReport.netSalary.toLocaleString()}}</strong></p></li>-->
            <li><span>{{'categories' | translate}}:</span>
              <p>
                <span class="items" ng-repeat="cat in salaryReview.jobCategories">
                  {{jsonValue.industries['' + cat].value}}
                  <span class="dot-line" ng-if="$index > 0">|</span>
                </span>
              </p>
            </li>
          </ul>
          <div class="verified-data">
            <img src="images/verified-data.png" alt=""/>
          </div>
        </div>
        <div class="your-pay-snapshot-block" ng-show="salaryReport.percentRank !== 'NaN'">
          <h3>{{'yourPaySnapshot' | translate}}</h3>
          <div class="your-pay-snapshot-content">
            <div class="your-pay-snapshot-info">
              <ul>
                <li>
                  {{'makeMoneyMonth' | translate}} <strong>{{salaryReport.percentRank}}%</strong> {{'peopleLikeYou' | translate}}
                </li>
                <li>
                  <a ng-click="openFacebookShare()" target="popup" class="salary-report-share">
                    <i class="fa fa-facebook"></i> <span class="text">Share</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="your-pay-snapshot-chart">
              <p>{{'median' | translate}}</p>
              <div class="chart-percent-line">
                <div class="percent-data">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">0%</div>
                </div>
                <div ng-repeat="range in salaryReport.salaryRanges" class="percent-data" ng-style="{width: range.percent +'%'}">
                  <div class="salary-number-label">${{range.percentile.toLocaleString()}}</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">{{range.percent}}%</div>
                </div>
                <div class="my-current-rank" ng-style="{left: salaryReport.percentRank + '%'}">
                  <div class="my-current-salary" ng-if="salaryReport.percentRank <= 85">
                    <span>{{'you' | translate}}: ${{salaryReport.netSalary.toLocaleString()}}</span>
                    <i class="fa fa-sort-down"></i>
                  </div>
                  <div class="my-current-salary right-position" ng-if="salaryReport.percentRank > 85">
                    <span>{{'you' | translate}}: ${{salaryReport.netSalary.toLocaleString()}}</span>
                    <i class="fa fa-sort-down"></i>
                  </div>
                  <div class="my-position">
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="arrow-right"></div>
              <p class="note">{{'netSalary' | translate}} (US Dollar)</p>
            </div>
            <div class="thanks-for-share-salary">
              <h3>{{'thanksForShare.headline' | translate}}</h3>
              <div class="thanks-for-share-salary-content">
                <ul>
                  <li>
                    <div class="thanks-for-share-salary-item">
                      <h4>{{'thanksForShare.item1.headline' | translate}}</h4>
                      <p>{{'thanksForShare.item1.content' | translate}} <strong>{{'below50percent' | translate}}</strong> {{'startThinking' | translate}} <strong>{{'askForRaise' | translate}}</strong></p>
                    </div>
                  </li>
                  <li>
                    <div class="thanks-for-share-salary-item">
                      <h4>{{'thanksForShare.item2.headline' | translate}}</h4>
                      <p>{{'thanksForShare.item2.content' | translate}} <strong>{{'professionalFriendlyTimely' | translate}}</strong> .{{'leverageSkills' | translate}}</p>
                    </div>
                  </li>
                  <li>
                    <div class="thanks-for-share-salary-item">
                      <h4>{{'thanksForShare.item3.headline' | translate}}</h4>
                      <p>{{'thanksForShare.item3.content' | translate}} <strong>{{'salaryIncrease' | translate}}</strong> {{'dependOnIndustry' | translate}} <strong>{{'between2to5' | translate}}</strong> {{'between10to20' | translate}}</p>
                    </div>
                  </li>
                </ul>
                <div class="create-new-report" ng-show="!salaryReview.campaign">
                  <a class="btn btn-primary btn-flat" ng-click="createNewReport()">{{'createNewReport' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="your-pay-snapshot-block" ng-show="salaryReport.percentRank == 'NaN'">
          <h3>{{'yourPaySnapshot' | translate}}</h3>
          <div class="your-pay-snapshot-content">
            <div class="your-pay-snapshot-info">
              <ul>
                <li class="fullCol">
                  {{'noSalaryAvailable' | translate}} <strong>{{salaryReview.jobTitle}}</strong> {{'in' | translate}} <strong>{{jsonValue.locationsMap[salaryReview.locationId].name}}</strong>. {{'whileImprove' | translate}} <a ng-click="step = 'step1'">{{'updateInformation' | translate}}</a> {{'toGetSalaryReport' | translate}}.
                    <!--{{'noSalaryAvailable' | translate}} <a ng-click="step = 'step1'">{{'updateInformation' | translate}} </a> {{'toGetSalaryReport' | translate}}-->
                </li>
              </ul>
            </div>
            <div class="your-pay-snapshot-chart gray-background">
              <p>Median</p>
              <div class="chart-percent-line">
                <div class="percent-data zero">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">0%</div>
                </div>
                <div class="percent-data percent10">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">10%</div>
                </div>
                <div class="percent-data percent25">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">25%</div>
                </div>
                <div class="percent-data percent50">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">50%</div>
                </div>
                <div class="percent-data percent75">
                  <div class="salary-number-label">$0</div>
                  <div class="percent-color"></div>
                  <div class="percent-number-label">75%</div>
                </div>
              </div>
              <div class="arrow-right"></div>
              <p class="note">{{'netSalary' | translate}} (US Dollar)</p>
            </div>
          </div>
        </div>
        <div class="salary-report-feedback" ng-show="!(salaryReview.campaign || survey.submitted) &&  salaryReport.percentRank !== 'NaN'">
          <div class="title-header">
          <h3 translate="whatYouThinkReport"></h3>
          <div class="hidden-box" title="Close" ng-click="removeBoxContent('salary-report-feedback')">X</div>
            </div>
          <div class="salary-report-feedback-form">
            <form autocomplete="off">
              <ul>
                  <li>
                    <p translate="understandReport?"></p>
                    <div class="select-group">
                      <div class="select-item">
                        <input ng-model="survey.isUnderstandable" value="true" type="radio" name="understand" checked id="radUnderstandYes"/><label for="radUnderstandYes" translate="yes"></label>
                      </div>
                      <div class="select-item">
                        <input ng-model="survey.isUnderstandable" value="false" type="radio" name="understand" id="radUnderstandNo"/><label for="radUnderstandNo" translate="no"></label>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p translate="resultReportAccurate"></p>
                    <div class="select-group">
                      <div class="select-item">
                        <input ng-model="survey.isAccurate"  value="true" type="radio" name="accurate" checked id="radAccurateYes"/><label for="radAccurateYes" translate="yes">Yes</label>
                      </div>
                      <div class="select-item">
                        <input ng-model="survey.isAccurate"  value="false" type="radio" name="accurate" id="radAccurateNo"/><label for="radAccurateNo" translate="no"></label>
                      </div>
                    </div>
                  </li>
                  <li>
                    <label for="txtFeedback" translate="haveAnyFeedback"></label>
                    <textarea ng-model="survey.feedback" cols="" rows="" id="txtFeedback" maxlength="500"></textarea>
                  </li>
                  <li>
                    <button ng-click="submitSurvey()" class="btn btn-primary btn-flat" translate="submit"></button>
                  </li>
                </ul>
              </form>
            <div class="note" translate="thanksForHelp"></div>
          </div>
        </div>
        <div class="best-paid-jobs-block" ng-show="!salaryReview.campaign && salaryReport.percentRank !== 'NaN' && salaryReview.topPaidJobs.length && survey.submitted">
          <div class="title-header">
            <h3 translate="doYouWantToEarnMore"></h3>
            <div class="hidden-box" title="Close"  ng-click="removeBoxContent('best-paid-jobs-block')">X</div>
          </div>
          <div class="best-paid-list">
            <p translate="higherJobOffer"></p>
            <div class="best-paid-company" ng-repeat="job in salaryReview.topPaidJobs">
              <ul>
                <li><span class="up">{{job.addedPercent}}%</span></li>
                <li title="{{job.jobTitle}}"><span class="job-title ellipsis">{{job.jobTitle}}</span></li>
                <li title="{{job.companyDesc}}"><span class="company ellipsis">{{job.companyDesc}}</span></li>
              </ul>
              <div class="btn-see-more">
                <a ng-href="http://www.vietnamworks.com/{{job.jobId}}-jd" class="btn btn-primary btn-flat" target="_blank">{{'seeMore' | translate}}</a>
              </div>
            </div>
            <div class="see-more-jobs">
              <p translate="higherJobOfferDisclaimer" class="note"></p> <a ng-href="http://www.vietnamworks.com/{{salaryReview.jobTitle}}+jobs-s{{salaryReport.netSalary.toLocaleString()}}-en" target="_blank" class="btn">{{'seeMoreHigherSalaryJob' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
