.technical-detail-page {
  display: block;
  width: 100%;
  clear: both;
  float: left;
  padding-top: 20px;
}

.technical-contianer-block {
  padding-top: 30px;
  display: block;
}

.trending-block {
  padding: 0 20px 0 0;
}

.skill-items-block {
  padding: 40px 10px 0 10px;
  max-width: 360px;
}

.term-infor {
  width: 80px;
  float: left;
  padding: 0 5px;
}

.term-infor-chart {
  width: 100%;
  height: 220px;
  background-color: #292627;
  border: 1px solid #363334;
  text-align: center;
  position: relative;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.term-infor-chart .percent {
  background-color: #f8d303;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.term-infor-chart .arrow-up {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  bottom: 0;
}
.term-infor-chart .arrow-up i.fa-caret-up {
  color: #f8d303;
  font-size: 20px;
  display: none;
}
.term-infor-chart .number {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.term-infor-chart .number strong {
  display: block;
  clear: both;
  width: 100%;
  color: white;
}
.term-infor-chart .small {
  font-size: 14px;
}

.skill-circle-item {
  width: auto;
  float: left;
  text-align: center;
  padding-bottom: 35px;
  min-height: 120px;
  cursor: pointer;
  position: relative;
}

.skill-circle-item .skill-name {
  text-transform: capitalize;
  width: 78px;
  text-align: center;
  position: absolute;
  line-height: 14px;
}

.top10Circles .circle {
  display: inline-block;
  margin: 10px 10px 0 10px;
  color: #b9b9b9;
}

.circles-decimals {
  font-size: 0.4em;
}

.ic-red {
  color: #c53046;
}

.ic-blue {
  color: #006600;
}

.line-chart-block {
  padding-bottom: 20px;
  width: 100%;
  height: 400px;
}

.line-chart-content {
  position: absolute;
  width: 100%;
  padding-right: 10px;
  height: 400px;
}

.ctrl-lineChart-block {
  padding-left: 25px;
  padding-top: 20px;
}

.circles-text {
  font-size: 16px !important;
}

.fa-edit {
  cursor: pointer;
}

.rwd-table {
  margin: 1em 0;
  width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #353233;
  border-bottom: 1px solid #353233;
}
.rwd-table tr.active {
  background-color: #211d1e;
  color: white;
}
.rwd-table th {
  display: none;
  border-left: 1px solid #353233;
  border-right: 1px solid #353233;
}
.rwd-table th span {
  font-weight: 300;
}
.rwd-table td {
  display: block;
  border-left: 1px solid #353233;
  border-right: 1px solid #353233;
  text-transform: capitalize;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 50%;
  display: inline-block;
  padding-left: 10px;
}
.rwd-table th, .rwd-table td {
  text-align: left;
  text-transform: capitalize;
}
.rwd-table th:first-child, .rwd-table td:first-child {
  text-align: left;
}
.rwd-table th:first-child, .rwd-table td:first-child {
  cursor: pointer;
}

.rwd-table {
  background: #262223;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #353233;
}
.rwd-table th {
  background-color: #1d1b1b;
}
.rwd-table th, .rwd-table td:before {
  color: #636363;
}

text[text-anchor='start'] {
  text-transform: capitalize;
}

.chart-management {
  display: block;
  width: 100%;
  text-align: center;
}

.chart-management ul {
  margin: auto;
  width: 245px;
  padding: 0;
  display: inline-block;
}

.chart-management li {
  background-color: #262223;
  float: left;
  border: 1px solid #353233;
  color: #727272;
  cursor: pointer;
  padding: 8px 15px;
}

.chart-management li:first-child {
  border-right: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chart-management li:last-child {
  border-left: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chart-management li a {
  color: #727272;
}

.chart-management li i {
  margin-right: 2px;
}

.chart-management li:hover,
.chart-management li.active {
  background-color: #1d1b1b;
  color: #337ab7;
}

.chart-management li:hover a,
.chart-management li.active a {
  color: #337ab7;
}

.term-useful-links {
  width: 100%;
  clear: both;
  float: left;
}

.term-useful-links .logo-term {
  width: 100%;
  text-align: center;
}

.term-useful-links .logo-term img {
  max-width: 120px;
}

.term-useful-links h3 {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  font-weight: 300;
  background: url(../images/underline-black.png) #2c292a left top repeat-x;
  padding: 5px 10px;
  line-height: 35px;
}

.term-useful-links ul {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.term-useful-links li {
  width: 100%;
  clear: both;
  float: left;
  padding: 5px;
  background: url(../images/underline-dot.png) left top repeat-x;
}

.term-useful-links li:first-child {
  background: transparent;
}

.term-useful-links a {
  display: block;
  padding: 5px;
  color: #969696;
}

.term-useful-links a:hover {
  color: #337ab7;
}

.term-useful-links i {
  padding-right: 10px;
}

.skill-useful-links {
  width: 250px;
  border: 1px solid #3e3d3d;
  background: -moz-linear-gradient(45deg, #201d1e 0%, #282627 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #201d1e), color-stop(100%, #282627));
  background: -webkit-linear-gradient(45deg, #201d1e 0%, #282627 100%);
  background: -o-linear-gradient(45deg, #201d1e 0%, #282627 100%);
  background: -ms-linear-gradient(45deg, #201d1e 0%, #282627 100%);
  background: linear-gradient(45deg, #201d1e 0%, #282627 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#282627', endColorstr='#201d1e',GradientType=1 );
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 22px -7px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 5px 5px 22px -7px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 22px -7px rgba(0, 0, 0, 0.54);
  left: 80px;
  top: 0;
  text-align: left;
}

.v-desktop {
  padding-top: 10px;
}

.skill-useful-links .skill-logo {
  width: 100%;
  clear: both;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.skill-useful-links .skill-logo img {
  max-width: 50px;
  padding-right: 15px;
}
.skill-useful-links .skill-logo a,
.skill-useful-links .skill-logo a:hover {
  color: #969696;
}

.skill-useful-links i.fa-caret-left {
  font-size: 35px;
  color: #3e3d3d;
  position: absolute;
  left: -13px;
  top: 20px;
  padding-right: 0;
}

.skill-useful-links h3 {
  background: url(../images/underline-black.png) #2c292a left top repeat-x;
  font-size: 16px;
  text-transform: capitalize;
  color: #d8d8d8;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px;
}

.skill-useful-links ul {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.skill-useful-links li {
  width: 100%;
  clear: both;
  float: left;
  padding: 5px;
  background: url(../images/underline-dot.png) left top repeat-x;
}

.skill-useful-links li:first-child {
  background: transparent;
}

.skill-useful-links a {
  display: block;
  padding: 5px;
  color: #969696;
}

.skill-useful-links a:hover {
  color: #337ab7;
}

.skill-useful-links i {
  padding-right: 10px;
}

.v-mobile {
  display: none;
}

.term-infor .term-useful-links {
  display: none;
}
