<div class="content-page-block job-listing-container">
  <div class="header-page">
    <h2 translate="ItJobHub"></h2>
  </div>
  <div class="content-page-detail">
    <div class="job-listing-search-bar">
      <form action="" autocomplete="off" name="jobListingSearch">

        <div class="keyword-block">
          <div auto-suggestion text="searchJob.keyword" items="jobTitles"
               get-url="suggestion/jobTitle/" input-model="searchJob.keyword">
          </div>
          <autocomplete name="keyword" id="keyword" ng-model="searchJob.keyword" data="jobTitles" ng-required="true"
                        attr-placeholder="{{'searchJobKeyword1' | translate}}" touchable>
          </autocomplete>

          <!--<div auto-suggestion text="searchJobKeyword1" items="jobTitles"-->
               <!--get-url="suggestion/jobTitle/" input-model="jobListingSearch.jobTitle">-->
          <!--</div>-->
          <!--<autocomplete name="jobTitle" ng-model="searchJob.keyword" data="jobTitles" ng-required="true"-->
                        <!--attr-placeholder="{{'searchJobKeyword1' | translate}}" touchable>-->
          <!--</autocomplete>-->
        </div>
        <div class="location-block">
          <label translate="withIn"></label>
          <selectize config="locationsConfig.config"
                     options="locationsConfig.items"
                     ng-model="searchJob.locationId"
                     name="location" class="locationSelectbox">
          </selectize>
        </div>
        <div class="submit-search-block">
          <button translate="search" class="btn btn-primary btn-flat" ng-click="filterJob()"></button>
        </div>
      </form>
    </div>
    <div class="job-listing-result">
      <div class="paging-block">
        <div class="total-items" translate="totalJobs" translate-value-number="{{totalJob}}"></div>
        <div class="paging-list">
          <ul>
            <li><span class="unClick"><i class="fa fa-angle-left"></i></span></li>
            <li ng-repeat="i in getPageRange(totalPage, page)">
                <span ng-if="i == page" class="active">{{i}}</span>
                <span ng-if="i != page">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{i}}">{{i}}</a>
                </span>
            </li>
            <li><span><i class="fa fa-angle-right"></i></span></li>
          </ul>
        </div>
        <div class="total-pages" translate="totalPages" translate-value-number="{{totalPage}}"></div>
      </div>
      <div class="job-listing-container contestant-page">
        <div class="job-items">
          <div class="job-item" ng-repeat="job in jobs">
            <div class="left-content">
              <h4><a href="{{job.url}}" target="_blank">{{job.title}}</a></h4>
              <ul>
                <li class="date"><i class="fa fa-calendar"></i>{{job.datePost}} 12/05/2015</li>
                <li class="location"><i class="fa fa-map-marker"></i>{{job.location}}</li>
              </ul>
              <p><i class="fa fa-money"></i><span translate="salary"></span>:
                  <strong ng-show="!job.salary">{{'negotiable' | translate}}</strong>
                  <strong>{{job.salary}}</strong></p>
            </div>
            <div class="right-content">
              <ul>
                <li>{{job.company}}</li>
                <li><a href="{{job.url}}" target="_blank" translate="viewDetails"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="paging-block">
        <div class="total-items" translate="totalJobs" translate-value-number="{{totalJob}}"></div>
        <div class="paging-list">
          <ul>
            <li><span class="unClick"><i class="fa fa-angle-left"></i></span></li>
            <li ng-repeat="i in getPageRange(totalPage, page + 1)"><span>{{i}}</span></li>
            <li><span><i class="fa fa-angle-right"></i></span></li>
          </ul>
        </div>
        <div class="total-pages" translate="totalPages" translate-value-number="{{totalPage}}"></div>
      </div>
    </div>

  </div>
</div>