<div class="content-page-block job-listing-container">
  <div class="header-page">
    <h2 translate="ItJobHub"></h2>
  </div>
  <div class="content-page-detail">
    <div class="job-listing-search-bar">
      <form action="" autocomplete="off" name="jobListingSearch">

        <div class="keyword-block">
          <div auto-suggestion text="searchJob.keyword" items="jobTitles"
               get-url="suggestion/jobTitle/" input-model="searchJob.keyword">
          </div>
          <autocomplete name="keyword" id="keyword" ng-model="searchJob.keyword" data="jobTitles" ng-required="true"
                        attr-placeholder="{{'searchJobKeyword1' | translate}}" touchable>
          </autocomplete>
        </div>
        <div class="location-block">
          <label translate="withIn"></label>
          <selectize config="locationsConfig.config"
                     options="locationsConfig.items"
                     ng-model="searchJob.locationId"
                     name="location" class="locationSelectbox">
          </selectize>
        </div>
        <div class="submit-search-block">
          <button translate="search" class="btn btn-primary btn-flat" ng-click="filterJob()"></button>
        </div>
      </form>
    </div>
    <div class="job-listing-result">
      <div class="paging-block" ng-show="jobs.length > 0">
        <div class="total-items" translate="totalJobs" translate-value-number="{{totalJob}}"></div>
        <div class="paging-list">
          <ul>
            <li>
                <span ng-show="previousPage.isEnable">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{previousPage.pageIndex}}"><i class="fa fa-angle-left"></i></a>
                </span>
                <span ng-show="!previousPage.isEnable" class="unClick">
                    <i class="fa fa-angle-left"></i>
                </span>
            </li>
            <li ng-repeat="i in getPageRange()">
                <span ng-if="i == page" class="active">{{i}}</span>
                <span ng-if="i != page">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{i}}">{{i}}</a>
                </span>
            </li>
            <li>
                <span ng-show="nextPage.isEnable">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{nextPage.pageIndex}}"><i class="fa fa-angle-right"></i></a>
                </span>
                <span ng-show="!nextPage.isEnable" class="unClick">
                    <i class="fa fa-angle-right"></i>
                </span>
            </li>
          </ul>
        </div>
        <div class="total-pages" translate="totalPages" translate-value-number="{{totalPage}}"></div>
      </div>
      <div class="job-listing-container contestant-page">
        <div class="job-items">
          <div class="job-item" ng-show="jobs.length == 0">
            <p translate="noData"></p>
          </div>
          <div class="hot-jobs">
            <div class="job-item" ng-repeat="job in jobs | filter:{ techlooperJobType: '1' }">
              <div class="left-content">
                <h4><a href="/#/?action=redirectJA&targetUrl={{job.url}}" target="_blank">{{job.title}}</a></h4>
                <ul class="info">
                  <li class="date"><i class="fa fa-calendar"></i>{{job.postedOn}}</li>
                  <li class="location"><i class="fa fa-map-marker"></i>{{job.location}}</li>
                </ul>
                <p><i class="fa fa-money"></i><span translate="salary"></span>:
                  <strong ng-show="!job.salary">{{'negotiable' | translate}}</strong>
                  <strong>{{job.salary}}</strong></p>
                <div class="skills-list">
                  <ul>
                    <li ng-repeat="skill in job.skills">
                      <span class="left">
                        <span class="right">
                          <i>{{skill.skillName}}</i>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="offers-list">
                  <p class="offers">
                    <i class="fa fa-fw fa-gift blue"></i><span translate="whatDoWeOffer" ></span>
                  </p>
                  <ul>
                    <li ng-repeat="offer in job.benefits" show-hide-benefits>
                      <i class="fa fa-fw {{jsonValue.benefitIconsMap[offer.benefitId].iconClass}}"></i>
                      {{offer.benefitValue}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="right-content">
                <ul>
                  <li>{{job.company}}</li>
                  <li ng-show="job.logoUrl.length"><img ng-src="{{job.logoUrl}}" alt=""/></li>
                  <li><a href="/#/?action=redirectJA&targetUrl={{job.url}}" target="_blank" translate="viewDetails"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="job-item" ng-repeat="job in jobs | filter:{ techlooperJobType: '0' }">
            <div class="left-content">
              <h4><a href="/#/?action=redirectJA&targetUrl={{job.url}}" target="_blank">{{job.title}}</a></h4>
              <ul>
                <li class="date"><i class="fa fa-calendar"></i>{{job.postedOn}}</li>
                <li class="location"><i class="fa fa-map-marker"></i>{{job.location}}</li>
              </ul>
              <p><i class="fa fa-money"></i><span translate="salary"></span>:
                  <strong ng-show="!job.salary">{{'negotiable' | translate}}</strong>
                  <strong>{{job.salary}}</strong></p>
            </div>
            <div class="right-content">
              <ul>
                <li>{{job.company}}</li>
                <li><a href="/#/?action=redirectJA&targetUrl={{job.url}}" target="_blank" translate="viewDetails"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="paging-block" ng-show="jobs.length >= 10">
        <div class="total-items" translate="totalJobs" translate-value-number="{{totalJob}}"></div>
          <div class="paging-list">
              <ul>
                  <li>
                <span ng-show="previousPage.isEnable">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{previousPage.pageIndex}}"><i class="fa fa-angle-left"></i></a>
                </span>
                <span ng-show="!previousPage.isEnable" class="unClick">
                    <i class="fa fa-angle-left"></i>
                </span>
                  </li>
                  <li ng-repeat="i in getPageRange()">
                      <span ng-if="i == page" class="active">{{i}}</span>
                <span ng-if="i != page">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{i}}">{{i}}</a>
                </span>
                  </li>
                  <li>
                <span ng-show="nextPage.isEnable">
                    <a href="/#/job-listing/{{searchJob.keyword}}+{{searchJob.locationId}}+{{searchJob.location}}/{{nextPage.pageIndex}}"><i class="fa fa-angle-right"></i></a>
                </span>
                <span ng-show="!nextPage.isEnable" class="unClick">
                    <i class="fa fa-angle-right"></i>
                </span>
                  </li>
              </ul>
          </div>
        <div class="total-pages" translate="totalPages" translate-value-number="{{totalPage}}"></div>
      </div>
    </div>

  </div>
</div>