<div class="content-page-block">
  <div class="content-page-detail dashboard">
    <div class="col-md-6 my-challenges-block">
      <div class="dashboard-box">
        <div class="sub-header-dashboard">
          <h3 translate="myChallenges"></h3>
          <a translate="postNow" class="btn btn-primary btn-flat" href="#/post-challenge"></a>
        </div>
        <div class="dashboard-content">
          <div class="active-item">
            <strong>{{dashboardInfo.challenges.length}}</strong>
            <p translate="activeChallenges"></p>
          </div>
          <div class="total-people">
            <strong>{{dashboardInfo.challenges | total: "numberOfRegistrants"}}</strong>
            <p translate="contestants"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-projects-block">
      <div class="dashboard-box">
        <div class="sub-header-dashboard">
          <h3 translate="myProjects"></h3>
          <a translate="postNow" class="btn btn-primary btn-flat" href="#/freelancer/post-project"></a>
        </div>
        <div class="dashboard-content">
          <div class="active-item">
            <strong>{{dashboardInfo.projects.length}}</strong>
            <p translate="activeProjects"></p>
          </div>
          <div class="total-people">
            <strong>{{dashboardInfo.projects | total: "numberOfApplications"}}</strong>
            <p translate="freelancerHasApplied"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-challenges-list contestant-page">
        <table class="contests-table">
          <thead>
          <tr>
            <th translate="activeChallengesDashBoard" class="align-left"></th>
            <th translate="currentPhase"></th>
            <th translate="closeOn"></th>
            <th translate="contestantsDashBoard"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="dashboardInfo.challenges.length < 0">
            <td colspan="4">{{'noData' | translate}}</td>
          </tr>
          <tr ng-repeat="challenge in dashboardInfo.challenges">
            <td data-label="{{'activeChallengesDashBoard' | translate}}">
              <a href="#/challenge-detail/{{challenge.challengeName | nonAscii}}-{{challenge.challengeId}}-id" class="name">{{challenge.challengeName}}</a>
            </td>
            <td data-label="{{'currentPhase' | translate}}">
              <span translate="{{challenge | progress:'challenge'}}" />
            </td>
            <td data-label="{{'closeOn' | translate}}">
              {{challenge.submissionDateTime}}
            </td>
            <td data-label="{{'contestantsDashBoard' | translate}}">
              {{challenge.numberOfRegistrants}}
            </td>
          </tr>
          <tr>
            <td data-label="csacasc">
              <a href="#/challenge-detail/{{challenge.challengeName | nonAscii}}-{{challenge.challengeId}}-id" class="name">dsvdsvdsv}</a>
            </td>
            <td data-label="cascas">
              vdsvdsvds
            </td>
            <td data-label="cascas">
              vsdvds
            </td>
            <td data-label="casc">
              vsdvdsv
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="active-projects-list contestant-page">
        <table class="contests-table">
          <thead>
          <tr>
            <th translate="activeProjectsDashBoard" class="align-left"></th>
            <th translate="applications"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="dashboardInfo.projects.length < 0">
            <td colspan="2">{{'noData' | translate}}</td>
          </tr>
            <tr ng-repeat="project in dashboardInfo.projects">
              <td data-label="{{'activeProjectsDashBoard' | translate}}">
                <a href="#/freelancer/project-detail/{{project.projectTitle | nonAscii}}-{{project.projectId}}-id" class="name">{{project.projectTitle}}</a>
              </td>
              <td data-label="{{'applications' | translate}}">
                {{project.numberOfApplications}}
              </td>
            </tr>
          <tr>
            <td data-label="csacasc">
              <a href="#/challenge-detail/{{challenge.challengeName | nonAscii}}-{{challenge.challengeId}}-id" class="name">dsvdsvdsv}</a>
            </td>
            <td data-label="cascas">
              vdsvdsvds
            </td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
