<div class="row search-block search-result-block" infinite-scroll="search.nextPage()"
     infinite-scroll-disabled="search.busy"
     infinite-scroll-distance='1'>
  <div class="row search-logo-block">
    <div class="col-md-6 logo-block">
      <img ng-src="images/logo.png" alt="Career Analytics. Open Source. Awesome!"
           title="Career Analytics. Open Source. Awesome!">
    </div>
    <div class="col-md-6 close-button">
      <a href="#/jobs/search" class="btn-close" title="Close">X</a>
    </div>
  </div>
  <div class="search-page">
    <div class="search-form-container">
      <select class="termsList" multiple>
      </select>
      <a class="btn-search search-result"><i class="fa fa-search"></i></a>

      <div class="jobs-total"><strong></strong> Jobs</div>
    </div>
    <div class="search-result-container-block">
      <div class="job-item" ng-repeat="job in search.jobs">
        <div class="job-infor" data-url="{{job.url}}" ng-click="openDetail($event)">
          <div class="job-title">
            {{job.title}}
          </div>
          <ul>
            <li><i class="fa fa-money"></i>Negotiable</li>
            <li><i class="fa fa-map-marker"></i>{{job.location}}</li>
            <li><i class="fa fa-male"></i>{{job.level}}</li>
            <li><i class="fa fa-calendar"></i>{{job.postedOn}}</li>
          </ul>
        </div>
        <div class="company-video" ng-show="{{job.videoUrl.length}}">
                        <span>
                        <i class="fa fa-play-circle-o" class="play-video" ng-click="playVideo($event)"
                           ng-url="{{job.videoUrl}}" data-toggle="modal"
                           data-target="#myModal"></i></span>
        </div>
        <div class="company-logo">
          <span class="company-name" ng-show="{{!job.logoUrl.length}}">{{job.company}}</span>
          <img title="{{job.company}}" ng-src="{{job.logoUrl}}" ng-show="{{job.logoUrl.length}}" data-url="{{job.url}}"
               ng-click="openDetail($event)">
        </div>
      </div>
      <div ng-show='search.busy'>Loading data...</div>
    </div>
    <div class="loading-paging"></div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <iframe width="590" height="450" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


