<div class="row search-block">
  <div class="sub-page-header">
    <div class="logo-block">
      <img ng-src="images/techlooper-logo.png" alt="Career Analytics. Open Source. Awesome!" class="btn-logo desktop">
      <img ng-src="images/logo.png" alt="Career Analytics. Open Source. Awesome!" class="btn-logo mobile">
      <div class="tech-line">
        <h2 translate>tagLine</h2>
      </div>
    </div>
    <div class="close-button">
      <a class="btn-close" title="Close">X</a>
    </div>
  </div>
  <div class="search-page">
    <div class="search-form-container">
      <!--<input class="searchText" type="text"/>-->
      <input type="text" class="searchText"  />
      <a class="btn-search search-form"><i class="fa fa-search"></i></a>
    </div>
    <div class="technical-Skill-List">
      <ul>
        <li ng-repeat="skill in skills">
          <img ng-src="images/{{skill.logo}}" title="{{skill.text}}" ng-click="selectSkill(skill.text)">
        </li>
      </ul>
    </div>
  </div>
</div>