body {
  background: #2e272a url(../images/bg.png) center top no-repeat;
  font-size: 12px;
  font-family: Roboto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.landingpage-webapp {
  width: 100%;
  text-align: center; }

.landingpage-main {
  width: 300px;
  margin: auto;
  padding-top: 50px;
  position: relative; }

.bubble-logo {
  border-radius: 50%;
  background: #2f2c2f;
  width: 300px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  -webkit-box-shadow: 0px 0px 59px 15px rgba(0, 123, 220, 0.2);
  -moz-box-shadow: 0px 0px 59px 15px rgba(0, 123, 220, 0.2);
  box-shadow: 0px 0px 59px 15px rgba(0, 123, 220, 0.2); }
  .bubble-logo img {
    width: 80%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.join-us {
  width: 300px;
  height: 44px;
  position: absolute;
  bottom: 0; }
  .join-us a {
    width: 100%;
    display: block;
    height: 44px;
    border: 1px solid #007cdc;
    border-radius: 10px;
    color: #fff;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    text-align: center; }
  .join-us a:hover {
    background-color: #007cdc; }
  .join-us span.ic-github {
    background: url(../images/ic-github.png) right 7px no-repeat;
    width: 90px;
    display: block;
    margin: auto;
    padding-right: 45px; }

.landingpage-terms {
  width: 100%;
  clear: both;
  display: block;
  position: fixed;
  bottom: 0; }
  .landingpage-terms .term {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #ccc url(../images/logo-terms.png) left top no-repeat;
    position: absolute;
    opacity: 0.8; }
  .landingpage-terms .term.java {
    background-color: #332e32;
    bottom: 10px;
    width: 80px;
    height: 80px;
    background-position: center top;
    left: 0;
    z-index: 99; }
  .landingpage-terms .term.php {
    background-color: #4c494e;
    background-position: center -98px;
    bottom: 0;
    left: 28%; }
  .landingpage-terms .term.dotnet {
    background-color: #231f20;
    background-position: center -170px;
    width: 180px;
    height: 180px;
    bottom: 20px;
    left: 34%; }
  .landingpage-terms .term.python {
    background-color: #585657;
    background-position: center -340px;
    bottom: -30px;
    width: 150px;
    height: 150px;
    left: 53%; }
  .landingpage-terms .term.jenkins {
    background-color: #231f20;
    background-position: center -510px;
    bottom: -15px;
    width: 180px;
    height: 180px;
    left: 70%; }
  .landingpage-terms .term.html {
    background-color: #262324;
    background-position: center -730px;
    bottom: 40px;
    width: 70px;
    height: 70px;
    left: 94%; }
  .landingpage-terms .term.css {
    background-color: #4c494e;
    background-position: center -860px;
    bottom: 120px;
    width: 60px;
    height: 60px;
    left: 55%; }
  .landingpage-terms .term.angularjs {
    background-color: #454143;
    background-position: center -960px;
    bottom: -50px;
    width: 160px;
    height: 160px;
    left: 85%; }
  .landingpage-terms .term.backbonejs {
    background-color: #454143;
    background-position: center -1198px;
    bottom: 20px;
    width: 110px;
    height: 110px;
    left: 80%; }
  .landingpage-terms .term.grunt {
    background-color: #231f20;
    background-position: center -1390px;
    bottom: -20px;
    width: 200px;
    height: 200px;
    left: 3%; }
  .landingpage-terms .term.github {
    background-color: #464247;
    background-position: center -1643px;
    bottom: 120px;
    width: 60px;
    height: 60px;
    left: 15%; }
  .landingpage-terms .term.cplusplus {
    background-color: #464247;
    background-position: center -2230px;
    bottom: 100px;
    width: 120px;
    height: 120px;
    left: 65%; }
  .landingpage-terms .term.js {
    background-color: #262223;
    background-position: center -1942px;
    bottom: 80px;
    width: 110px;
    height: 110px;
    left: 25%; }
  .landingpage-terms .term.notejs {
    background-color: #4c494e;
    background-position: center -1750px;
    bottom: -20px;
    width: 160px;
    height: 160px;
    left: 17%; }
  .landingpage-terms .term.bower {
    background-color: #585657;
    background-position: center -2092px;
    bottom: 0;
    width: 100px;
    height: 100px;
    left: 46%; }
  .landingpage-terms .term.yeoman {
    background-color: #464247;
    background-position: center -2400px;
    bottom: 0;
    width: 110px;
    height: 110px;
    left: 63%; }

/*# sourceMappingURL=landingpage.css.map */
